[2020-04-05 11:27] satya7289 commented on #472
@aayush-05 @sammy1997 Actually the credentials like CLIENT ID, SECRET KEY, KEY are not provided in the backend(Admin: Social Accounts › Social applications) for the social app provider. After adding these credentials it is working, I have checked for Facebook it is working on my localhost.

[2020-04-06 20:00] aayush-05 commented on #472
Ah, then maybe they aren't exposed for the development environment. But maybe we can have a dummy set added to the settings file, so any newcomer knows where to add them up. (maybe a section in readme help)

[2020-04-07 12:45] Praful932 commented on #332
@sammy1997 I would like to work on this issue

[2020-04-10 18:03] #311 closed

[2020-04-11 15:44] sammy1997 commented on #332
Go ahead @Praful932

[2020-04-13 06:16] satya7289 commented on #432
@sammy1997 I want to work on this issue.

[2020-04-14 13:54] sammy1997 commented on #491
@arunikayadav42 Status on this?

[2020-04-14 14:00] sammy1997 commented on #432
@satya7289 The issue is now available. You can work on it

[2020-04-14 17:23] Praful932 commented on #332
@sammy1997 I had trouble with rebase in the first PR. I have made a new PR #522 , Please Check Thank you.

[2020-04-28 15:59] #491 closed

[2020-04-30 12:14] AyushSatyam commented on #410
Hello @monajalal can I work on this issue?

[2020-05-02 14:01] sakshi1499 commented on #470
@sammy1997 I second you on that.

[2020-05-06 18:24] #338 closed

[2020-05-07 12:06] sakshi1499 commented on #395
PR for this issue has already been merged.

[2020-05-07 12:06] #395 closed

[2020-05-07 12:14] sakshi1499 commented on #269
Closing this issue as the PR for this issue has been merged already.

[2020-05-07 12:14] #269 closed

[2020-05-07 12:16] sakshi1499 commented on #265
@Vishnupriya1507 Do you want to work on it? Given that it has been really long since you commented.

[2020-05-12 05:18] #370 closed

[2020-05-14 11:14] satya7289 commented on #472
I want to take up the issue.

[2020-05-14 11:24] satya7289 opened #526 "Resolve logout URL"
## Description
As a user,
I need to log out of the portal.

## Mocks
![Screenshot from 2020-04-16 12-36-29](https://user-images.githubusercontent.com/35588980/79426341-aa03d080-7fe0-11ea-9fa4-eb3c7697184b.png)

## Acceptance Criteria
It should log out of the portal successfully.

## Estimation
[1/2] hours

[2020-05-14 12:55] sakshi1499 opened #527 "Mapview of Communities UI"
## Description
As a User,
I should be able to look at the Mapview of communities and filter communities as per my region preference.
so that I can have a better understanding of the communities in and around me.

## Mocks
Have to be created to satisfy the above description.
The Mapview Community Page should include:
1) Search option (sticky search)
2) Community Grids
3) Map pinpointing the locatio

[2020-05-14 13:16] sakshi1499 opened #528 "UI for Meetups Page"
## Description
As a user,
I need a minimal, simplistic view of Meetups Page.

## Mocks
Mocks have to be created for the Meetup page.
It should include the following:
1) A search bar.
2) A location input field which should be auto filled.
3) Grid of events being organized near to that location.
4) Other events section which can include past events that were held.

Inspiration can be taken from http

[2020-05-16 07:51] saurabhkanswal opened #529 "Text alignment in email verification page"
## Description
As a user, when i redirect to email-verification page after clicking on signup button.
then the text is not properly align in email verification page, which look a little bit odd.

## Mocks
![1](https://user-images.githubusercontent.com/26677033/82113743-01c76000-9776-11ea-86c3-f1722d31f723.PNG)

## Acceptance Criteria
### Update [Required]
- [ ] align the text properly and comment

[2020-05-16 13:59] satya7289 opened #530 "Margins on every page."
## Description
Margins of every page need to be fixed.

## Mocks
reference
<img width="528" alt="Screenshot-2020-05-09-at-19 00 44" src="https://user-images.githubusercontent.com/35588980/82121457-cbf09e80-97aa-11ea-9d7b-ee860adeca44.png">

## Acceptance Criteria
### Update [Required]
- [x] Margins of every page should be fixed.

## Definition of Done
- [ ] All of the required items are completed.

[2020-05-16 15:59] yashshah2820 commented on #530
on it 👍

[2020-05-17 09:38] yashshah2820 opened #531 "making the location drop-down more user friendly"
## Description
As a member,
I need to make the location selection section more user friendly
so that I can user can just type the city or state name and the drop-down can sort the right choices of the cities.

## Mocks
![image](https://user-images.githubusercontent.com/42682370/82140891-bf725180-984f-11ea-967f-175719a3cb2f.png)

## Acceptance Criteria
### Update [Required]
- [ ] meetup locations

[2020-05-17 17:26] sakshi1499 opened #533 "Third Party Authentication"
## Description
As a user,
I should be able to login through third party apps.

**The Third Party Apps through which user can login are :**
1) Facebook
2) GitHub
3) Google

Configure allauth to support logins through the above apps.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
48 hours max.

[2020-05-17 17:32] sakshi1499 opened #534 "Add search bar on Communities' Page"
## Description
As a user,
I need a search bar,
so that I can easily search for communities/ locations.

##Acceptance
Sticky Search, both front-end and back-end should be properly implemented.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
48 hours

[2020-05-17 17:37] sakshi1499 opened #535 "Add Community Cards to Communities' Page"
## Description
As a user,
I should be able to see communities in the form of cards,
so that I can easily find the most relevant community to me.

## Acceptance Criteria
The cards should follow the Design Guidelines.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
24 hours.

[2020-05-17 17:43] sakshi1499 opened #536 "Enable Location and Zoom In Feature"
## Description
As a user,
I should be able to Zoom In on the map,
so that I can see the nearby communities.

## Acceptance Criteria
The above description should be properly implemented on the **Communities' Page**.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
4 days

[2020-05-17 17:45] ritwickraj78 commented on #472
@sakshi1499  I guess you must close this issue

[2020-05-17 17:48] sakshi1499 opened #537 "Region Dropdown Feature"
## Description
As a user,
I should be able to select a region from the Drop Down ,
so that I can filter my search according to my given region.

## Acceptance Criteria
The drop down should be properly functional and the user should be able to select region from a given number of options.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimatio

[2020-05-17 17:50] sakshi1499 commented on #472
@ritwickraj78 Great! Thank You!
Closing this issue. Now working on #533 during GSoC

[2020-05-17 17:50] #472 closed

[2020-05-17 17:58] sakshi1499 opened #538 "Recommended Cities on Community's Page"
## Description
As a user,
I should be able to see recommended Cities,
so that I have a clearer idea of communities near my city.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 days

[2020-05-18 16:23] sammy1997 opened #540 "Remove a Meetup's dependency on MeetupLocation"
## Description
As a user,
I should not have to create meetup locations first,
before requesting a meetup location.

## Mocks

![Screenshot from 2020-05-18 21-49-31](https://user-images.githubusercontent.com/24635701/82236288-83271a00-9951-11ea-8003-70d23755816f.png)

## Acceptance Criteria
### Update [Required]
- [ ] Change the meetup model and related models and tests
- [ ] Remove MeeupLocation M

[2020-05-18 16:32] sammy1997 opened #541 "Meetup Search page UI revamp"
## Description
As a user,
I need a better meetup search interface, without the date field and with a distance similar to [Meetup.com](https://www.meetup.com) event search page.

## Mocks
![ss_search](https://user-images.githubusercontent.com/24635701/82236716-25470200-9952-11ea-9530-8b5dd142f2bc.png)

## Acceptance Criteria
### Update [Required]
- [ ] Remove meetup location dropdown
- [ ] Remove d

[2020-05-18 17:13] sammy1997 opened #542 "Improve Portal Dropdown UX"
## Description
As a user,
I need a more intuitive UX for the dropdown in Portal,
so that I can see the needed options on hovering.

## Mocks

![Screenshot from 2020-05-18 22-39-37](https://user-images.githubusercontent.com/24635701/82240809-ae613780-9958-11ea-8521-cfefa275a22f.png)
![Screenshot from 2020-05-18 22-39-14](https://user-images.githubusercontent.com/24635701/82240812-b02afb00-9958-11ea

[2020-05-20 18:28] #530 closed

[2020-05-23 11:35] satya7289 commented on #299
duplicate of issue 533

[2020-05-23 11:35] #299 closed

[2020-05-23 11:40] satya7289 commented on #410
@AyushSatyam sure

[2020-05-23 15:56] saurabhkanswal commented on #278
closing as this issue is not relevant.

[2020-05-23 15:56] #278 closed

[2020-05-23 16:02] saurabhkanswal commented on #287
closing this issue as it is not relevant now.

[2020-05-23 16:02] #287 closed

[2020-05-23 16:07] saurabhkanswal commented on #371
unassigned @Fenn-CS  as there is no response.

[2020-05-23 16:11] saurabhkanswal commented on #409
@BeKingsman are you still available to work on this issue.
thanks.

[2020-05-25 06:37] ritwickraj78 commented on #527
@mayburgos  @sammy1997  @sakshi1499 Here is the previous mockup.
![1 - Screen 1](https://user-images.githubusercontent.com/43514828/82785441-362ad280-9e80-11ea-9a4c-3ea39d76752a.png)

[2020-05-25 06:38] ritwickraj78 commented on #528
The previous mockup.
![2 - Screen 2](https://user-images.githubusercontent.com/43514828/82785539-6a05f800-9e80-11ea-8bd5-0941d48bee8e.png)

[2020-05-25 07:15] ritwickraj78 commented on #528
The updated UI page
![2 - Screen 2](https://user-images.githubusercontent.com/43514828/82788158-88222700-9e85-11ea-8727-9ac9bada9400.png)

[2020-05-25 07:16] ritwickraj78 commented on #527
The updated UI
![1 - Screen 1](https://user-images.githubusercontent.com/43514828/82788256-bbfd4c80-9e85-11ea-9f60-2fc9b2b4c40c.png)

[2020-05-25 16:55] sakshi1499 commented on #527
@ritwickraj78 There are some alignment issues, but its better than before. @mayburgos Should the systers icon be discontinued (anna suggested so) ?

[2020-05-25 17:17] sakshi1499 commented on #528
@ritwickraj78 There is one slight change, the cards in the row have a width of x px and the cards in a column has a width of x/4 px. You have to have both equal or nearly same. I hope you get it otherwise I'll explain again :)

[2020-05-27 09:03] sakshi1499 opened #543 "Individual Meetup Page UI"
## Description
As a user,
I need to have a simple meetup page for individual events,
so that I can RSVP/Subscribe to a particular event and see suggested events.

##Mocks
The UI should include:
1. Resources/ Gallery of the event.
2. RSVP option so that they can receive emails about any updates to a particular event.
3. Suggested Events related to the event they have RSVP'ed about.

## Acceptance C

[2020-05-27 17:05] sammy1997 opened #544 "UI Mocks for Subsciption Settings"
## Description
As a user,
I need to be able to see a settings page,
so that I can select the types of notifications that I should receive.

Following options should be there in the settings:

1. Community Updates
a. Upcoming Events for Communities I’m a member of (eg:- weekly digest that includes the upcoming events for multiple communities)
b. Updates from Community Interactions(eg:- weekly diges

[2020-05-27 17:57] saurabhkanswal commented on #265
@sakshi1499  i think we should close this issue and create a new issue with remaining work i.e for

- Implement text search for meetup locations.

[2020-05-27 18:31] saurabhkanswal opened #545 "Remove google plus sharing button"
As a user when i try to share any meetup event using google plus button, then it shows me that Google Plus is no longer available.
so there is no need of google plus sharing button now as google plus is no longer available.

## Mocks
![21](https://user-images.githubusercontent.com/26677033/83058224-a9e20080-a075-11ea-904e-6493585b3a05.PNG)

## Acceptance Criteria
### Update [Required]
- [ ] remove

[2020-05-27 18:33] gaurivn commented on #545
@saurabhkanswal , I am a first timer to Portal, I would like to work on this issue if it gets approved.

[2020-05-27 18:46] saurabhkanswal commented on #545
@gaurivn as i can see you are in manager team, not in coding team. i don't think you're eligible. please correct me if i am mistaken.😊
thanks

[2020-05-27 18:59] saurabhkanswal commented on #268
@anitab-org/portal-managers  there is a some work left in this issue i.e
**Add a google calendar notify button, Purpose of it being the event would be added to the google calendar of the user.**
did we need this or we put this as future feature?

[2020-05-27 20:58] husainattar commented on #545
@saurabhkanswal I would like to work on this issue.

[2020-05-27 21:02] gaurivn commented on #545
I am not aware of any rules like only people from coding team can solve first timer issues. I am not sure actually but never heard of it. Since I am a first timer to portal, can't I work on this issue?

[2020-05-28 05:43] ritwickraj78 commented on #543
@sakshi1499 The RSVP feature is already there in the Meetups Page. So i just need to add a suggested meetup section at the bottom right?

[2020-05-28 05:45] ritwickraj78 commented on #528
@sakshi1499 I overlooked this one. I actually tried out the square tiles and they dont look well, so I decided to go with the previous ones. If you need it square you can let me know. I will change it

[2020-05-28 05:47] ritwickraj78 commented on #527
@sakshi1499 The alignment issues will be solved while making the actual views IG. Those alignment issues you see are just errors of the human hand :)

[2020-05-28 09:02] saurabhkanswal commented on #545
@husainattar sure, iam assigning you this issue.

[2020-05-28 09:09] gaurivn commented on #545
Please do confirm this with @anitab-org/admins . I had asked in Zulip too and commented here first. Grateful if you could look into this.

[2020-05-28 09:31] saurabhkanswal commented on #545
@gaurivn  no, you are not eligible for coding issues. you can check [here](https://github.com/orgs/anitab-org/teams?query=%40gaurivn) for teams you are in.

[2020-05-28 11:41] SanketDG commented on #527
@ritwickraj78

The UI mockups don't look ideal but I understand they are just mockups and the real thing will come out much differently. Here are a couple of pointers (on the real thing, not the mockup (: )

- Is that a mockup of a specific Map tool being used? Also, what Map tool have you decided to use when this will be implemented in the near future?
- When one hovers over a community, the card

[2020-05-28 11:51] SanketDG commented on #528
Pointers:

- I would remove the location search features entirely because they will not be used by 99% of end users, hence bloat. We are not a meetup aggregator and we shouldn't aim to be one. Just a search box should be fine. If we find ourselves needing the location searches back, we can add it back.

- The "card" design primitive seems to be used both here and on the communities page, there sho

[2020-05-28 12:34] sakshi1499 commented on #528
@ritwickraj78 I didn't ask you to square them, I just asked to keep the bottom and the right margin for each card to be equal

[2020-05-28 12:37] sakshi1499 commented on #543
Yes, but the mock you make will show the full page right? It was just mentioned so you don't miss what's important in that page. ☺️ @ritwickraj78

[2020-05-28 13:38] gaurivn commented on #545
I am eligible since I am a first timer and commented first on this first timer issue.

[2020-05-28 13:41] mayburgos commented on #528
@SanketDG We already discussed this over the past few weeks. Please do not confuse Ritwick any further.

You have brought up very good points, however, as mentioned earlier we've already had weeks of meetings and back and forth discussions before the team came to a consensus.

The whole app's design is primitive, so it's not off brand. If you would like to update the design, please create UI issue

[2020-05-28 13:42] mayburgos commented on #527
@SanketDG We already made these decisions as mentioned in the other issue, please open new UI issues for other community members to claim to address the UI changes you mentioned.

[2020-05-28 13:50] SanketDG commented on #528
@mayburgos Absolutely, I understand. Apologies if I was implying that I want the student to absolutely do this, these were just ideas that I was bouncing off the top of my head.

Hopefully, the future mentor meetings will give me and others a better idea of the roles and responsibilities I am expected to perform.

[2020-05-29 10:28] gaurivn commented on #545
I am indeed eligible as a first timer.

[2020-05-29 13:45] sakshi1499 opened #546 "Remove Systers' Logo"
## Description
As a user,
only AnitaB.org logo should be visible.

## Mocks
![image](https://user-images.githubusercontent.com/42520146/83266503-89828500-a1e0-11ea-816c-47d58cd356cb.png)

## Acceptance Criteria
Systers Logo should be removed.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

[2020-05-29 13:56] gaurivn commented on #546
I would like to work on this issue.

[2020-05-29 14:02] sakshi1499 commented on #546
@gaurivn I'll consider this as a first timer issue. Are you currently assigned to any other issue? If not will this be your first time?

[2020-05-29 14:03] gaurivn commented on #546
@sakshi1499 , no I am not assigned to any other issue and I am a first timer to portal.

[2020-05-29 14:04] sakshi1499 commented on #546
Okay cool :) @gaurivn

[2020-05-29 14:05] gaurivn commented on #546
Thank you @sakshi1499

[2020-05-29 14:22] ritwickraj78 commented on #527
@SanketDG  Its google maps API. And also when one hovers the box contains a link which takes us directly to the community page which contains all the details.

[2020-05-29 14:24] ritwickraj78 commented on #528
@sakshi1499  Gotcha!! @SanketDG Those points are great:) Thank you for the insights. @mayburgos Sure.

[2020-05-29 14:24] ritwickraj78 commented on #543
@sakshi1499  Alright!

[2020-05-31 12:57] sakshi1499 opened #547 "Meetup History Frontend"
## Description
As a user,
I should be able to see the meetup history for each meetup,
so that I can get a rough idea about the meetup .

## Mocks
In progress

## Acceptance Criteria

The meetup history page should be inclusive of a gallery of images of the event and the resources of that particular meetup.
The meetup history page should be visible for both upcoming and past events.

## Definition

[2020-05-31 13:01] sakshi1499 opened #548 "Meetup History Backend"
## Description
As a user,
I should be able to see the meetup history for each meetup,
so that I can get a rough idea about the meetup .

## Mocks
In progress

## Acceptance Criteria
When you click on meetup, you’ll get meetup history that shows resources.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
3 days.

[2020-05-31 16:11] sammy1997 opened #549 "Create a subscription settings page"
## Description
As a user,
I need be able to see a settings page,
so that I can select the kinds of notifications that will be sent to me.

Following options should be there in the settings:

1. Community Updates
a. Upcoming Events for Communities I’m a member of (eg:- weekly digest that includes the upcoming events for multiple communities)
b. Updates from Community Interactions(eg:- weekly digest

[2020-05-31 16:18] sammy1997 opened #550 "Community updates on joining"
## Description
As a user,
I should receive weekly updates about a community once I join it,
and this should be according to the selected settings as mentioned in #549.

## Mocks
No UI mocks needed

## Acceptance Criteria
### Update [Required]
- [ ] Create a view to handle community updates for members
- [ ] Write the tests for the views

## Definition of Done
- [ ] All of the required items are co

[2020-05-31 19:27] saurabhkanswal commented on #545
@husainattar any update?

[2020-05-31 19:28] ritwickraj78 commented on #544
@mayburgos  @sakshi1499 @sammy1997  @SanketDG Will this be fine for a rough mock?
![3 - Screen 3](https://user-images.githubusercontent.com/43514828/83360974-e168e980-a3a2-11ea-9743-4a477902ec54.png)

[2020-05-31 19:35] husainattar commented on #545
@saurabhkanswal  yes I have completed it on the same day but there was some error I don't while creating meetup I was not able to select a location that's why I was not able to take screenshots. I guess it was some other issues. BTW my code passed the test.

[2020-05-31 19:37] husainattar commented on #545
@saurabhkanswal  I am going to create a pull request.

[2020-05-31 19:44] sakshi1499 commented on #544
@ritwickraj78 It looks great😍
I'll take in suggestions from design team and make issues for community 😬

[2020-05-31 19:54] ritwickraj78 commented on #543
This part would be at the end of the meetup page. @mayburgos @sakshi1499 @SanketDG @sammy1997
![1 - Screen  4](https://user-images.githubusercontent.com/43514828/83361428-8df89a80-a3a6-11ea-875b-0170268537c6.png)

[2020-06-01 07:01] saurabhkanswal commented on #545
@husainattar let me check
btw you can check the implementation of the share button here #274

[2020-06-01 08:53] sammy1997 commented on #544
Seems good @ritwickraj78 !

[2020-06-01 08:55] sammy1997 commented on #543
Looks good. Just left align the text than center aligning them. I think that would look better

[2020-06-01 14:27] sakshi1499 commented on #543
+1 @sammy1997

[2020-06-01 14:34] ritwickraj78 commented on #543
@sammy1997 Cool will keep the changes in mind while making it

[2020-06-02 08:50] gaurivn commented on #546
I am working on it, will send updates.

[2020-06-02 09:00] gaurivn commented on #546
@sakshi1499 , I am getting this error
[code]
Please help me solve this issue. I had tried psql for the password.

[2020-06-02 09:09] gaurivn commented on #546
@sakshi1499 , I am getting this error on ubuntu
[code]
Please help me solve this issue. I had tried psql for the password.

[2020-06-02 11:23] ritwickraj78 commented on #533
@mayburgos I have added all the required code part in the settings. All you need to do is create the apps and insert the client key and secret key in the Social Applications. @sakshi1499 @SanketDG @sammy1997 Please review this PR

[2020-06-02 11:52] SanketDG commented on #546
@gaurivn Did you do a google search first?

https://stackoverflow.com/questions/7695962/postgresql-password-authentication-failed-for-user-postgres

[2020-06-02 13:22] sakshi1499 commented on #546
@gaurivn You can give the the above link a read. If you are unable to solve the errors, I'll suggest you to run these commands in the given order

`sudo find / -type f -iname pg_hba\.conf`

Then it'll give you the path, run the command below but change the number '11' according to your file path number.

`sudo nano /etc/postgresql/11/main/pg_hba.conf`

Change local all all md5 to peer.

Then start

[2020-06-02 16:45] gaurivn commented on #546
Yes @SanketDG thank you , I had googled and came across the same link, was trying it out when I started facing technical issues that lasted nearly 3 hrs.

[2020-06-02 16:48] gaurivn commented on #546
Thank you very much @sakshi1499 , I tried it but it still didn't work, I'll change local all postgres to peer and try again.

[2020-06-02 16:51] sakshi1499 commented on #546
Yes change it. It will work don't give up haha @gaurivn

[2020-06-04 13:10] SanketDG opened #552 "Implement oAuth credentials as environment variables"
## Description

As a developer or someone who sets up the application,
I would want to easily set up the oAuth integrations that are already implemented.

Currently, given how `django-allauth` works by default, one has to go into the admin console
and create new oAuth apps.

Using settings.py for the application credentials is also supported by `django-allauth` and this aligns with https://12facto

[2020-06-04 17:39] sakshi1499 opened #553 "Improve the current Portal UI"
## Description
As a user,
I should have an easy to understand and beautiful UI,
so that I can have a better user experience.

## Acceptance Criteria
The current UI should be improved and should follow the Design Guidelines.

## Definition of Done
- [ ]  All of the required items are completed.

- [ ] Approval by 1 mentor.

## Estimation
48 hours

[2020-06-04 17:40] sakshi1499 commented on #553
@mayburgos If you could review it once, I'll tag the design team then :)

[2020-06-04 17:46] SanketDG commented on #552
@satya7289 Nope, only the ones we have, see https://github.com/anitab-org/portal/blob/develop/systers_portal/templates/account/signup.html

[2020-06-06 12:45] LaibaBasit008 commented on #529
Hi I would Like to work on this issue

[2020-06-06 12:50] mayburgos commented on #467
@anitab-org/portal-managers can I be assigned this issue?

[2020-06-06 18:43] SanketDG commented on #529
@LaibaBasit008 there you go!

[2020-06-08 17:50] Tanuj22 commented on #545
@saurabhkanswal Is this issue taken/assigned? I would like to work on it

[2020-06-08 18:00] SanketDG opened #558 "Create a view for Meetup updates (Backend)"
## Description
As a meetup owner, I should be able to post updates to meetups.

As  a meetup attendee, for any RSVP'd meetings:
- Receive updates on Location Change
- Receive updates on Date Change
- Receive updates on Time Change
- Reminders for the event (1 day prior, 1 hour prior)

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
48

[2020-06-08 18:02] SanketDG opened #559 "Suggested meetups UI"
## Description
As a user, I would want to see suggested meetups on any meetup page.

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
48 hours

[2020-06-08 18:02] husainattar commented on #545
Hi @Tanuj22 actually I have been assigned working on this issue and I am going to create a merge request

[2020-06-08 18:10] SanketDG opened #560 "Train the meetup corpus with Django views (Backend)"
## Description
Train the meetup corpus data and then integrate the tags in django views.

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
8 days

[2020-06-09 08:34] #534 closed

[2020-06-09 11:41] gaurivn commented on #546
I am working on it. Got a bit busy with exams....will send a PR soon.

[2020-06-09 13:18] LaibaBasit008 commented on #529
[Screenshot](https://drive.google.com/file/d/1V7L0-bDAgK1g2bsyYJTgiyOPME_1ymGa/view?usp=sharing)

[2020-06-09 15:52] sakshi1499 commented on #546
@gaurivn No issues :)

[2020-06-11 19:02] jhalak27 opened #563 "Docs: Minor updates to Setup documentation on ReadMe"
## Description
As a user,
I think there can be some changes in readme,
so that instructions for protal env setup (for ubuntu) can be improved.

## Acceptance Criteria
### Update [Required]
- [ ] In 8., path of dev.py should be corrected to systers_portal/systers_portal/settings/dev.py

### Enhancement to Update [Optional]
- [ ] In 8., database details to be filled can be mentioned
- [ ] In 6., com

[2020-06-12 14:34] sakshi1499 commented on #265
@saurabhkanswal We have actually changed the whole idea of meetups now, so yes we should close it. Closing this issue.

[2020-06-12 14:34] #265 closed

[2020-06-12 14:39] sakshi1499 commented on #203
I don't think we should add it in setup. Closing it.

[2020-06-12 14:39] #203 closed

[2020-06-12 14:44] sakshi1499 commented on #266
This has been planned for GSoC'20. Closing this issue as an issue for this already exists.

[2020-06-12 14:44] #266 closed

[2020-06-12 14:51] sakshi1499 commented on #516
This is being done in GSoC'20. A new issue for this exists.

[2020-06-12 14:51] #516 closed

[2020-06-12 15:33] sakshi1499 commented on #347
The issue wasn't approved, PR has been closed. Closing this issue.

[2020-06-12 15:33] #347 closed

[2020-06-12 15:51] mayburgos commented on #263
Volunteers App was archived and no longer in production.

[2020-06-12 15:51] #263 closed

[2020-06-13 08:04] satya7289 commented on #286
Duplicate of the [issue](https://github.com/anitab-org/portal/issues/432).

[2020-06-13 08:04] #286 closed

[2020-06-13 08:09] satya7289 commented on #334
As we are going to remove the meetup location feature, so this issue will become irreverent. So we are closing the issue.

[2020-06-13 08:09] #334 closed

[2020-06-13 08:12] satya7289 commented on #344
Duplicate of this [issue](https://github.com/anitab-org/portal/issues/533)

[2020-06-13 08:12] #344 closed

[2020-06-13 09:03] satya7289 opened #565 "Upgrade Django to latest version"
## Description
As a developer,
I need upgrade Django.
so that portal is up to date with the latest dependency.

## Acceptance Criteria
Django is updated to latest stable version.

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
4 hours

[2020-06-15 17:47] saurabhkanswal commented on #545
@husainattar i will create another issue for location error, you can create PR. 🎊
thanks

[2020-06-15 18:30] mayburgos commented on #217
No one is currently using Docker to run Portal. We're going to update our documentation so we don't have Docker setup instructions.

[2020-06-15 18:30] #217 closed

[2020-06-15 18:30] mayburgos commented on #378
No one is currently using Docker to run Portal. We're going to update our documentation so we don't have Docker setup instructions.

[2020-06-15 18:30] #378 closed

[2020-06-15 18:30] mayburgos commented on #379
No one is currently using Docker to run Portal. We're going to update our documentation so we don't have Docker setup instructions.

[2020-06-15 18:30] #379 closed

[2020-06-16 07:13] gaurivn commented on #546
@sakshi1499 , @SanketDG , I could run portal on ubuntu. I would like to suggest few changes to the [ubuntu portal doc](https://docs.google.com/document/d/1nL5c1xxse_ulHbjTgaHHv7XTIf41lQV0msYB7xesJGU/edit).

[2020-06-16 07:17] sakshi1499 commented on #546
@gaurivn This isn't the right place to suggest it. Suggest the changes on Portal Channel on Zulip under Documentation. :)

[2020-06-16 07:27] gaurivn commented on #546
Sure @sakshi1499 , will suggest there.
And Systers and AnitaB.org logo is one image altogether as shown below:
![systersanitablogo](https://user-images.githubusercontent.com/48416306/84744411-44be6280-afc4-11ea-8700-b92e64989683.png)

[2020-06-16 07:29] gaurivn commented on #546
How do I proceed? Should I delete this and add a new AnitaB.org logo.
I guess I'll crop it out.

[2020-06-16 12:07] #536 closed

[2020-06-18 15:07] LaibaBasit008 commented on #563
Hi, I would like to work on this issue

[2020-06-21 04:35] #545 closed

[2020-06-22 15:30] sakshi1499 commented on #563
@LaibaBasit008 Sure.

[2020-06-22 15:34] sakshi1499 commented on #449
This issue is now available.

[2020-06-22 15:38] satya7289 commented on #565
If this is approved, I want to work on this.

[2020-06-28 08:24] #272 closed

[2020-06-29 18:39] #540 closed

[2020-07-01 20:50] sakshi1499 commented on #380
Closing this because old wiki data has been moved to the current one.

[2020-07-01 20:50] #380 closed

[2020-07-01 20:56] sakshi1499 commented on #373
Closing this issue as it is not relevant anymore.

[2020-07-01 20:56] #373 closed

[2020-07-01 20:59] sakshi1499 commented on #457
Closing this issue as a new domain name is being worked on and the link will be moved.

[2020-07-01 20:59] #457 closed

[2020-07-01 21:02] sakshi1499 commented on #371
Closing this issue as this is not relevant.

[2020-07-01 21:02] #371 closed

[2020-07-01 21:04] sakshi1499 commented on #330
Closing this issue as changes in meetups are being made in Gsoc'20.

[2020-07-01 21:04] #330 closed

[2020-07-06 17:58] sakshi1499 opened #573 "Correct the Wiki link on the Navbar"
## Description
As a user,
I should be able to redirect to the correct wiki.

## Mocks
![image](https://user-images.githubusercontent.com/42520146/86624021-3d491280-bfe0-11ea-9809-399986bf1995.png)

### Update [Required]
- Redirect to the correct wiki link i.e. Current portal wiki link.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation

[2020-07-06 18:03] sakshi1499 opened #574 "Correct the Github Link on the Contact Page"
## Description
As a user,
I should be able to see the correct GitHub Page.

## Mocks
![image](https://user-images.githubusercontent.com/42520146/86624412-e5f77200-bfe0-11ea-9308-fc086d0fe187.png)

### Update [Required]
- [ ] Correct the link associated with the GitHub icon.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2020-07-06 18:05] sakshi1499 commented on #565
@satya7289 Add the version to which we are moving. This issue is now available. Sanket also wants to work on it. So in case you have any doubts reach out to me or @SanketDG

[2020-07-06 18:06] sakshi1499 commented on #565
@satya7289 Please confirm once if you still want to work on it, I'll assign accordingly.

[2020-07-06 18:42] satya7289 commented on #565
Yes, interested. Django version 2 @sakshi1499

[2020-07-06 18:48] sakshi1499 commented on #565
@satya7289 Isn't the latest version 3.0.8?

[2020-07-06 20:29] SanketDG commented on #565
2.2 is LTS, but let's just go with 3.0, we can be bleeding edge :rocket:

[2020-07-07 05:47] Neilblaze commented on #573
@sakshi1499 can you assign me this?

[2020-07-07 06:11] SanketDG commented on #573
@Neilblaze There you go!

[2020-07-07 06:41] sakshi1499 commented on #573
@Neilblaze I hope this is your first time making a PR in Portal. This issue is strictly for first timers. If yes, yay go ahead ☺️

[2020-07-07 06:44] Neilblaze commented on #573
Yes, this is the first time I'm making a PR in Portal.

[2020-07-07 07:24] Neilblaze commented on #573
@sakshi1499 Before I create a PR, I want to review for the final time that the redirection to the correct wiki link is - https://github.com/anitab-org/portal/wiki

Also, there is a documentation mistake in the Systers Portal (https://github.com/anitab-org/portal) in "Setup-for-developers-windows" (https://github.com/anitab-org/portal#setup-for-developers-windows).

The correct method to create a v

[2020-07-07 07:33] sakshi1499 commented on #573
@Neilblaze Yes. That is the correct link. For the changes in documentation, I think we have an issue for it already created. Ping about the changes you suggest there instead of mentioning it on this issue. ☺️

[2020-07-07 07:38] Neilblaze commented on #573
Cool then 😃
Creating a PR!

[2020-07-07 07:55] Neilblaze commented on #573
@sakshi1499 have a look!

[2020-07-07 10:05] Neilblaze commented on #573
@sakshi1499 please check #577

[2020-07-07 11:59] vj-codes commented on #574
Heyy I would like to work on this

[2020-07-07 12:35] sakshi1499 commented on #574
@vj-codes Vaishnavi is this your first time making a PR in portal? Its strictly a first timer issue. ☺️

[2020-07-07 13:31] vj-codes commented on #574
yupp @sakshi1499

[2020-07-07 15:36] ritwickraj78 commented on #573
@Neilblaze Approved

[2020-07-07 15:58] #573 closed, assigned to Neilblaze

[2020-07-10 17:56] theyashshahs opened #580 "add python-decouple for handling the environment variables"
## Description
As a member,
I need to add python-decouple to manage the **DJANGO SECRET KEY** and other sensitive env variables,
so that I can easily set up the project.

## Acceptance Criteria
### Update [Required]
- [ ] settings/base.py
- [ ] settings/dev.py
- [ ] requirements/prod.txt

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimatio

[2020-07-10 18:11] sakshi1499 opened #581 "Docker Setup for Portal"
## Description
As a user,
I need to have Docker setup,
so that I can quickly start working on the project.

### Update [Required]
- [ ] Improve Documentation
- [ ] Remove Bugs if any

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
48 hours

[2020-07-10 19:52] husainattar commented on #581
Hello  @sakshi1499  ma'am can you assign me with this task.

[2020-07-10 20:23] #574 closed, assigned to vj-codes

[2020-07-11 08:05] sakshi1499 opened #583 "LinkedIn link broken on Contact Page"
## Description
As a user,
I need to have the correct linkedIn link,
so that I can easily reach out and contact.

Redirect the current link to this [link](https://www.linkedin.com/company/anitab-org/) instead.

## Mocks
![image](https://user-images.githubusercontent.com/42520146/87219695-17729380-c37b-11ea-8bd8-a53fe0408153.png)

### Update [Required]
- [ ] LinkedIn icon should redirect to the corr

[2020-07-11 08:05] sakshi1499 commented on #583
@mayburgos Do we have a Linkedin page or should we remove the Linkedin icon?

[2020-07-11 08:07] sakshi1499 commented on #583
For now I think we can link it to this page [Link](https://www.linkedin.com/company/anitab-org/)

[2020-07-11 15:21] SanketDG opened #584 "Implement management command for downloading location data"
## Description
After #572 gets merged, the repository will become larger by 60MB, which is not effecient.

So for downloading the GeoIP location data, one can use a manage command like:

[code]

This can also be integrated in the dev setup docs for beginners, and be used in the CI so that all checks are passed.

## Tasks
- [ ] Implement the management command
- [ ] Make sure the command works on e

[2020-07-11 18:11] sakshi1499 opened #585 "Correct the Twitter link on Contact Page"
## Description
As a user,
I need to have the correct twitter link,
so that I can easily connect on Twitter.

Redirect the current link to this [link](https://twitter.com/anitab_org) instead.

## Mocks
![image](https://user-images.githubusercontent.com/42520146/87230818-cb9e0980-c3cf-11ea-8756-4de1ee16ab90.png)

### Update [Required]
- [ ] Correct the link

## Definition of Done
- [ ] All of the re

[2020-07-11 20:47] SanketDG opened #586 "Remove rest_framework from package dependencies"
## Description

As part of #565, I was auditing the requirements and found out that DRF was used!

DRF is probably the largest API framework out there for Django, and we don't even have an API!

Diving into the code, it seems like `meetups/views.py` `ApiForVmsView` just uses one single class `APIView`, which just sends out JSON data based on some request params. Nothing some good ol' Django can't

[2020-07-11 21:41] SanketDG opened #587 "Remove djangocms-admin-style from package dependencies"
## Description

Back in 1.11, the Django admin UI did not look good at all, hence the reason why a better admin styling package was used.

Things have changed now in 3.0, Django comes with a prettyish admin UI, so this package is not needed and can be removed.

When #578 is merged, we are going to use Django's default new UI.

## Tasks
- [ ] Remove `djangocms-admin-style` from requirements
- [ ] R

[2020-07-12 04:08] Adeola-Adesoba commented on #585
Hi @sakshi1499  can I work on this?

[2020-07-12 05:21] ritwickraj78 commented on #585
@Adeola-Adesoba Go Ahead! Best of Luck :)

[2020-07-12 09:16] #587 closed, assigned to nobody

[2020-07-12 14:51] saideepesh000 commented on #583
@sakshi1499 Can I work on this issue.

[2020-07-12 14:53] sakshi1499 commented on #583
Is this your first time contributing to Portal? Its a strictly first timer issue.@saideepesh000

[2020-07-12 14:54] saideepesh000 commented on #583
Yes. It's my first time.

[2020-07-12 17:58] #583 closed, assigned to saideepesh000

[2020-07-13 18:34] saideepesh000 commented on #580
@sakshi1499  Can I try this.

[2020-07-13 18:48] theyashshahs commented on #580
@saideepesh000 go for it 👍

[2020-07-13 18:55] #542 closed

[2020-07-14 11:51] saideepesh000 commented on #580
@yashshah2820 @sakshi1499, For now, what should I keep in the .env file

[2020-07-14 14:18] theyashshahs commented on #580
@saideepesh000 you can use the env variables used in the [README](https://github.com/anitab-org/portal/blob/develop/README.md) like `SECRET_KEY='foobarbaz'` and the env variables in base.py and dev.py 😃

[2020-07-14 16:46] saideepesh000 commented on #580
@yashshah2820  Ok, what should I keep the database password in env. And a small doubt, why are we not updating production.py with python-decouple, because that's going to be on the hosted part.

[2020-07-15 12:20] saideepesh000 opened #591 "README.md should be updated"
## Description
As a developer,
In windows, I need to activate the virtual environment using '.\venv\Scripts\activate', but the README.md shows './venv/Scripts/activate'.
so that I can activate the virtual environment correctly.

### Update [Required]
- [ ] Update README.md file.

## Estimation
1 hour

[2020-07-15 12:42] theyashshahs commented on #580
@saideepesh000 it's all in the README

[2020-07-15 12:57] SanketDG commented on #591
Did you mean `.\venv\Scripts\activate.bat`?

[2020-07-15 13:21] saideepesh000 commented on #591
Yes @SanketDG, I spent a whole day to figure out the issue :)

[2020-07-19 15:34] sakshi1499 commented on #585
This issue has been resolved.

[2020-07-19 15:34] #585 closed, assigned to Adeola-Adesoba

[2020-07-19 15:45] sakshi1499 commented on #584
@anitab-org/coding-team Anybody who wants to work on it?

[2020-07-19 15:47] sakshi1499 commented on #586
@anitab-org/coding-team Anybody who wants to work on it?

[2020-07-19 15:58] isabelcosta opened #600 "Add a badge to join Zulip chat on README"
## Description

As a new contributor,
I need know which chat can I join regarding this project,
so that I can discuss this project with the community.

I did something similar in here https://github.com/anitab-org/mentorship-backend/pull/683

## Mocks

![image](https://user-images.githubusercontent.com/11148726/87972817-7775e200-cabf-11ea-8073-6dc6f8a1b794.png)

## Acceptance Criteria
### Update [

[2020-07-20 15:07] sakshi1499 commented on #600
@isabelcosta Hi! Can you please crop the image a little bit, it seems like its for Mentorship System and also change #vms to #portal instead. Thank you :)

[2020-07-20 15:33] saideepesh000 commented on #600
I only have 1 commit to this repository, can I do this :)

[2020-07-20 16:01] sakshi1499 commented on #600
@saideepesh000 Its a first timer issue, if no one claims it, we'll assign you but for now we should let first timers take it.

[2020-07-20 18:30] isabelcosta commented on #600
@sakshi1499 yess I will crop it! thank you for the suggestion

[2020-07-20 23:10] morrme commented on #586
🙋  I am not on the coding-team but I'd like to help

[2020-07-21 02:26] theyashshahs commented on #586
@morrme go for it 👍

[2020-07-21 02:32] morrme commented on #586
@yashshah2820 Thanks! Who is the point person to discuss the `ApiForVmsView` change? Do you have a slack group?

[2020-07-21 02:47] theyashshahs commented on #586
we have a [zulip channel](https://anitab-org.zulipchat.com/), where you can discuss anything related to portal

[2020-07-21 10:10] saideepesh000 commented on #600
@sakshi1499 Ok, thanks

[2020-07-22 13:50] satya7289 opened #608 "Fix F405 flake8 error."
## Description
As a developer,
I need to fix flake8 error,
so that F405 can be removed from set.cfg.

It should be taken after this [PR](https://github.com/anitab-org/portal/pull/578) get merged
## Mocks

![Screenshot from 2020-07-22 19-20-01](https://user-images.githubusercontent.com/35588980/88184454-5a244d80-cc50-11ea-874e-d12250958c3d.png)

![Screenshot from 2020-07-22 11-16-47](https://user-i

[2020-07-22 17:45] ritwickraj78 opened #609 "Add Tests For Subscription Settings"
## Description
As a [USER],
I need to add unit tests for subscription settings,
so that I can increase code coverage.

## Acceptance Criteria
### Update [Required]
- Tests for the views and forms is to be added

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
12 hours

[2020-07-23 15:27] satya7289 opened #611 "Move to Github Actions and Integrate the codecov to the Portal"
## Description
As a Developer,
I need to check how much code is covered under testing,
so I suggest integrating codecov for this.

## Mocks
Able to see the codecov reports on the PR

### Update [Required]
- [x]  requirements.txt
- [x] .travis.yml

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
1 hours

[2020-07-23 15:28] satya7289 commented on #611
If this issue is approved, let me know I want to work on this.

[2020-07-23 16:02] SanketDG commented on #611
@satya7289 We have been meaning to move away from Travis and move to GH actions, mentorship-backend already did [this](https://github.com/anitab-org/mentorship-backend/pull/654)

Do you want to go ahead and do that? You will have to change the issue title then!

[2020-07-24 17:27] SanketDG opened #622 "Any views using a paginated ListView has to be ordered"
### Description
When the current test suite is run, there is this warning:
[code]
We have to remove this warning.

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

[2020-07-24 17:40] #565 closed

[2020-07-24 18:29] SanketDG opened #623 "Integrate Zoom with Meetups"
## Description
As a meetup creator, I want to able to create zoom links in the UI itself for virtual meetups.

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 2 mentor.

## Estimation
120 hours

[2020-07-25 11:52] #549 closed

[2020-07-28 19:09] #558 closed

[2020-07-31 10:27] sakshi1499 commented on #541
Closing this issue as it has been worked on. New issue for the new UI will be created later.

[2020-07-31 10:27] #541 closed

[2020-07-31 10:30] sakshi1499 commented on #543
Closing this issue as it has been worked on. New UI issue will be created later.

[2020-07-31 10:30] #543 closed

[2020-07-31 10:31] sakshi1499 commented on #544
Closing this issue as it has been worked on. New UI issue will be created later.

[2020-07-31 10:31] #544 closed

[2020-08-01 18:29] #548 closed

[2020-08-02 15:36] sakshi1499 opened #634 "Front-End for Pinboard"
## Description
As a user,
I need to have a bookmarking/pinboard facility,
so that I can easily navigate them.

## Mocks
![image](https://user-images.githubusercontent.com/42520146/89126513-b6665780-d503-11ea-8eb8-75383857e09d.png)

Inspiration can also be taken by Google Keep.

## Acceptance Criteria

Front-end should look similar to the above mocks and pinning feature should be added on the Resou

[2020-08-05 13:52] SanketDG opened #638 "Pinboard Backend and Tests"
## Description
As a user,
I need to have a bookmarking/pinboard facility,
so that I can easily navigate them.

This issue is to implement the backend part of the Pinboard

## Mocks
![image](https://user-images.githubusercontent.com/42520146/89126513-b6665780-d503-11ea-8eb8-75383857e09d.png)

## Acceptance Criteria
- Must have tests

## Definition of Done
- [ ] All of the required items are complet

[2020-08-07 16:44] sammy1997 opened #641 "Tests for Subscription and Suggested Meetup features"
## Description
As a developer,
I need to add sufficient tests,
so that coverage targets can be met.

## Acceptance Criteria
### Update [Required]
- [ ] Add tests to cover the code added for Subscription feature
- [ ] Add tests to cover the code added for Suggested Meetup feature

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
5-6 day

[2020-08-07 17:21] SanketDG opened #642 "Add setting up env file in README"
## Description
As a newcomer to this project, I need to know how this project needs to be setup the easiest way.

#592 adds support for loading configuration variables through a `,env` file, but there is no corresponding
documentation for it.

@saideepesh000 I cannot seem to assign you but feel free to start working on this

## Definition of Done
- [x] All of the required items are completed.
- [x

[2020-08-07 17:52] saideepesh000 commented on #642
@SanketDG, I'll try to PR it as soon as possible.

[2020-08-07 18:23] SanketDG opened #643 "Use django-multiupload from PyPI"
## Description
Or, Replace `django-multiupload`'s functionality with our own code.

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

[2020-08-07 18:24] saideepesh000 commented on #642
@SanketDG, Should I add a separate section like "Run app" like in mentorship project or add the configuration setup for both "Linux" and "Windows".

[2020-08-07 18:26] SanketDG commented on #642
This seems good to me!

[2020-08-08 08:05] saideepesh000 commented on #642
@SanketDG, is this OK.

    ......
    Create systersdb database, where systersdb might be any suitable name.

    Open the SQL Shell for postgresql from the windows start menu or wherever accessible

    $ Server [localhost]:  Just press enter, leave this empty
    $ Database [postgres]: Just press enter, leave this empty
    $ Port [5432]: This is the default port just press enter, leave this em

[2020-08-08 08:07] saideepesh000 commented on #642
I will be removing those "after the db setup" and "before running the app", just to make it understand I added here.

[2020-08-08 09:14] SanketDG commented on #642
@saideepesh000 Feel free to open a PR. It's hard to understand what you have added from here,

[2020-08-11 10:40] #560 closed

[2020-08-12 13:45] SanketDG opened #648 "Move docs from wiki to Docusaurus"
## Description
Right now, the whole Portal docs is in rhe repository [wiki](https://github.com/anitab-org/portal/wiki).

We will now move to Docusaurus (https://v2.docusarus.io)

TODO:
- [x] Add a basic minimal scaffold in `docs/` (use [Tinysaurus](https://github.com/SanketDG/tinysaurus/))
- [x] Remove the old files from `docs/`
- [ ] Remove any dependencies for the old docs. (`sphinx` for example

[2020-08-13 10:25] Frenzyritz13 opened #649 "Create the config.yml file for the Welcome Bot"
## Description
 As a first time contributor,
 I need a bot to help guide my first contribution,
 so that I can follow this org's contribution guidelines.

 ## Mocks
 ![Screen Shot 2020-08-06 at 10 26 14 AM](https://user-images.githubusercontent.com/2440938/89543720-44299780-d7cf-11ea-82a0-bd81664f0d8e.png)

 ## Acceptance Criteria
 ### Update [Required]
 * [ ]  newIssueWelcomeComment is complete w

[2020-08-13 18:36] #531 closed

[2020-08-18 16:59] sakshi1499 commented on #527
Closing UI issues, as the design team will make new issues in case required.

[2020-08-18 16:59] #527 closed

[2020-08-18 17:00] sakshi1499 commented on #559
Closing this issue as PR for this has been merged.

[2020-08-18 17:00] #559 closed

[2020-08-18 17:01] sakshi1499 commented on #528
Closing UI issues, as the design team will make new issues in case required.

[2020-08-18 17:01] #528 closed

[2020-08-18 17:45] sakshi1499 commented on #547
Closing this issue as the Pr for this has been merged already.

[2020-08-18 17:45] #547 closed

[2020-08-18 17:49] sakshi1499 commented on #317
Not required anymore.

[2020-08-18 17:49] #317 closed

[2020-08-18 17:57] sakshi1499 commented on #342
Closing this, I don't think its required at the moment.

[2020-08-18 17:57] #342 closed

[2020-08-18 17:59] sakshi1499 commented on #332
This issue is irrelevant now. Pr for this has been already closed.

[2020-08-18 17:59] #332 closed

[2020-08-19 17:15] #623 closed, assigned to ritwickraj78

[2020-08-19 18:55] #634 closed, assigned to ritwickraj78

[2020-08-19 19:48] SanketDG opened #653 "Turn the Email Scheduler back on!"
## Description
The email scheduler was turned off by default in #650
Let's turn it back up!

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
2 hours

[2020-08-19 19:50] SanketDG opened #654 "Remove workdir.0 from the repository"
## Description
`workdir.0` was created accidentally, and has since found its home here at Portal.
It's time to evict `workdir.0`!

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
5 seconds (I am kidding, but not really!)

[2020-08-19 20:06] SanketDG opened #655 "Refactor meetup/utils.py"
## Description
A lot of code in `meetup/utils.py` can be refactored, especially the jwt auth exchange

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
3 hours

[2020-08-20 14:48] #580 closed, assigned to saideepesh000

[2020-08-21 13:15] Yukti-09 opened #660 "ENH: Setup for developers (MAC)"
There is no description for the setup for developers for MAC users, could it please be added?

[2020-08-21 13:19] SanketDG commented on #660
@Yukti-09 We do have a Wiki Page https://github.com/anitab-org/portal/wiki/Installation-Instructions-for-OSX

We are also converting the wiki to in-repo docs, see #657

Feel free to go through the page and report any issues that you may have faced,

[2020-08-21 13:22] SanketDG commented on #660
The content in the wiki defintiely needs a refresh, because a lot of it is just very old

[2020-08-21 13:28] Yukti-09 commented on #660
On running:
[code]
I'm getting
[code]

[2020-08-21 13:42] SanketDG commented on #660
Yes, that should be:

[code]

[2020-08-21 14:43] Yukti-09 commented on #660
There's a small issue:
[code]
The closing parenthesis is not required.

[2020-08-22 17:23] #642 closed, assigned to saideepesh000

[2020-08-24 06:58] ritwickraj78 commented on #638
PR already merged !!

[2020-08-24 06:58] #638 closed, assigned to ritwickraj78

[2020-08-25 08:08] sakshi1499 commented on #268
We don't need this, google calendar feature can be in a separate PR.

[2020-08-25 08:08] #268 closed

[2020-08-25 08:10] sakshi1499 commented on #277
Don't need this issue. Closing it.

[2020-08-25 08:10] #277 closed

[2020-08-25 08:32] sakshi1499 commented on #470
Django Crispy Forms were updated in a PR. So closing this issue now.

[2020-08-25 08:32] #470 closed

[2020-08-25 08:39] sakshi1499 commented on #550
This issue was merged in a PR by Ritwick. Closing this.

[2020-08-25 08:39] #550 closed

[2020-08-25 18:48] #648 closed, assigned to SanketDG, sakshi1499

[2020-08-26 10:49] khushishikhu commented on #591
can i work on this issue?

[2020-08-26 10:51] khushishikhu commented on #591
@saideepesh000  can i work on this issue?

[2020-08-26 11:00] khushishikhu commented on #529
may i work on this issue?

[2020-08-26 12:05] SanketDG commented on #591
@khushishikhu You are assigned! Let us know if you need any help

[2020-08-27 10:15] harsh7in commented on #654
Hey @SanketDG can I work on this issue?

[2020-08-27 10:41] SanketDG commented on #654
@harsh-9in Sure, I have assigned you.

[2020-08-27 17:31] #654 closed, assigned to harsh7in

[2020-08-27 18:26] #591 closed, assigned to khushishikhu

[2020-08-27 22:01] SHITIZ-AGGARWAL commented on #600
hello  @isabelcosta
I am new to open source and very much like to work on this issue
if you may ,please guide me and assign this issue to me

[2020-08-29 09:07] saideepesh000 commented on #622
@SanketDG , can I work on this

[2020-08-29 17:52] SanketDG commented on #622
@saideepesh000 There you go

[2020-08-30 07:40] #641 closed, assigned to ritwickraj78

[2020-08-30 16:33] khushishikhu commented on #529
if no one is working on this issue may i work on this??

[2020-08-30 19:16] sakshi1499 commented on #529
Sure @khushishikhu go ahead!

[2020-08-30 20:56] sakshi1499 commented on #609
Has been merged in another PR. Closing this issue as it was a duplicate.

[2020-08-30 20:56] #609 closed, assigned to nobody

[2020-08-31 06:05] saideepesh000 commented on #529
@khushishikhu, If you did set up the project correctly then please help me, When I type "..manage.py migrate", I am getting this error "function 'OGR_F_GetFieldAsInteger64' not found".

[2020-08-31 08:46] Aaishpra commented on #600
@isabelcosta @sakshi1499 can i work on this.

[2020-08-31 14:13] khushishikhu commented on #529
@saideepesh000  actually i am also a new learner and i am not getting such kind of error.  sorry i don't know why are you getting this error. thanks..

[2020-08-31 14:25] saideepesh000 commented on #529
@khushishikhu, did you follow the steps which were on README.md, exactly, and it worked

[2020-08-31 15:49] khushishikhu commented on #529
yes just struck on migrate step and it's because some of the dependencies i haven't installed yet

[2020-09-03 20:39] isabelcosta commented on #600
@SHITIZ-AGGARWAL I can assign this to you.
@Aaishpra if @SHITIZ-AGGARWAL is unavailable to work on this, then I can assign this to you :)

[2020-09-04 16:12] Aaishpra commented on #600
No problem @isabelcosta

[2020-09-04 19:12] PragatiVerma18 commented on #643
@SanketDG is this issue available? Can I work on this?

[2020-09-04 19:14] PragatiVerma18 commented on #655
@SanketDG Can I take this up?

[2020-09-05 15:03] adwait2001 commented on #467
is it available

[2020-09-05 18:15] SanketDG commented on #655
@PragatiVerma18 Assigned!

[2020-09-06 15:20] #600 closed, assigned to SHITIZ-AGGARWAL

[2020-09-08 13:56] m-code12 commented on #649
Can I take up this issue?

[2020-09-10 10:36] sakshi1499 commented on #400
This issue has been resolved.

[2020-09-10 10:36] #400 closed

[2020-09-10 10:50] sakshi1499 commented on #384
We are planning to incorporate this through Gitpod now. Will create a new issue for this. Closing this one.

[2020-09-10 10:50] #384 closed

[2020-09-10 10:53] sakshi1499 commented on #409
We have completely removed this and changed the communities' drop down.

[2020-09-10 10:53] #409 closed

[2020-09-10 10:54] sakshi1499 commented on #381
The Design team is working on this. A new issue for the same has been created.

[2020-09-10 10:54] #381 closed

[2020-09-10 10:57] sakshi1499 commented on #390
Closing this as we have removed communities' list display now.

[2020-09-10 10:57] #390 closed

[2020-09-15 05:09] Aaishpra commented on #649
@Frenzyritz13 can i work on this?

[2020-09-21 12:08] sakshi1499 commented on #655
@PragatiVerma18 Hi Any updates?

[2020-09-24 10:57] dependabot-preview[bot] opened #671 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/anitab-org) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/anitab-org/update-logs/48598195).

[2020-09-26 07:13] Aaishpra commented on #467
@isabelcosta @mayburgos  can i work on this?

[2020-09-26 19:14] Harshita-Kanal commented on #608
Can I take this up ?

[2020-09-26 21:18] SanketDG commented on #608
@Harshita-Kanal Sure, assigning you!

[2020-09-28 10:28] #671 closed, assigned to nobody

[2020-10-07 08:08] sanchibansal340 commented on #649
@Frenzyritz13 @SanketDG Can you please assign me this issue?

[2020-10-16 17:23] sakshi1499 commented on #649
@m-code12 Do you want to work on this?

[2020-10-16 20:03] m-code12 commented on #649
yes @sakshi1499

[2020-10-17 17:19] m-code12 commented on #649
@sakshi1499 I have raised a PR, please could you review it?

[2020-10-22 13:26] m-code12 commented on #649
@sakshi1499

[2020-10-23 04:37] sakshi1499 commented on #649
@m-code12 Sure! Do you want it under hacktoberfest?

[2020-10-26 18:47] m-code12 commented on #649
@sakshi1499
Could you please review pr #690 , it has passed all the checks.
I have already completed hacktoberfest, thanks for asking btw.

[2020-10-27 07:03] ashwinijha6 commented on #653
@SanketDG I would like to give it a try. Could u pls assign it to me

[2020-10-30 16:42] sakshi1499 commented on #649
@m-code12 Congratulations on completing Hacktoberfest! I'll review the PR and still put the Hacktoberfest label so that you get a +1 there. Sorry for the delay on my end.

[2020-10-31 14:32] ashwinijha6 commented on #653
@SanketDG can u elaborate about the issue?

[2020-10-31 16:54] ashwinijha6 commented on #653
Is it related to the BackgroundScheduler()

[2020-10-31 19:21] SanketDG commented on #653
It is!

The diff in question: https://github.com/anitab-org/portal/pull/650/files#diff-4662ad6425215150965baee6784b29c7f06ee82100e7eadc16b7527488ac711b

[2020-11-01 09:38] ashwinijha6 commented on #653
Ok I get it 👍

[2020-11-07 13:10] ashwinijha6 commented on #653
@SanketDG I'm getting this error after running python systers_portal/manage.py migrate
What can be done?
![error1](https://user-images.githubusercontent.com/45794450/98442044-572e6980-2128-11eb-90ac-61172a826b28.JPG)

[2020-11-08 07:56] SanketDG commented on #653
I know this is a common issue. but I honestly don't remember the reason behind it, my best bet is to upgrade your Python version to 3.9 and try again or maybe @sakshi1499 can help here!

[2020-11-09 05:52] ashwinijha6 commented on #653
ya even I read it on zulip ok I think u mentioned to upgrade the gdal version. But I'll try to upgrade the python version to 3.9 thanx.

[2020-11-10 17:24] Abjcodes commented on #563
Can I take up this issue?

[2020-11-22 10:27] ashwinijha6 commented on #653
@SanketDG could u pls help me with this error
![ep](https://user-images.githubusercontent.com/45794450/99901272-6b9f6400-2cdb-11eb-9b42-a8ac63e868be.JPG)

[2020-11-22 10:29] ashwinijha6 commented on #653
![Screenshot from 2020-11-22 15-54-39](https://user-images.githubusercontent.com/45794450/99901300-bf11b200-2cdb-11eb-9113-3a4e2daea6b8.png)

[2020-11-26 09:46] tejaswini22199 commented on #655
Hello @SanketDG  can I take up the issue!

[2020-11-27 15:52] sakshi1499 commented on #655
Sure! Assigned you @tejaswini22199

[2020-11-27 18:54] tejaswini22199 commented on #655
@sakshi1499  I removed multiple instances of payload and added only one of them. Can you help me in figuring out why it is failing tests while I'm merging.

[2020-11-28 08:18] sakshi1499 commented on #655
There was some issue with the last PR merge maybe that is why. Also, Your PR hasn't followed the commit guidelines so there are failing tests. @tejaswini22199

[2020-11-30 16:04] ashwinijha6 commented on #653
@SanketDG do you have an idea regarding the above mentioned error?

[2020-11-30 18:39] SanketDG commented on #653
This again could be solved by deleting your current `migrations` folder (for each app) and re-generating the migrations

[2020-12-01 13:15] ashwinijha6 commented on #653
ok thanx @SanketDG

[2020-12-07 06:42] #649 closed, assigned to m-code12

[2020-12-07 18:41] ashwinijha6 commented on #653
@SanketDG I tried deleting my current migrations like everything inside the migrations except the __init__.py but I'm getting the same error.
What do you mean by current migrations folder **for each app**?

[2020-12-09 06:50] 19-pragya commented on #660
is this available

[2020-12-27 08:32] sankha555 commented on #655
Hello @SanketDG @sakshi1499,
I took a look at the PR by @tejaswinii22199 and your comments in that. I understood that we need to create functions for creating tokens and intitialize those tokens at runtime calls. I would like to attempt solving this issue. Could you please assign it to me if it's still open for contribution? Thanks!

[2021-01-05 09:12] ashwinijha6 opened #713 "docs: Change in the Setup for developers (Unix)"
## Description
As a developer,
I want to change certain prompts in the 7th Step of Setup for developers (Unix) in the README.md,
so that a new user can apply it correctly for the setup.

## Mocks
![portal](https://user-images.githubusercontent.com/45794450/103627629-e78bfd80-4f63-11eb-99f8-03b5f63c1375.JPG)

## Acceptance Criteria
### Update
- [ ] In the 7th step of Setup for developers (Unix) tha

[2021-01-05 09:12] ashwinijha6 commented on #713
@SanketDG could u pls assign me this issue so that I can make the required changes

[2021-01-06 07:44] ashwinijha6 commented on #713
@gaurivn & @sakshi1499 could u'll pls triage this issue & assign it to me?

[2021-01-09 03:10] emmanuelhashy commented on #546
Hi, sakshi1499 I'd like to work on this issue.

[2021-01-09 03:15] emmanuelhashy commented on #449
Hi, sakshi1499 I'd like to work on this issue.

[2021-01-09 03:20] emmanuelhashy commented on #271
Hi, @poojithansl I'd like to work on this issue if it's still available

[2021-01-19 17:32] chinmaym07 commented on #537
Hey @sakshi1499 If this issue is available ..Can I work on this issue.?

[2021-01-23 15:43] annabauza opened #721 "Your Docusaurus site did not load properly."
## Description
As a developer,
I need access documentation,
so that I can contribute.

Your **Docusaurus** site did not load properly.
A very common reason is a wrong site baseUrl configuration.
Current configured `baseUrl = /` (default value)
We suggest trying `baseUrl = /portal/`

## Mocks
https://anitab-org.github.io/portal/

## Acceptance Criteria
### Update [Required]
- [ ] replace current ba