[2014-06-24 21:19] econchick opened #11 "Separate requirements.txt out"
I'd separate the `requirements.txt` file to one that is needed to run the site, and one that is to develop on the site, e.g. `requirements-prod.txt` and `requirements-dev.txt`.

The `-prod` one would have just what is needed to run the app, and then the `-dev` one would have a reference to the `-prod` one PLUS packages needed for testing, for linting, and anything else.

Here's a good article from

[2014-06-24 23:34] econchick opened #12 "Travis build status button on README.md"
Let's put a travis build status button! Referring to [this](http://docs.travis-ci.com/user/status-images/).

[2014-06-27 22:46] #12 closed, assigned to nobody

[2014-07-02 01:56] econchick opened #17 "admin.py still imports old Resource_Type"
In `systers_portal/dashboard/models.py`, Resource_Type was renamed to ResourceType.  However, this wasn't corrected in `systers_portal/dashboard/admin.py` where it still imports Resource_Type and uses it.

// cc @ana-balica

[2014-07-02 12:54] ana-balica opened #19 "Add documentation on how to configure social apps"
In #7 4 social account providers are enabled - facebook, github, google and twitter. Most of the providers require the developer to enter a client ID and API secret, more details on that [here](http://django-allauth.readthedocs.org/en/latest/#providers).

It is necessary to add a page in Sphinx to explain all the necessary steps to enable the login using each social account, that including:
- regi

[2014-07-02 13:25] ana-balica opened #20 "Releasing the project under an open source licence"
We are developing the project within Google Summer of Code program, therefore I assume the project should be released under an open source licence (please correct me if I am wrong).

Basically the issue that I am raising is whether Systers are planning to release the code under an open source licence and if so, which one?

Since the project is not licenced at the moment, the default copyright laws

[2014-07-03 19:23] ana-balica opened #21 "Security restriction on pull requests with travis-ci"
At the moment we are unable to see the test results on pull requests, because Django `SECRET_KEY` env var is not being decrypted. This is a security restriction from travis-ci to not allow forks to expose any environmental data.

1st solution: not run tests from forks, but this is unlikely what we want to achieve.

2nd solution: use plain text data, since the following `SECRET_KEY` is only for tes

[2014-07-08 18:06] econchick opened #23 "Add to README on how to generate docs"
Add to `README.md` on how to generate & view docs (e.g. run `sphinx-build -b html source_dir build_dir` then open `build_dir/index.html`).

Also consider hosting docs on readthedocs.org (may need admin setup, let me know if I can help with that as I did it for pyladies-kit on kit.pyladies.org).

[2014-07-08 19:35] #11 closed, assigned to nobody

[2014-07-09 11:14] #17 closed, assigned to dweep123

[2014-07-10 21:31] dweep123 opened #31 "Permissions groups and decorators"
Currently with  permissions on models  we cannot check whether a user has specific permissions for a specific community. Say if a user is member of A and B community but has add rights only for a community A resources . As per #16 , to make a change to a model instance, the user should be a member of the community and have the specific permission, so the decorators in will be used in combination w

[2014-08-03 20:12] rosariorobinson opened #46 "Registration Error"
When I was trying to register, it gave me a Server Error (500). It actually registered me, so I ended up going back to home page and just logging in.

1) should not have received error if it actually registered me
2) any error should have a text error displayed.
3) should also send a confirmation email, but I did not receive one.

[2014-08-03 20:13] rosariorobinson opened #47 "Profile Picture"
When uploading a high resolution photo/image (the one I used was 2186 x 2112), the application crashed with error displayed. See image below. Currently used a 180 x 135 size photo.

![error](https://cloud.githubusercontent.com/assets/63290/3791654/a2e4b4d2-1b4a-11e4-9b19-c9621f885510.png)

[2014-08-04 01:37] rosariorobinson opened #48 "Navigation"
When everyone visits the portal, whether they are logged in or not, no matter if they are admins for other communities (latinas, bwic, etc.), they should land at the Systers home page.

For example
If I am a Syster, AsianWiC and IndianWiC, I should have at the top navigation bar,

Systers | About | Sub-Communities |
                         | UWiC |
                                     | BWiC |

[2014-08-04 01:40] rosariorobinson opened #49 "Error Admin page change"
What is difference between page change in django admin versus when you login through portal and want to do a page change?

I tried changing page I created using django admin portal and received error.

![image](https://cloud.githubusercontent.com/assets/63290/3792452/2c622a64-1b78-11e4-9d31-0ada6214e4cb.png)

I added a page in django admin, but I don't see it on main portal page added anywhere. It

[2014-08-06 18:42] #19 closed, assigned to ana-balica

[2014-08-06 23:34] dweep123 opened #50 "Not able to login to admin accout after changing community admin"
@ana-balica , you remember during demo , suddenly we were not able to login to admin account,
there is an error ,
To reproduce :
create a community , make superadmin as community admin for this community
If superadmin is not admin for any other community and if you change the admin for the newly created community from superadmin to some other user , superadmin account is logged out and then if you

[2014-09-05 12:01] rosariorobinson opened #51 "Meetup"
In the requirements document, I didn't go into too much detail about this, but i'll add a req doc specifically for Meetup.

Currently, we use Meetup Everywhere for global meetups and it works fine for just disseminating information. However, each individual meetup community is not able to really promote any sponsors or information specific to them. They can comment, but that's about it.
http://www

[2014-09-22 12:49] rosariorobinson opened #52 "No error message for incorrect password"
When I do NOT enter correct password when I login, error message should be displayed properly.

![image](https://cloud.githubusercontent.com/assets/63290/4356203/baa741f6-4256-11e4-8e11-574ab744e7d0.png)

[2014-09-22 13:35] rosariorobinson opened #53 "Footer"
The footer is missing 2 things.

[1] should say at the end "an Anita Borg Community" for Systers community page.

[2] For all other communities, it should state "an Anita Borg Systers Community"
e.g. footer should be >> Turkish Women in Computing, an Anita Borg Systers Community

[2014-09-22 15:08] rosariorobinson opened #54 "Types error"
When I'm on the Systers page or any of the other community pages, I click on the Type on the right to filter resources by those particular types, but ALL types are displayed.

If you are on the BWiC page or Systers community page, then clicking on Type on the right should display all of the Systers types not EVERYONE's type. Currently, this is the case. It is confusing as there are multiple Facebo

[2014-09-22 16:06] #46 closed, assigned to nobody

[2014-09-27 22:21] #21 closed, assigned to nobody

[2014-10-11 20:01] #23 closed, assigned to nobody

[2014-11-03 02:02] #31 closed, assigned to nobody

[2014-11-11 02:04] #53 closed, assigned to nobody

[2014-11-24 15:00] rosariorobinson opened #55 "New Community Proposal"
When submitting a new community proposal, there is no email message sent to administrator. Currently, it does not even update the spreadsheet either.

[2014-12-05 12:03] #20 closed, assigned to nobody

[2015-01-05 11:17] ana-balica opened #60 "Style Sign up page"
Go to `http://127.0.0.1:8000/accounts/signup/`. Page contains a sign up form, but it has no style.

In order to apply styling to this page, it is required to override the default style of django-allauth. Before proceeding, you can take a look at the [django-allauth documentation](http://django-allauth.readthedocs.org/).

Create a new file - `systers_portal/templates/account/signup.html`. This file

[2015-01-05 11:46] ana-balica opened #61 "Display community page content"
Prerequisites:

1. Create a superuser from the command line, if you don't have one yet. `python systers_portal/manage.py createsuperuser`.
2. Login to the admin panel (http://127.0.0.1:8000/admin) and create a new Community. Also create one or more Community Pages for this new Community.
3. Go to http://127.0.0.1:8000/community/community_slug/

The task is to display the contents the Community Pag

[2015-01-05 11:52] ana-balica opened #62 "Add info about createsuperuser to docs"
Since Django introduced migrations, [running migrate command doesn't prompt to create a superuser](https://docs.djangoproject.com/en/1.7/ref/django-admin/#migrate-app-label-migrationname). Normally it is useful to have one superuser to access the admin panel and manipulate the data.

Add to `README.md` a line after migration on how to create a superuser.

Read more about documentation here - https

[2015-01-06 16:15] kanika2107 commented on #62
Hi, I would like to work on this issue as my first practice for systers/portal.

[2015-01-09 14:28] kanika2107 commented on #60
I want to work on this issue.

[2015-01-15 11:17] #62 closed

[2015-01-15 11:18] #60 closed

[2015-01-18 06:29] kanika2107 commented on #61
I want to work on this issue.

[2015-01-18 09:56] ana-balica opened #69 "Style account templates"
**This is a cumulative issue with a bunch of tasks. If you want to work on it, pick one template at a time, leave a comment about the template you are working on and submit a pull request once you are done.**

For registration/authetication we are using [django-allauth](http://django-allauth.readthedocs.org/en/latest/). This packages ships with a bunch of very basic templates for various pages. We

[2015-01-19 21:02] alma-castant commented on #69
I want to work on the logout template

[2015-01-21 13:13] ana-balica commented on #47
Tested with a 5184 × 3456px picture.
Due to the inability to replicate the problem, closing the issue.

[2015-01-21 13:13] #47 closed

[2015-01-21 13:31] ana-balica opened #71 "Add URLs to community navigation bar"
This is the community navigation bar.
![image](https://cloud.githubusercontent.com/assets/2039122/5836746/a5dee67a-a1ab-11e4-9e31-d8a769bdbd82.png)

It contains all community pages, news and resources pills. Each of these is currently an empty link. Add urls to community pages and news (resources view/route are yet not implemented) inside the template. You should be looking into `systers_portal/te

[2015-01-22 22:55] alma-castant commented on #69
I want to work on the password change template

[2015-01-23 15:16] kanika2107 commented on #69
I want to work on accounts/email template

[2015-01-26 20:28] alma-castant commented on #69
I want to work on the inactive template

[2015-01-30 15:50] #61 closed

[2015-01-30 17:15] #71 closed

[2015-02-01 10:43] ana-balica opened #77 ""About Us" page"
Create the "About Us" page. Convey to the general style of the website. Collect information about Systers community (http://anitaborg.org/get-involved/systers/), Systers mailing lists, maybe find a high-resolution picture with Systers members. The end result should be one or 2 paragraphs that clearly explain what is Systers and what is this website.

Should contain:
* TemplateView (place in the co

[2015-02-01 10:46] ana-balica opened #78 ""Contact" page"
Create "Contact" page. Convey to the general style of the website. Search for information on Systers page (http://anitaborg.org/get-involved/systers/). Provide a contact email or any other details that a user would expect from this page (social channels for example).

Should contain:
* TemplateView (placed in common app)
* template
* url
* unittest

[2015-02-05 08:50] ana-balica opened #80 "404 page"
Create a `404.html` template, which will be used to show the "Not found" message. It should reside in the templates top level directory. State clear that we didn't find what the user was looking for, allow to return to the main page (maybe use the base template to keep the top navigation at the top). Other than that, use your imagination :space_invader:

Use 2 spaces for indentation in HTML and CS

[2015-02-09 19:01] alma-castant commented on #69
I want to work on the accounts/confirm-email template

[2015-02-10 19:25] alma-castant commented on #69
I want to work on the password/reset template

[2015-02-14 15:55] alma-castant commented on #77
I want to work on this

[2015-02-16 16:58] rosariorobinson opened #91 "Community Links Not Working"
When I am NOT logged in as Systers Keeper, I click on any of the Community links and error "Server Error (500)". I'm checking with our/ABI IT department, but wanted to log it here as well.

[2015-02-17 16:50] ana-balica commented on #91
@rosariorobinson which Portal are we talking about? The one deployed on http://portal.systers.org/ or the development version?

I have tried to access a Community page on the deployed website being logged out and the page gives 200 OK. Does the problem still persist for you?

[2015-02-17 19:46] rosariorobinson commented on #91
Yes, I tried both production and development versions I guest.

So here's the scenario.

1. I can click on the links BEFORE I login and all works well.
2. When I login, I get the server 500 error.
3. When I click on any links, I get the server 500 error.
4. I have to click on Systers/home page, then I am actually logged in.
5. When I click on any community link, I get the server 500 error.

I'll a

[2015-02-18 10:57] ana-balica commented on #91
Ok. I think I identified the problem.
As I see Rose, you have 3 accounts to production Portal. One is Systers Keeper and other 2 registered with other 2 gmail accounts. The user `rosariorobinson` was lacking a matching Systers User profile. Now it should work - http://portal.systers.org/users/rosariorobinson/

The might be several reason:
* it was created from the admin panel and not registered fr

[2015-02-18 14:45] #80 closed

[2015-02-18 19:01] ana-balica opened #94 "Rename Community.community_admin to Community.admin"
At first we created our `Community` model with the field called `community_admin` to denote the Community admin, of course. So we ended up with some redundancy - `community.community_admin`.

Start with the renaming the field from `community_admin` to `admin`. Afterwards run migrations - `python systers_portal/manage.py makemigrations` and `python systers_portal/manage.py migrate`.

Search for all

[2015-02-21 09:55] bhaktipriya commented on #94
I would like to fix this.

[2015-02-21 17:09] todipratik commented on #94
[code]

@ana-balica  Can you relate this `makemigration` error ?

[2015-02-23 07:35] ana-balica commented on #94
@todipratik Well, it says you have no permissions to modify a file. Did you create a virtualenv? What OS are you on? Check what are the permissions for this file/folder and change them if necessary.

[2015-02-23 19:17] todipratik commented on #94
It helped @ana-balica, thank you.
If I am correct, `community_admin_id` also needs to replaced with `admin_id` ?

[2015-02-24 03:07] ana-balica commented on #94
Yes.

[2015-02-24 23:39] alma-castant commented on #78
I want to work on this

[2015-02-26 20:28] Akanksha18 commented on #78
i would like to work on this

[2015-02-26 22:37] alma-castant commented on #78
@Akanksha18 I am working on this issue already ;)

[2015-02-26 22:38] Akanksha18 commented on #78
i am not sure if only one person has to work on any issue ;)

[2015-02-26 22:40] alma-castant commented on #78
@Akanksha18 I don't think we can both work on it since it's just one page ;)

[2015-02-26 22:46] Akanksha18 commented on #78
@alma-castant  I don't think any developer's code is exaclty the same even if it is a single page :) best of luck to you, saw your comments in many issues ;)

[2015-02-27 08:52] #77 closed

[2015-02-27 10:53] #94 closed

[2015-02-27 13:54] #78 closed

[2015-03-04 06:11] #55 closed

[2015-03-04 06:11] #50 closed

[2015-03-04 06:24] ana-balica opened #100 "Create Resource Type form"
Create a form for adding and editing a ResourceType object. The form should live in `systers_portal/blog/forms.py`. Follow the example from the `TagForm` - it should inherit from the custom class `ModelFormWithHelper`, specify the model, the fields. Specify the same helper_class and helper_cancel_href, the later should point to the list of all resources.

Add a test for the form - `systers_portal/

[2015-03-04 06:34] ana-balica opened #101 "Add tags snippet"
Create an HTML snippet for displaying common actions for manipulating tags. As an example, see "Community Actions", "News Actions" snippets. Call the snippet `tags_sidebar.html` inside `systers_portal/templates/blog/snippets`.

The snippet should contain 1 action (for the time being) - "Add tag". In HTML you should check if the user is authenticated and active. The snippet should be displayed only

[2015-03-04 08:47] Akanksha18 commented on #100
i want to work on this

[2015-03-04 08:53] BeingAnuj commented on #101
i want to work on this

[2015-03-05 05:34] reachtarunhere commented on #101
I have a doubt why do we need Add Tag in list view? As per my understanding as tags are associated with News/Resource so their permissons must be locked to those models.

Am I doing something wrong?  Would be glad if someone can point me in the right direction

[2015-03-05 07:55] ana-balica opened #102 "Add URL to transfer ownership of a community"
Specify the url to transfer ownership inside the 'join_button.html' snippet located in the community folder of templates.

[2015-03-05 19:34] todipratik commented on #69
@ana-balica Is the remaining one task being worked upon?

[2015-03-05 20:25] BeingAnuj commented on #102
i want to work at this issue

[2015-03-06 04:04] ana-balica commented on #69
@todipratik Well, @kanika2107 started working on it and made a pull request. There are still some comments that should have been updated. Ask @kanika2107 if she still wants to work on this.

[2015-03-07 01:35] jayesh92 commented on #100
@ana-balica Do we also want a corresponding view ? As per the description you've only specified form.

[2015-03-07 03:36] jayesh92 commented on #100
@ana-balica If new view and template needs to be added, then I guess the view should be similar to `AddTagView` class ? Also what should be the url on which it should be initiated.
add tag url is binded to `r'^(?P<slug>\w+)/tag/add/$'`

[2015-03-07 10:45] #101 closed

[2015-03-07 10:45] #102 closed

[2015-03-08 15:06] rosariorobinson commented on #51
I've completed the requirements document and added it to this repo. You can find the document at the link below.

https://github.com/systers/portal/tree/master/docs/requirements

[2015-03-09 08:47] reachtarunhere commented on #51
Hi! @rosariorobinson I have gone through the requirments PDF file. The requirements listed for the system administrators can be met without much difficulty and I feel it will be a good idea to use a free Google Apps account for the mailing part (Point A).

Regarding Meetup organizers if we maintain a central EventBrite account it should be possible to set the events its details etc. using their AP

[2015-03-12 18:27] #100 closed

[2015-03-16 13:50] willingc opened #109 "Adding info on Postgres installation to setup instructions"
There was a question on the Systers-dev mailing list asking for more details on Postgres setup. It would be helpful to provide additional guidance on the developer documentation on the process.

[2015-03-16 14:33] #109 closed

[2015-03-17 00:38] willingc opened #111 "Add .editorconfig file to help maintain code style consistency"
I recommend adding a `.editorconfig` file to help developers maintain a consistent code style across editors and IDEs. [EditorConfig](http://editorconfig.org/) has additional information. My recommendation would be to use an `.editorconfig` file that is similar to the core Django project.

[2015-03-18 15:08] willingc opened #113 "Improve the code coverage reporting for developers"
@ana-balica I did some more research on running coverage without exposing security tokens. [Codecov.io](http://codecov.io) may be a good solution. It is being used by [cookiecutter](https://github.com/audreyr/cookiecutter). There is a free version of codecov.io.

[2015-03-19 08:49] #111 closed

[2015-03-19 14:10] ana-balica commented on #113
@willingc It might be an idea to use codecov versus coveralls. But travis will still show fail, because of the security keys. I don't know, but maybe it would be an idea to use an unencrypted SECRET_KEY env var (since this is the one causing the trouble). In production we have a totally different SECRET_KEY of course.

[2015-03-23 20:56] rosariorobinson commented on #91
We can close this one. Works fine now. Thanks.

[2015-03-23 20:57] #91 closed

[2015-03-31 15:42] ana-balica opened #114 "SSL certificate for our production site"
Currently both Portal on http://portal.systers.org and Systers wiki on http://systers.org/systers-dev/doku.php use unencrypted connection even though we send sensitive data over the network (passwords during logins). We need to purchase an SSL certificate and install it on our server (I can do the later part). This way all our traffic will run over https and will be encrypted.

@rosariorobinson Pl

[2015-03-31 16:13] rosariorobinson commented on #114
Thanks Ana. I'll get our IT team to get this done.

Rose

On Tue, Mar 31, 2015 at 8:42 AM, Ana Balica <notifications@github.com>
wrote:

[2015-06-10 23:15] willingc opened #118 "Add new contributor guide for working on Portal Documentation"
New contributor documentation is extremely important for onboarding new developers and contributors to a project. Configuring development environments for an actively developed project can be challenging for new contributors. New contributors are learning the code base while dealing with operating system, virtual machine (vm and Docker), as well as language and dependencies (and their versions).

[2015-06-10 23:49] willingc commented on #118
@veniemi1 Okay, here's the current work plan. I want to get you contributing while we get your development environment set up in parallel. Since I'm primarily a Linux/Unix and OSX user, I'm a little rusty on Windows 7. No fear; I have access to a Windows 7 system if needed. Here's the plan:

- [ ]  Set up a free pythonanywhere.com account. This will give you access to a fully functional python dev

[2015-06-11 03:03] willingc opened #119 "Update all documentation from fig (deprecated) to Docker compose"
fig is now deprecated. Docker compose (http://docs.docker.com/compose/install/) is the replacement. README.md should be updated as well as any general documentation referring to fig.

[2015-06-11 04:24] veniemi1 commented on #118
I was able to set up my pythonanywhere account pretty easily and have played with some of the command line commands a bit. However, I will do more tomorrow morning like I wrote in my email.

[2015-06-11 05:00] willingc commented on #118
@veniemi1 Excellent!

[2015-06-11 18:01] willingc opened #120 "Review documentation for installation of development environment on Windows 7"
I'm assigning this task to @veniemi1 and she will be pairing with me.

First steps for Windows 7 to check:
- [x] Installing Python: Follow directions in DjangoGirls documentation section 3 http://tutorial.djangogirls.org/en/python_installation/index.html (make sure you do the step that adds python to the PATH)
- [x] Verify Python installation: From the command line (see DjangoGirls section 2 if ne

[2015-06-11 21:01] ana-balica commented on #118
@willingc thanks for helping out and guiding @veniemi1
Since we don't have any beginners cli/python/django/deployment docs, I am thinking that we could move all steps above to portal documentation. I am usually redirecting new contributors to DjangoGirls tutorial, but we can definitely create our own guide. What do you think?

[2015-06-11 21:08] ana-balica commented on #119
Initially I planned to have a Docker container for Rose to test the app, but eventually I found out the setup and installation are too tedious for "trying out" a product. Hence I was thinking removing the `Dockerfile`. Besides having a Docker container in production, are there any benefits of keeping a Docker?

[2015-06-11 21:09] willingc commented on #118
@ana-balica No problem :)

Down the line, it would be good to move all contributor docs within the project. For now, the DjangoGirls tutorial installation instructions are highly tested and probably the best, most used installation instructions for Django and Python3 at the moment. I think we rely heavily on their content for now with references from our docs to theirs or include their docs with a

[2015-06-11 21:23] ana-balica commented on #118
Yes! And I agree it's more practical to refer to DjangoGirls, rather than having our own.

Next year contribution sounds rather far away. Moreover most GSoC students are averagely experienced and rarely loop through the whole beginners cycle. Would it possible for @veniemi1 to help up out with beginners docs once she is finished? Her perspective is valuable.

I have one small concern though - once

[2015-06-11 21:57] willingc commented on #119
It's likely worth keeping. Docker is still a mild nuisance if working from a non-Linux machine since you then have to deal with the boot2docker vm and its configuration for servers. For now, I would just leave it ;)

[2015-06-11 22:15] willingc commented on #118
@ana-balica Next year always seems so far away and then it sneaks up on us ;)

Configuration is a pain which is essentially what the installation instructions guide the developer through. While true that many come to GSoC with experience in software development of a language, my experience with teaching post-docs and down is that the experience with development tools is not as strong. Compound the

[2015-06-12 16:41] exploreshaifali opened #123 "Remove use of 'django-countries'"
Portal used 'django-countries' package to validate countries data in 'users' app. In 'meetup' app it is using 'django-cities-light' package to validate countries, region and cities data. So we can safely exclude 'django_countries' and make use of 'django-cities-light' in 'users' app also.

[2015-06-16 13:30] ana-balica commented on #119
Solved in a084843

[2015-06-16 13:30] #119 closed

[2015-06-20 06:34] ana-balica opened #126 "Add a url to "Transfer ownership" on user profile"
Hi @veniemi1
Here is a simple task to get you started. Please comment to this issue to let us know that you are on to it. Also mark checkboxes to let us know that you did this step.

Preparing:
- [ ] First you need to create your fork and sync it - https://help.github.com/articles/fork-a-repo/
- [ ] Then you need to sync a fork - https://help.github.com/articles/syncing-a-fork/
- [ ] Follow the fi

[2015-08-16 12:50] exploreshaifali opened #142 "Venue should be CharField."
Meetup venue is TextField, it should be CharField instead.

[2015-08-16 12:52] exploreshaifali opened #143 "Time Format"
While adding new meetup time formate comes in 24Hours format and when displaying meetup on meetup page time appears in 12 hours format.

[2015-08-22 09:21] ana-balica opened #146 "Speed up tests"
Speed up test with mocks and mommy. The general rule is to avoid writing to the database.

[2015-09-20 13:19] rosariorobinson opened #148 "Create Page for Mobile Apps"

[2015-10-27 16:32] varunnaganathan commented on #142
i want to work on this.I have submitted a Pull Request.Kindly review

[2015-10-27 16:37] varunnaganathan commented on #142
Please Review Pull Request
https://github.com/systers/portal/pull/149

[2015-10-27 16:45] varunnaganathan commented on #142
Do provide details on the "continuous-integration/travis-ci/pr" check that fails.The check fails irrespective of the change.I figure it is some Key Error local to my machine and probably not related to the bug.

[2015-10-29 03:50] payal97 commented on #69
I want to work on the accounts/email template. Is @kanika2107 still working on it?

[2015-10-29 05:59] payal97 commented on #123
I want to work on this issue.

[2015-11-03 00:13] varunnaganathan commented on #142
PR review??

[2015-12-17 02:32] tachyonlabs commented on #114
You can now get free SSL certificates through https://letsencrypt.org/ though it's still in beta.

[2016-01-03 07:49] shriyanka commented on #126
@ana-balica  Hi, I want to start contributing to Systers open source projects. Can I work on this issue as it seems to be good for beginners to start with ?

[2016-01-03 07:50] shriyanka commented on #123
@exploreshaifali
Hi.. If no one is currently working on it can I take up this task ??

Thanks,
Kajal

[2016-01-22 06:54] akankshaakanksha commented on #148
Hello,
Is this an open issue? I am a new contributor to Systers and would love to begin contributing. Can you give me a description of what needs to be done.

[2016-02-07 16:57] iCHAIT commented on #48
@rosariorobinson Can you shed some more light on this?

[2016-03-02 16:57] kunalsharma05 commented on #142
I would like to work on this Issue.

[2016-03-02 17:00] SJasoria commented on #69
I would like to work on this issue.

[2016-03-02 17:02] SJasoria commented on #143
Hi! I would like to work on this issue if you are not working on it.

[2016-03-03 04:42] sudheesh001 opened #153 "Travis CI Build failures because of SECRET_KEY"
One of the setup steps involves the export of the secret key `export SECRET_KEY=foobarbaz`
but this doesn't happen on Travis CI causing the build failures. This can be easily fixed by adding `SECRET_KEY` exports to the yml file.

[2016-03-03 07:44] daminisatya commented on #153
@sudheesh001  I read the document on the Travis build. Check this out.
![capture](https://cloud.githubusercontent.com/assets/6227784/13487697/e544fe54-e141-11e5-90ee-55bda3b4658d.PNG)

[2016-03-03 11:18] smarshy opened #156 "Query regarding installation instructions"
I ran into errors regarding the second and third instructions while proceeding with the portal installation stepwise on Ubuntu 14.04.

Step 2 links to Django girls repository which shows how to install psycopg using pip.  However, on trying to install psycopg without python3-dev first, I ran into the following error

`fatal error: Python.h: No such file or directory #include <Python.h>`

The next

[2016-03-03 17:03] kunalsharma05 commented on #156
Hey, `sudo apt-get install` does in fact work. First, you need to setup python3 on your system (development version should work) and then you can easily install the required libraries in your virtual environment site-packages using pip.If you need anything else I would be happy to help.
Hope this helps and clears your doubts. :)

[2016-03-04 09:50] smarshy commented on #156
@kunalsharma05 Thanks for confirming :)

[2016-03-04 18:04] Gayathrimenakath opened #158 "Functionalities missing in meetup page"
I find that the following functionalities missing in the meetups page for a particular location:
1. Clicking on Join this Meetup button produce no results.
2. Clicking on various other links ( add member, remove member etc ) on the sidebar do not produce any changes, even for the Meetup admin .

I propose the following should happen, when clicking on the "Join this Meetup" button:
1. A logged in u

[2016-03-06 14:22] ana-balica commented on #114
@tachyonlabs thanks for recommendation :)

We have a secure connection https://portal.systers.org/ along with an insecure one http://portal.systers.org/

Would be nice to make http version to redirect to https. I will raise a separate issue on that.

Thanks @rosariorobinson!

[2016-03-06 14:22] #114 closed

[2016-03-06 14:23] ana-balica opened #159 "[Production] Always redirect from http to https"

[2016-03-06 14:29] ana-balica commented on #120
I believe this was done. If any issues with Windows persist, one can reopen and add specific tips in our README or [here](http://systers-portal.readthedocs.org/en/develop/).

[2016-03-06 14:29] #120 closed

[2016-03-06 16:11] #153 closed

[2016-03-07 05:11] tonythomas01 opened #161 "Change btn-lg OAuth login buttons to use friendly icon buttons"
The current buttons in the signup page :
![selection_051](https://cloud.githubusercontent.com/assets/4214481/13561215/51d09cca-e450-11e5-86b7-2cf4d794e8ac.png)

looks ugly, and should be replaced with buttons like :
![selection_052](https://cloud.githubusercontent.com/assets/4214481/13561222/6ff9d090-e450-11e5-85db-edba7c282193.png)

This would help avoid page scroll in Sign Up page for normal bro

[2016-03-07 05:13] Gayathrimenakath commented on #161
Sounds sensible, I will send a patch for this.

[2016-03-07 05:26] tonythomas01 opened #162 "Remove unnecessary divider in navbar drop-down menu when not signed in"
When not signed in:
![image](https://cloud.githubusercontent.com/assets/4214481/13561428/0af56cce-e453-11e5-8a9b-f4a3324fcd0b.png)

has an extra
<li role="presentation" class="divider"></li>
which should not be there, to make it look better as in:

![selection_054](https://cloud.githubusercontent.com/assets/4214481/13561443/30ba5938-e453-11e5-8d22-a28896772a43.png)

Have't tested this after login

[2016-03-07 05:39] tonythomas01 opened #163 "Design issues with 'Edit my profile' page"
The current design of 'Edit my profile page':
1. Use only left portion of the screen, and loads of empty space
2. Profile upload button do not have same style as other buttons on the page
3. Design inconsistent with 'Change password', 'Sign Up' or 'Sign In' page

To make things look good:
1. 'Edit my profile' page should be centered, in a col-md-4 or something like that as in 'Change-Password'
2.

[2016-03-07 06:27] payal97 opened #164 "Error after latest commit"
python manage.py runserver gives the following error after the latest commit ['Squash users app migrations and update deps'](https://github.com/systers/portal/commit/eeb03a500c8315fcf16af9268887468782a0aa57)

`payal@Payal:~/projects/systers_portal/portal/systers_portal|develop⇒  python manage.py runserver
Performing system checks...

System check identified no issues (0 silenced).
Unhandled except

[2016-03-07 06:49] smarshy commented on #163
@tonythomas01 working on this :)

[2016-03-07 06:51] Gayathrimenakath commented on #162
I would like to send a patch for this.

[2016-03-07 06:55] payal97 commented on #163
I would like to work on this

[2016-03-07 06:56] payal97 commented on #163
@smarshy just saw your comment. I guess i'll wait for the next issue then. :P

[2016-03-07 07:02] smarshy commented on #163
@payal97 :+1:  Thanks for understanding :)

[2016-03-07 07:34] payal97 commented on #163
:smile:

[2016-03-07 07:47] payal97 commented on #164
@ana-balica could you look into this?
The file '0001_squashed_0003_auto_20160207_1550.py' exists in users/migrations. I'm not able to figure out why this error is coming up. 'python manage.py migrate' is giving the same error.

[2016-03-07 10:53] Gayathrimenakath commented on #161
Please review this. https://github.com/systers/portal/pull/166

[2016-03-07 10:55] tonythomas01 commented on #161
@Gayathrimenakath : works. nice one! Can you attach a screenshot too here ?

[2016-03-07 10:57] Gayathrimenakath commented on #161
![login](https://cloud.githubusercontent.com/assets/9162502/13567473/82887ffa-e481-11e5-94b0-732bda26e0b1.png)

[2016-03-07 14:42] prachiagrawal269 commented on #156
@smarshy Even i got the same error while installation. Indeed  "sudo pip install python3.4-dev" worked for me (as i have python3.4 installed in my system). Also there is a slight difference between installation commands when working behind proxy. Like one should use "-E" flag along with "sudo" to export all the environmental variables. I got this solution after a lot of search on line. May be thes

[2016-03-07 15:34] prachiagrawal269 commented on #69
I would like to work on email template.

[2016-03-07 17:55] daminisatya commented on #163
#169

[2016-03-07 18:35] smarshy commented on #163
@daminisatya Hi, I was planning to get to this by the end of the day. I see you have put in a PR. Looks good :+1:

[2016-03-07 18:44] smarshy commented on #164
@payal97 I ran into the same error just a few minutes back. Maybe you could try recreating the database, making migrations and migrating. It worked in my case. Hope this helps :)

[2016-03-07 19:45] softcoder32 opened #171 "No community landing Page link / community side bar in edit community profile page"
When viewing a community profile or after editing a community, there is no direct way of getting back to community landing page. and when user is on view community profile, user must go back to landing page to perform other "Community actions"
Fix:
1: Add community Landing page link to Community Actions menu
2: Add community side bad in viewing community profile

[2016-03-07 19:47] softcoder32 commented on #171
fix to above issue:  https://github.com/systers/portal/pull/170

[2016-03-07 19:52] softcoder32 commented on #171
![community_profile](https://cloud.githubusercontent.com/assets/17668677/13581224/19102724-e4a6-11e5-9d4c-876e915c4b47.png)

[2016-03-08 08:06] payal97 commented on #164
@smarshy that worked for me. Thanks!

[2016-03-08 08:06] #164 closed

[2016-03-09 11:25] prachiagrawal269 commented on #148
@rosariorobinson  @jproft Can anyone of you provide a bit detailed description as of what exactly is the page about and should be the content of the required page?

[2016-03-09 13:21] nikhilweee commented on #146
Hi, @ana-balica
I'm willing to work on this.

[2016-03-09 13:43] prachiagrawal269 commented on #161
Hello,
I felt like adding colors to the social network buttons would be more intuitive, so i tried implementing the same by enhancing the PR #166 by @Gayathrimenakath . I just added colors to the buttons on both "contact" page and the "login" page (carrying forward the changes made by @Gayathrimenakath in the file systers_portal/templates/socialaccount/snippets/provider_list.html)

[2016-03-09 13:51] jproft commented on #148
At the moment nothing else needs to be done with this. Thanks @akankshaakanksha and @prachiagrawal269.

[2016-03-09 13:51] #148 closed

[2016-03-09 14:18] tonythomas01 opened #173 "gitignore lacks basic rules, bringing in migration data upstream"
The current .gitignore files lacks various rules of Django like:
    *.log
*.pot
*.pyc
__ pycache__/
local_settings.py
migrations/

Standard templates are available in the internet, and should be added to the current `.gitgnore` file to make sure these issues never happen again like https://github.com/systers/portal/commit/eeb03a500c8315fcf16af9268887468782a0aa57

[2016-03-09 14:19] Gayathrimenakath commented on #173
I would like to fix this

[2016-03-09 15:15] kunalsharma05 commented on #161
Hey,
@prachiagrawal269 I just saw that you also added the background colours, so I changed my design to be flat with the colours and a transition and hover.
@tonythomas01 Please review the pull request #174 that has the hover effect on both the sign up pages and the contact pages.
![screenshot from 2016-03-09 20 43 35](https://cloud.githubusercontent.com/assets/14278351/13639674/d23bb1cc-e637-11e5

[2016-03-09 16:54] Gayathrimenakath commented on #173
Please review this #175

[2016-03-09 17:23] kunalsharma05 commented on #173
@Gayathrimenakath @tonythomas01 I think we should've left out migrations since many bugs require models.py file getting changed and since it is usually seen on git that migrations are pushed with a fix, I think it can be ignored when needed rather than ignoring them for every push? Anyways the fix by @Gayathrimenakath covers most of the general ignores :)

[2016-03-09 17:47] tonythomas01 commented on #173
@kunalsharma05 its true that most of the changes require changes to models.py, but I am not sure why someone should push the migrations too. It can leave developers in avoidable conflicts, and could be always generate clean with `makemigrations` and `migrate`

We got support and distress over http://stackoverflow.com/questions/28035119/should-i-be-adding-the-django-migration-files-in-the-gitignore

[2016-03-09 18:48] kunalsharma05 commented on #173
@tonythomas01 I agree with you but the projects I worked on mostly had web hooks from GitHub the Server and vice versa. So then a user may create a initial migration,lets call it 0001. Similarly they thought of making another migration for the change and named it 0002, now if the migrations aren't pushed the other contributor may face problems as for him they will be in one migration file that the

[2016-03-09 20:08] nikhilweee commented on #146
@ana-balica: I'm facing some issues while working on this, can you help me out?
* I cannot find a way to avoid writing to the database while testing forms. For every test case, the `form.save()` method needs to be called, which requires database transaction.
* `Mock` objects cannot be used while testing string representation as `str(Mock)` doesn't return the desired value
* Testing views are ruled

[2016-03-09 20:27] nikhilweee commented on #159
@ana-balica There's a SECURE_SSL_REDIRECT setting in Django 1.8 which makes the fix easy peasy. When is the portal upgrading to a newer Django?

[2016-03-09 20:42] prachiagrawal269 commented on #69
@ana-balica Please review the PR #168 that contains the styled template for email.

[2016-03-09 23:10] ana-balica commented on #158
Hi!

Yes, this is one of the features that we want to implement. Most of the parts of the meetup app will not work at this point. This is something that you might want to include in your proposal, additionally with some technical implementation. Thanks.

[2016-03-09 23:10] #158 closed

[2016-03-09 23:58] kunalsharma05 commented on #159
@ana-balica @nikhilweee I think that too can be done in Django versions <1.8:

**1.** By changing the redirect rule in the web server's settings. For e.g. in nginx:
[code]
To make sure that full links also get redirected to https like in HttpResponseRedirect we can just add this to wsgi.py file:
`os.environ['HTTPS'] = "on"`

Also to ensure that there is no leak of information if someone tries to r

[2016-03-10 05:39] Gayathrimenakath commented on #158
@ana-balica Thank you

[2016-03-10 05:49] tonythomas01 commented on #173
yeah. you should take a look at #164 too.

[2016-03-10 06:40] payal97 commented on #156
@prachiagrawal269 Even I had trouble during installation due to proxy. Sent in a patch for the same. :)

[2016-03-10 17:05] smarshy commented on #156
@prachiagrawal269 hey, Were you able to use `sudo pip install python3.4-dev` successfully? Also, could you put in the command where you needed the flag. I mostly run into -E flag error when I am adding ppa repositories upstream and using sudo pip, but in this case I couldn't find the package in pypi itself

[2016-03-10 19:11] prachiagrawal269 commented on #156
@smarshy I made a mistake while mentioning the command .I checked my command history and found out that I command that I executed was "sudo apt-get install python3.4-venv" and not "sudo pip install python3.4-dev". Sorry for the mistake.
I used the "-E" flag while installing the virtualenv using "sudo -E pip install virtualenv".
Thanks for pointing out.

[2016-03-11 07:19] shriyanka commented on #142
@rosariorobinson Please review the PR.

Thanks :)

[2016-03-13 18:46] payal97 opened #177 "'edit profile' and other options in another user's profile veiw"
On portal.systers.org, when I view another user's profile, I get the following options, which I should not be getting -
![screenshot from 2016-03-14 00 01 55](https://cloud.githubusercontent.com/assets/14258784/13730602/6b9bdc28-e94b-11e5-82a4-2866ed8f65c9.png)

![screenshot from 2016-03-14 00 09 00](https://cloud.githubusercontent.com/assets/14258784/13730606/802a5908-e94b-11e5-8ac0-b47d078c67c9.

[2016-06-10 20:34] rosariorobinson opened #180 "Latest Code"
What is the latest code? I want the community leaders to be able to use this next month in preparation for GHC. Can we get the latest code on server? We have a production server and dev server.

@ana-balica @jproft

[2016-06-10 21:43] rosariorobinson opened #181 "Sign Up Button"
Does Sign Up take users through approval process?

[2016-12-13 18:31] rohanaggarwal7997 opened #188 "Project needs Upgrading to Django 1.8 to resolve dependencies"
The current project uses Django 1.7.7 and due to changes in python there some unresolved dependencies.
Like HTMLParseError is deprecated from Python 3.3 onwards and removed in Python 3.5 and is producing an error during build

[2017-01-29 14:32] mish24 opened #190 "Updating python version"
Some functions like get_cache have been deprecated from python 3.5, is there a plan to import the project to a higher python version?

[2017-03-01 11:55] yatna opened #191 "Correct README.md"
The README says-

However, the app gives an error at that URL
![screenshot from 2017-03-01 17 23 47](https://cloud.githubusercontent.com/assets/8321130/23458870/f3c804fa-fea3-11e6-8503-226558b708de.png)

Instead, it runs on http://localhost:8000 in the browser
![screenshot from 2017-03-01 17 23 56](https://cloud.githubusercontent.com/assets/8321130/23458892/0d7139da-fea4-11e6-9bc0-f672163aa6c1.png

[2017-03-01 12:24] yatna opened #192 "[Bug] 'Browse' option in 'Edit Profile' lets choose any file type"
The 'Browse' option to upload profile picture, lets the user choose any file type. Only after pressing the upload button it gives the error message if the file type is incorrect.
![screenshot from 2017-03-01 17 50 57](https://cloud.githubusercontent.com/assets/8321130/23459725/a7a9046c-fea7-11e6-8f43-e08291f1b467.png)
It would be better if we can make the browse button to display only image type f

[2017-03-01 12:42] yatna opened #193 "Add details to 'Edit Profile' Form"
1. Inputs Fields like 'Homepage' and 'Blog' require user to enter a URL. However, user comes to know this only when he/she has press the submit button once with some incorrect entry. It would be better if we could explicitly tell the user to enter a URL, by adding a message like - "Enter URL" or "eg http://myblog.com" to the label.
2. We should mention the max length in the label which the user ca

[2017-03-05 07:12] mish24 opened #194 "Countries not available as drop downs"
While filling the edit profile form, country is not available as drop down.

[2017-03-05 13:41] PratikDhanave commented on #143
I want to work on it

[2017-03-05 14:19] PratikDhanave commented on #69
I want to work on it

[2017-03-07 18:51] namanrjpt opened #196 "Current section is not highlighted in the navigation bar"
Currently the top navigation bar does not highlight the active section/app of the portal. Though small, this could create a little confusion on addition of a more complex app with many pages (meetup feature?) in future, if not now. IMO fixing this can enhance the UX significantly.

![screenshot from 2017-03-08 00-16-28](https://cloud.githubusercontent.com/assets/16839029/23672374/843dc052-0394-11e

[2017-03-07 19:47] mish24 opened #197 "Users can access each other's information through urls"
I would like to fix this issue.

[2017-03-07 19:49] pandilladivya commented on #196
@namanrjpt Are you Working on this issue ?

[2017-03-08 17:39] namanrjpt commented on #196
@pandilladivya There are a few ways by which this can be fixed. I'm searching for the best one. So yes, im on it.

[2017-03-08 17:42] namanrjpt commented on #194
@mish24 If you are not working on this, I would like to take this up. I might need your help though :smile:

[2017-03-12 14:22] mish24 commented on #194
@namanrjpt Cool :) Do tell me if you need any help!

[2017-03-13 06:18] namanrjpt commented on #196
Submitted [PR](https://github.com/systers/portal/pull/198). Kindly review it :smile:
![Image](https://cloud.githubusercontent.com/assets/16839029/23843449/d533977e-07e1-11e7-9e02-8c700903133c.gif)

[2017-03-14 02:14] namanrjpt commented on #194
@mish24 Nothing is broken here. After a lot of head scratching it just turned out that the databse is not populated. To do the same you just have to use:

from your repo's root

[2017-03-14 13:08] mish24 commented on #194
Ah alright! Thanks alot. @namanrjpt

[2017-03-14 13:08] #194 closed

[2017-03-28 05:54] mish24 opened #199 "Adding Social Network platform authentication feature"
Not related to GSoC. I would like to work on this independently :)

[2017-05-01 14:10] tonythomas01 commented on #199
Did you mean OAuth ? Like, using https://github.com/pennersr/django-allauth maybe ?

[2017-05-01 15:16] mish24 commented on #199
@tonythomas01 Yup. I wanted to use `django-allauth` only. It can benefit the portal in many ways.

[2017-05-01 15:26] tonythomas01 commented on #199
Right. I think the prduction version already have something like that - check http://portal.systers.org/accounts/login/  && https://github.com/systers/portal/blob/develop/requirements/prod.txt#L3

Even though, I would love to see better buttons, with everything on the same row (with social network icon there).

[2017-05-01 15:41] mish24 commented on #199
@tonythomas01 Aaah, I guess I missed it somehow. I can add social platform buttons, and then there's the issue of being able to access other user's details through urls. I will focus on them. Thanks for helping with this! :)

[2017-05-01 16:10] tonythomas01 commented on #199
Great to know. You can just use  <i class="fa fa-{{ provider.id }}"></i> to take in the icon automatically from font-awesome.

[2017-05-01 16:13] tonythomas01 commented on #197
Please provide more information about the bug in your description. What URLs are affected, screenshots if any.

Also, check out https://developer.mozilla.org/en-US/docs/Mozilla/QA/Bug_writing_guidelines for pointers.

[2017-05-01 16:18] tonythomas01 commented on #196
<needs more work there. please dont use JS to get this done>

[2017-05-01 16:19] tonythomas01 commented on #193
Feel free to add that to the corresponding `forms.py`, and submit a PR as per https://github.com/systers/portal/blob/develop/docs/develop/contributing.rst

[2017-05-01 16:20] tonythomas01 commented on #192
Feel free to submit a PR as per https://github.com/systers/portal/blob/develop/docs/develop/contributing.rst

[2017-05-01 16:29] tonythomas01 commented on #191
That specific quote was for `docker-compose up` command, and not for `$ python manage.py runserver`.

If you were trying this on `python manage.py runserver`, feel free to close this bug as `invalid`.

[2017-05-01 16:34] tonythomas01 commented on #197
I think https://github.com/systers/portal/issues/177 is related. Probably there is a problem with how the user profile view is defined. The view should use a `CurrentUserMixin` which might be like:

[code]

and the view should go like:
`class UserProfileView(LoginRequiredMixin, CurrentUserMixin, DetailView):`

so that a user **CANNOT** view other user profiles in an edit profie view.

[2017-05-01 16:36] tonythomas01 commented on #199
by the way, that bug was tracked in https://github.com/systers/portal/issues/161

I think no one merged it :-(

[2017-05-01 16:38] tonythomas01 opened #200 "Is the project still maintained ?"
I see that a lot of PRs have gone not-reviewed in the queue. In case you want reviewers, feel free to add me to tasks and I can take a look.

[2017-09-24 15:35] tapasweni-pathak opened #201 "Migrate to Django version 1.11 and Python 3.6"
With latest version of OS, >Ubuntu 16.04, Debian 9 Stretch having Python >= 3.5, Django 1.7.7 is having issues.

[code]
because HTMLParseError is deprecated from Python 3.3 onwards and removed with Python 3.5. Temporary fix of this [not a good option] is to downgrade Python version or a better way is to upgrade Django version to >1.7. Also with Django 1.8 in guardian/admin.py change ```module_name

[2017-09-25 09:45] #156 closed

[2017-09-25 10:11] #142 closed

[2017-09-25 11:26] mansimarkaur opened #202 "Fix spelling mistake in Documentation"
There is a spelling mistake in PEP8 section of the Pre-requisites documentation.
Here's the link to it: http://systers-portal.readthedocs.io/en/develop/develop/prerequisites.html#pep8

[2017-09-25 11:32] mansimarkaur opened #203 "Add git installation instructions for OSX users in the documentation"
The instruction to install `git` for OSX users is missing from the `Setup the Project` section in the documentation.

[2017-09-25 11:33] namratab94 commented on #202
Is anyone working on this?

[2017-09-25 11:34] mansimarkaur commented on #202
@namratab94 nobody is working on this yet. If you want to work on it, @tapasweni-pathak can assign the issue to you.

[2017-09-25 11:36] namratab94 commented on #202
I would like to work on it. @tapasweni-pathak can you please assign this issue to me?

[2017-09-25 12:45] #162 closed

[2017-09-25 12:50] tapasweni-pathak commented on #202
@namratab94 Issue can be assigned only within the people of organization or project. Please go ahead and send a fix, would be happy to merge. I tagged this for first-timers-only though.

[2017-09-25 12:52] namratab94 commented on #202
This would be my first contribution to Systers. If I'm not wrong, I've not made any contribution to any of the Systers' projects till date. Working my way around the contribution guide and then hopefully I'll be able to contribute something to the codebase.

[2017-09-25 13:18] namratab94 commented on #143
Is this issue still open? @exploreshaifali are you still working on it?

[2017-09-25 14:41] #202 closed

[2017-09-27 22:29] bhavya-reddy commented on #201
working on this issue

[2017-09-28 08:44] tonythomas01 commented on #203
I personally think we should not document OS specific information for git/dependencies that are not directly related to the project.

[2017-09-30 02:14] tapasweni-pathak opened #206 "Embed new community proposal form in new page on /propose/newcommunity/"
Currently
1. Click on new community proposal
2. Directs you to new form
3. No linking to the previous page

Embed the form in a new page on /propose/newcommunity/.

[2017-09-30 02:19] tapasweni-pathak opened #207 "Create a postgres db dump to test /meetup/locations/"
/meetup/locations/ needs to be tested for >500 locations to check for the near to real case scenario.

[2017-09-30 02:23] tapasweni-pathak opened #208 "Wiki link broken"
1. Click on wiki on default fixed navbar on top.
2. It directs you to http://systers.org/systers-dev/doku.php.
3. Change it to http://wiki.systers.org/open-source/doku.php/portal.

[2017-09-30 02:29] tapasweni-pathak opened #209 "Link contact page on /accounts/password/reset/"
- [x] Below change password button, link **contact** with /contact/.
- [x] Also on /accounts/password/reset/done/.

[2017-09-30 02:35] tapasweni-pathak opened #210 "Override /users/username/profile/ choose file button to the general style guide of the website"
For registration/authentication we use django-allauth. This package has basic templates for the required pages. Almost all of them have already been overriden. Override the choose file button to the general style guide of the website. If you find something else feel free to update that too.

[2017-09-30 02:40] tapasweni-pathak opened #211 "Country dropdown values"
Check for country dropdown values in /users/username/profile/, no values appear.

[2017-09-30 02:46] tapasweni-pathak commented on #200
Yes. Sure! let @MeepyMay know.

[2017-09-30 02:46] #200 closed

[2017-09-30 02:48] #48 closed

[2017-09-30 02:49] #49 closed

[2017-09-30 03:03] tapasweni-pathak opened #212 "Generated URL in password reset has an extra protocol name"
What I get is

![screenshot from 2017-09-30 08-29-28](https://user-images.githubusercontent.com/4143778/31041851-bc135f10-a5b9-11e7-938b-147ec88e6d19.png)

[2017-09-30 03:07] tapasweni-pathak commented on #52
@rosariorobinson Can this now be reproduced? I'm not able to reproduce on portal-dev or on local installation.

[2017-09-30 03:10] #69 closed

[2017-09-30 03:11] #113 closed

[2017-09-30 03:15] tapasweni-pathak commented on #123
Closed with [0194d1e](https://github.com/systers/portal/commit/0194d1ef2af445746486e366e6a95b31559e8553).

[2017-09-30 03:15] #123 closed

[2017-09-30 03:25] #143 closed

[2017-09-30 03:27] #180 closed

[2017-09-30 03:30] tapasweni-pathak commented on #181
Signup is not authenticating the email of the user.

[2017-09-30 03:31] tapasweni-pathak commented on #188
Now to Django 1.11 #201.

[2017-09-30 03:31] #188 closed

[2017-09-30 03:32] tapasweni-pathak commented on #190
Yes #201.

[2017-09-30 03:32] #190 closed

[2017-09-30 03:32] #191 closed

[2017-09-30 03:35] tapasweni-pathak commented on #193
@yatna How do you plan to show the user before submitting?

[2017-09-30 03:36] #199 closed

[2017-09-30 03:37] tapasweni-pathak commented on #203
We can ask for blog posts or wiki pages from GCI participants how they installed Portal on their machine.

[2017-09-30 12:50] #173 closed

[2017-10-01 01:27] #208 closed

[2017-10-01 05:55] ankita240796 commented on #211
![selection_001](https://user-images.githubusercontent.com/15226041/31052216-ff22721e-a69a-11e7-8ed6-81a9e8d2a1a1.png)
@tapasweni-pathak country dropdown values are there. Can you have a look !
Thanks

[2017-10-01 06:46] tapasweni-pathak commented on #211
Can you please also setup the portal develop branch in your local and check if you are getting the list of countries there?

[2017-10-01 06:56] ankita240796 commented on #211
Okay ! I checked in my local, list of countries is not there. I am looking into this matter.
Thanks

[2017-10-01 07:26] sonakshisaxena1 opened #215 "Unable to create a virtual environment with Python 3 and install dependencies:"

[2017-10-01 15:48] sonakshisaxena1 opened #216 "Error while installing the dependencies"
After following the setup procedure and then on entering the following command:

`$ pip install -r requirements/dev.txt`

in the terminal, I get the following error:

`Command "/Users/sona/Downloads/portal-develop/venv/bin/python3 -u -c "import setuptools, tokenize;__file__='/private/var/folders/ps/xz4nzvc11tz09z4b8x4vf0nr0000gn/T/pip-build-s9tchabd/Pillow/setup.py';f=getattr(tokenize, 'open', ope

[2017-10-01 16:11] #215 closed

[2017-10-01 17:08] sa7i commented on #212
This looks fine in the dev version, emitted mail is below. Looks to be handled by the django account module internally, I couldn't find something in the portal code which lets me tweak this.  How exactly do I reproduce the bug?

[code]

[2017-10-01 19:25] sonakshisaxena1 commented on #216
I tried to resolve the issue and ended up finding the solution. The following should be done to get the above running:

- Open a new terminal and run:
   `$xcode-select --install`
    This is to install the Command Line Tools for MacOS.

- cd into the portal directory which you have cloned.

- Activate virtualenv:
   `$ virtualenv venv --python=/path/to/python3
     $ source venv/bin/activate`

-

[2017-10-01 19:25] #216 closed

[2017-10-01 20:34] sonakshisaxena1 opened #217 "Error in downloading an image while running portal in a docker container"
After following the mentioned steps in the **Run Portal in a Docker Container** correctly when I tried the following code:

`docker run -e SECRET_KEY=foobarbaz portal_web`

I received an error-

`Unable to find image 'portal_web:latest' locally
docker: Error response from daemon: Get https://registry-1.docker.io/v2/: net/http: TLS handshake timeout.
See 'docker run --help'.`

![screen shot 2017-10

[2017-10-02 00:48] tapasweni-pathak commented on #212
Can you please also check on the website, I find this issue there. It works in local. 😕

[2017-10-02 00:56] tapasweni-pathak commented on #217
Can you please also share ```docker version```, ```docker info```, ```uname -a``` and ```docker inages```?

[2017-10-02 03:41] sonakshisaxena1 commented on #217
-boot2docker: Version 1.3.0
-docker: Version 17.06.2-ce-mac27, build cec0b72
-uname: Darwin Sonas-MacBook-Air.local 17.0.0 Darwin Kernel Version 17.0.0

The above screenshot is on boot2docker used in as terminal with Docker running in the background. Should I post any other screenshots?

[2017-10-02 14:11] ankita-2798 commented on #126
Hey, I was checking this issue when I found out that it had been fixed and is working properly. So I think it should be closed now.
Thank you

[2017-10-02 18:25] sa7i commented on #212
I checked the site and can see the same error.

The way I understand, this is handled internally by the [auth](https://github.com/django/django/blob/89559bcfb096ccc625e0e9ab41e2136fcb32a514/django/contrib/auth/forms.py#L235). I further tracked it to a [get_current_site()](https://github.com/django/django/blob/master/django/contrib/sites/shortcuts.py). Maybe the way it is deployed might have someth

[2017-10-03 17:51] Dhara159 commented on #163
Hi, I'm Dhara Vihol. I want to start contributing to Systers open source projects. I would like to work on this issue and start my contribution. Can i take this issue?

[2017-10-03 17:54] tonythomas01 commented on #163
I dont think you have to wait for someone to allow you to take this (unless this is listed as a special task for some program, etc). Just go on - submit a PR as per the contributing guidelines.

[2017-10-03 17:56] tonythomas01 commented on #217
It seems like a tls handshake timeout. Are you behind a proxy (firewall) ? https://github.com/docker/kitematic/issues/1125 or https://stackoverflow.com/questions/34262275/docker-tls-handshake-timeout

If yes, try from another network and please paste the out.

[2017-10-03 18:17] sonakshisaxena1 commented on #217
Yes, I was behind a proxy. I even tried to change it but was unable to figure it out. (I work in MacOS). Anyways, I’ll try to do it in some other network and will share it with you as soon as possible.
Thankyou :)

[2017-10-04 14:29] sonakshisaxena1 commented on #217
@tonythomas01 I tried using another network but it shows the same error. Can you please suggest me how change the proxy of MacOS?

[2017-10-04 14:40] tonythomas01 commented on #217
To confirm, can you make sure:
[code]
happens ?

[2017-10-04 14:58] sonakshisaxena1 commented on #217
Yes. It happens.
![screen shot 2017-10-04 at 8 27 50 pm](https://user-images.githubusercontent.com/24795489/31182829-8fef2112-a942-11e7-8fda-5b7e1c90c041.png)

[2017-10-04 15:03] tonythomas01 commented on #217
hmm. Looks like not a TLS issue then :-(

[2017-10-04 15:05] sonakshisaxena1 commented on #217
What should I do then?
If I don't get this running, I won't be able to contribute anymore :-(

[2017-10-04 15:22] tonythomas01 commented on #217
This should not block you - go for https://github.com/systers/portal#setup-for-developers -- and continue without deploying the portal on top of a docker. Someone will figure something out in the meanwhile.

[2017-10-04 17:45] sonakshisaxena1 commented on #217
Okay, thanks.

[2017-10-04 17:48] sonakshisaxena1 commented on #203
Hello @tapasweni-pathak
I would like to work on this issue. Am I only supposed to figure out the way in which OSX users install git or the blog post/wiki page is required?

[2017-10-05 15:01] #126 closed

[2017-10-05 15:17] sonakshisaxena1 opened #220 "django.core.exceptions.AppRegistryNotReady error received while migrating"
On using the following command:

`python3 manage.py migrate`

I get the following traceback:

`File "manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)`

  `File "/Users/sona/Downloads/portal-develop/systers_portal/venv/lib/python3.6/site-packages/django/core/management/__init__.py", line 364, in execute_from_command_line
    utility.execute()`

  `File "/Users/sona/Downloads

[2017-10-05 18:14] #220 closed

[2017-10-05 18:44] sonakshisaxena1 opened #221 "Typographical Error in README.md"
Under the **Run Portal in a Docker container** in ReadME.md (https://github.com/systers/portal), I believe there is a typographical error in the first line-

`If you wish to view a **speak** peek of the Systers Portal..`

It should be **sneak** instead of **speak**.

@tapasweni-pathak Can you please recheck it once?

[2017-10-06 06:57] verma-varsha opened #222 "Redirect screenflow after sending/cancelling Community Join Request"
When the user clicks on the "JOIN COMMUNITY" button, he is being redirected to the user home as shown in the next screenshot.

![screenshot from 2017-10-06 12-08-10](https://user-images.githubusercontent.com/20443665/31266265-959501aa-aa90-11e7-9235-9f7fa9660f5f.png)
![screenshot from 2017-10-06 12-10-18](https://user-images.githubusercontent.com/20443665/31266399-442ca2d6-aa91-11e7-88c2-ab46170b2

[2017-10-06 15:58] tapasweni-pathak commented on #220
@sonakshisaxena1 If this got fixed for you please update this issue with your environment details and the fix.

[2017-10-06 16:03] #221 closed

[2017-10-06 17:30] verma-varsha commented on #222
@tapasweni-pathak Could you please assign this task to me as I am already working on it. Thanks!

[2017-10-07 03:36] tapasweni-pathak commented on #222
Issues can be only assigned to people within the org/project. Looking forward to the fix, for this, by you.  Thanks for the issue. :)

[2017-10-07 12:41] tapasweni-pathak opened #223 "Create custom 404, 403, 500 error pages"
[Django documentation](https://docs.djangoproject.com/en/1.11/topics/http/views/#customizing-error-views)

[2017-10-08 05:37] Himanshi-Khandelwal commented on #223
@tapasweni-pathak I am working on this.
I need to make these pages in template folder right?

[2017-10-08 12:18] tapasweni-pathak commented on #223
Yes, also in views.

I am facing some issues in running it with the given django version

Can you please drop an email to May regarding this? You can read [this](https://github.com/systers/ossprojects/wiki/Outreachy-Round-15-(September-2017)#communication) for more.

[2017-10-09 11:17] sonakshisaxena1 commented on #212
Hey, @tapasweni-pathak, I checked this on the website and did get an email with the extra protocol name but no email is received when I go for reset password in local. How should I check if the fixes I am trying to make and working properly or no?

[2017-10-09 15:29] Himanshi-Khandelwal commented on #159
@tapasweni-pathak  what I need to do in this?

[2017-10-09 15:30] Himanshi-Khandelwal commented on #161
what all is left to work in this issue?

[2017-10-09 15:45] Himanshi-Khandelwal commented on #181
@tapasweni-pathak  do we need to first authenticate before sign up? Or sign up button can be pressed but user won't be able to log in unless email confirmation is done

[2017-10-10 07:44] sonakshisaxena1 opened #226 "Setting up the environment in MacOS"
- **Requirements**: Django v1.11, Python 3.3.5

- Ensure that _ssl module is also installed while installing Python 3.3.5. In case if you are not able to get the module then follow the following steps of code in the terminal to set up the whole thing:
(Since my username is 'sona' so I have used it in the code to explain the path. You should replace it with yours.)

1. `brew install openssl` (Insta

[2017-10-10 16:59] Himanshi-Khandelwal commented on #223
@tapasweni-pathak  I have mailed twice , but still not added. I am facing problem in setting this up.

[2017-10-11 01:08] sonakshisaxena1 commented on #207
![screen shot 2017-10-10 at 10 24 36 pm](https://user-images.githubusercontent.com/24795489/31417644-8efdfe98-ae4e-11e7-9b64-a29cfdc9ed26.png)

Even after adding the meetup locations along with their latitudes and longitudes, I am still unable to find any markers on the map. Is this the expected behavior?

If so, then what are we supposed to test?
Can you please guide me a little?

[2017-10-11 01:12] sonakshisaxena1 commented on #210
![screen shot 2017-10-11 at 6 39 39 am](https://user-images.githubusercontent.com/24795489/31417703-ec63a65a-ae4e-11e7-8824-39cb83af1224.png)

I am unable to find any **Browse** button. :(
Are we supposed to change the **Choose File** button as per the general style instead?

[2017-10-11 19:14] ninjakx opened #230 "Add and change user email address"
No option for correcting the user email address in the portal.

[2017-10-11 19:20] ninjakx opened #231 "Password change"
Should display the message  "The new password cannot be same as the old one" when new password and older password is same.

[2017-10-12 05:53] sunakshi96 commented on #209
@tapasweni-pathak Is this issue still open? (Since there is a fix referenced to this issue 11 days ago)

[2017-10-12 07:23] sunakshi96 commented on #210
@tapasweni-pathak Can you please be more explicit in the explanation ?  :)

[2017-10-12 08:05] #226 closed

[2017-10-12 08:06] #161 closed

[2017-10-12 08:12] tapasweni-pathak commented on #181
Signup should authenticate the email of the user, only then user should be allowed to login. If the user try to login without confirming their email they should get an error message that a confirmation has been sent to email id.

[2017-10-12 08:16] tapasweni-pathak commented on #159
This [may](https://docs.djangoproject.com/en/1.11/topics/security/) help.

[2017-10-12 08:49] tapasweni-pathak commented on #223
Done over the email. :) Feel free to raise issue and then close with how you fixed the issue with installation. Closed issues tagged as *While Setting up Portal" may help.

[2017-10-12 12:06] sonakshisaxena1 commented on #212
Hey, I checked both the dev and the site version of this. Since only the site shows this extra protocol, I feel that making any changes to it won't resolve the issue since we are not sending any email through the local version.
Can you please guide me if I am wrong?

[2017-10-12 12:16] #211 closed

[2017-10-12 12:51] #223 closed

[2017-10-12 12:56] tapasweni-pathak commented on #230
@ninjakx Can you please explain a bit more? Please update this pull request with what is the current behavior and what you think would make Portal better.

[2017-10-12 13:39] ninjakx commented on #230
There can be 2 cases :
1) User has made a typing mistake in filling email id in signup form .Then he/she won't receive any email confirmation.
2) User has lost the access to his/her email account . Then he/she will not receive any mail from the organisation.

There should be Add /Remove email account option in the edit profile.

[2017-10-12 15:52] tapasweni-pathak commented on #209
It has two todos, one is fixed with #219.

[2017-10-12 15:53] tapasweni-pathak commented on #210
Woops! updated it. Thanks both of you for pointing it out.

[2017-10-12 16:34] tapasweni-pathak opened #233 "Show previous page link while hovering on the back button on custom error pages"

[2017-10-13 04:05] ninjakx opened #234 "Password validation"
Strengthening the password in signup form
There should be atleast
• 1 digit
• 1 uppercase letter
• 1 special character

It should display  what is missing in the password when criteria is not met
and also minimum length of username should be 5 .

[2017-10-13 04:05] ninjakx commented on #234
I would like to create PR for this issue.

[2017-10-13 19:59] sonakshisaxena1 commented on #210
@tapasweni-pathak I just figured it out that this issue has already been solved by **crispy-forms** and soon will be coming with the next [release](https://l.messenger.com/l.php?u=https%3A%2F%2Fgithub.com%2Fdjango-crispy-forms%2Fdjango-crispy-forms%2Fissues%2F734&h=ATOGiDw2x4ZWgpcWqy9qw4A7RdZGmUuQOB7szXCcoLNUq0KqVLp6cDQeY8OREnp2iLOqGWuPrdzSeypPHCbwnzjB5B3CZbXTVWpj5i9_AumBmrhgBfCpVH62HkMBscjD8phwLa

[2017-10-14 04:43] tapasweni-pathak commented on #207
@sonakshisaxena1 [This](https://github.com/systers/portal/blob/develop/systers_portal/templates/meetup/snippets/meetup_locations_map.html#L15) should be doing it. For this issue a dump is required.

[2017-10-14 05:11] tapasweni-pathak commented on #230
Edit profile will only appear once the user successfully signs in. If they mistyped the email and if that email exist the confirmation will go on that, if not user has to again fill the signup form.

Please raise a new issue writing about 2 with enabling change primary email or add a new new email in edit profile section. Closing this one just to keep things clean.

[2017-10-14 05:11] #230 closed

[2017-10-14 05:47] tapasweni-pathak commented on #210
Thanks for figuring it out, I will keep this open until we adapt to the new one.

[2017-10-14 06:25] #206 closed

[2017-10-14 16:32] sa7i commented on #207
@tapasweni-pathak: Hey, I have a script which can seed this. Currently I'm using random and filling events with random strings. The parameters are numbers -will this do? Here's the code - I can refine this and push it in a while.

Do you require a dump or shall I merge this code itself in?

![screenshot from 2017-10-14 21-55-29](https://user-images.githubusercontent.com/13400691/31577385-ed19b8c6-

[2017-10-14 17:14] sa7i commented on #207
More relevant screenshot - I've seeded as well with 500 meetings. You can view the changes [here](https://github.com/systers/portal/compare/develop...sa7i:develop).

![screenshot from 2017-10-14 22-40-19](https://user-images.githubusercontent.com/13400691/31577685-e22176ba-b130-11e7-9239-eec520aaa3c8.png)

[2017-10-14 17:34] sonakshisaxena1 commented on #209
@tapasweni-pathak
The second to-do was fixed earlier and now I have created a pull request for the first one. Please check it once.

[2017-10-15 01:18] #209 closed

[2017-10-15 05:57] tapasweni-pathak commented on #207
This looks great! Can you work on integrating it with Travis? You can assert on the response.

[2017-10-17 11:17] sonakshisaxena1 commented on #193
@tapasweni-pathak I have created a PR for the second todo. Please review it once.
Also, can you please explain whether adding "Enter Url" in `forms.py` is enough for the first todo?

[2017-10-17 14:17] Himanshi-Khandelwal commented on #52
@tapasweni-pathak currently it is showing error message for incorrect password. So what else needs to be done in this?

[2017-10-17 14:30] Himanshi-Khandelwal commented on #192
@yatna @tonythomas01 @tapasweni-pathak  When I tried this , it doesn't let me cgoose any file type. Error message is visible.
![screenshot from 2017-10-17 19 59 23](https://user-images.githubusercontent.com/17119462/31670706-d0f5be9a-b375-11e7-85d7-90ce996cdfd7.png)

[2017-10-17 18:11] sa7i commented on #233
![screenshot from 2017-10-17 23-17-12](https://user-images.githubusercontent.com/13400691/31680349-ab9d4e1c-b391-11e7-9596-3a5408433851.png)

Hey, I hacked up a quick solution using jquery and boostrap. Will this suit your needs?
I came from `/here-be-dragons`, by clicking the dummy link I made inside the page so cross site unset of `document.referrer` won't happen. This won't work if you're click

[2017-10-17 18:47] nathalier commented on #231
Hi! I'll be happy to work on this.

[2017-10-17 21:14] sa7i opened #246 "Lack of static root creates issues while trying to use debug=False case."
I have encountered this issue while trying to solve #233.
To reproduce the bug, set `debug = False,` add  `ALLOWED_HOSTS= ['*']` in settings/dev.py file and run the server.

Only when `debug = True` , static is enabled, because of this.
https://github.com/systers/portal/blob/97f44df8379cb0332fae1cc31be17b62752ef5d9/systers_portal/systers_portal/urls.py#L38

I'd like to solve this issue.

[2017-10-18 12:09] tapasweni-pathak commented on #52
Thanks for checking and confirming.

[2017-10-18 12:09] #52 closed

[2017-10-18 12:18] tapasweni-pathak commented on #192
Thanks for checking and confirming, not reproducible now, closing this.

[2017-10-18 12:18] #192 closed

[2017-10-18 12:27] tapasweni-pathak commented on #233
The link should be down left corner, how we see on a webpage when we hover over a link. Happy to have a pull request for this.

[2017-10-18 12:43] tapasweni-pathak commented on #246
I was about to raise this one. Please go ahead.

[2017-10-18 14:23] nathalier commented on #231
Hi! I'll be happy to work on this.

[2017-10-18 15:11] nathalier opened #247 "Full password requirements are never provided to user"
clean_password() function is a little bit misleading in its tries to help user to create good password.

Let's consider the case when user creates password 'pass123'.
He gets message: "Password must have at least one uppercase letter and one special character."
He tries 'passA!A' and gets new error message "Password must have at least one digit".
This is quite embarrassing - he previously entered

[2017-10-18 18:13] sa7i commented on #246
@tapasweni-pathak: I did some more reading - I found that deploying static files requires a different technique, and hence the urls.py if condition exists. [(more info)](https://docs.djangoproject.com/en/1.11/howto/static-files/#serving-static-files-during-development)

[2017-10-18 19:02] sa7i commented on #246
According to [this,](https://docs.djangoproject.com/en/1.11/ref/contrib/staticfiles/#cmdoption-runserver-insecure)

would test the error pages during local deployment without having to remove the urls.py if condition.

[2017-10-18 23:38] tapasweni-pathak commented on #207
Closed with 14fae7db14ec8c1f54cd5c8f9325f5e8ba769712.

[2017-10-18 23:38] #207 closed

[2017-10-19 07:50] Himanshi-Khandelwal commented on #234
@tapasweni-pathak this issue is solved. Any changes to be done?

[2017-10-19 09:34] sa7i commented on #181
@tapasweni-pathak  Would this be okay?
![image](https://user-images.githubusercontent.com/13400691/31764370-927b217c-b4de-11e7-866e-4a6ccc28def2.png)
![image](https://user-images.githubusercontent.com/13400691/31764385-9ba17f08-b4de-11e7-831f-124c666ece95.png)
![image](https://user-images.githubusercontent.com/13400691/31764390-9f620cca-b4de-11e7-9458-4712c699a4e8.png)

[2017-10-19 12:18] sonakshisaxena1 opened #250 "Restrict the number of characters to be entered in the Edit Profile Fields"
In the `Edit Profile` (/users/username/profile/) , the user should be allowed to enter only a minimum number of characters in the `First Name` and the `Last Name` fields.

![screen shot 2017-10-19 at 5 44 23 pm](https://user-images.githubusercontent.com/24795489/31770464-a42a106a-b4f5-11e7-9918-5800c636a283.png)

[2017-10-20 17:23] tapasweni-pathak commented on #234
Closed with a398c6d0edd910a186b4d9df4f3c27d5009ec504. Thanks @Himanshi-Khandelwal for pinging me on this.

[2017-10-20 17:23] #234 closed

[2017-10-21 01:58] tapasweni-pathak commented on #247
Thanks for this! This will also simplify the logic.

[2017-10-21 07:30] #246 closed

[2017-10-21 07:44] tapasweni-pathak commented on #247
Closed with ce6417f31397f58722a8ca3ecbaa29cfefc7bcd8.

[2017-10-21 07:44] #247 closed

[2017-10-22 09:50] #222 closed

[2017-10-22 15:32] nathalier commented on #231
Cannot find obvious way to resolve it..
Will appreciate any clues.

[2017-10-24 18:55] sonakshisaxena1 commented on #231
@tapasweni-pathak
I am not able to find the name under which the old-passwords are hashed in our project.
I was trying to resolve this issue, but got stuck in here. Can you please help?

[2017-10-24 19:02] sonakshisaxena1 commented on #196
I think it's already been fixed.
@tapasweni-pathak can you check it once?

[2017-10-27 14:25] sonakshisaxena1 commented on #231
@ninjakx @tapasweni-pathak
I went through the code thoroughly and concluded that since we are using the already installed `allauth` package of django, so, we can't interfere with its behaviour to change the passwords.
Therefore, we can't introduce this facility to check the new password with the old one.
Please do guide me if I am wrong.

[2017-10-27 16:49] tapasweni-pathak opened #255 "pg_config and postgres issue osx"
While setting Portal up for below configuration and encountered two errors.

```sw_vers```

ProductName:	Mac OS X
ProductVersion:	10.12.6
BuildVersion:	16G29

1. ```pg_config executable not found```

Error log:
[code]

I has to install ```postgres``` using brew. Say, ```brew install postgres```. It install 10.0 atm.

After this I got one more error..

2.  Error: could not determine PostgreSQL vers

[2017-10-27 16:49] #255 closed

[2017-10-27 18:38] tapasweni-pathak opened #256 "Migrate issues Django 1.8, Python 3.6.3, Virtualenv 15.1.0"
If you get these..

1. ```psycopg2.ProgrammingError: relation "<relation_name_here>" does not exist```

Try migrating every app separately.

2. ```django.contrib.contenttypes.models.DoesNotExist: ContentType matching query does not exist.```

Run ```python manage.py migrate contenttypes```

3. ```psycopg2.ProgrammingError: relation "django_site" does not exist LINE 1: SELECT (1) AS "a" FROM "djang

[2017-10-27 18:38] #256 closed

[2017-10-28 01:52] tapasweni-pathak commented on #196
Yep, thanks for checking!

[2017-10-28 19:47] sonakshisaxena1 commented on #233
@tapasweni-pathak I tried to get the previous link on hovering over, and this is what I figured out-

If we add `onMouseOver="window.status='XYZ';` to `<a> tag` in our `custom pages` in `templates`, then we could get our desired text printed in the status bar on hovering over a link or in this case the **Back** button.

But unfortunately, [`window.status`](https://www.w3schools.com/jsref/prop_win_

[2017-10-30 08:23] sa7i commented on #212
@tapasweni-pathak While resetting portal-dev's password, I noticed that it doesn't have an extra protocol name. I think this bug no longer exists.
![image](https://user-images.githubusercontent.com/13400691/32160694-d74ad822-bd78-11e7-8a9e-4dde3e808dfd.png)

[2017-10-30 17:54] AkshGautam commented on #250
Is these repository only dedicated to female developers? If not,can i contribute ?after getting acquainted the code

[2017-10-31 11:59] tapasweni-pathak commented on #233
Closed with 0d793c8c7637082fadf9981d0110f15f38bc72ab.

[2017-10-31 11:59] #233 closed

[2017-10-31 12:23] sonakshisaxena1 commented on #250
@tapasweni-pathak I have made a PR regarding this. Please review it once.

[2017-10-31 16:24] AkshGautam commented on #250
@tapasweni-pathak thanks,i would be happy to contribute,Is there a slack channel for the organization?

[2017-11-02 03:05] MeepyMay opened #258 "Create authorization levels. [EXAMPLE/TEST]"
[EXAMPLE/TEST]
## Description
As a project manager,
I need different levels of security,
so that users can engage at a secure level.

## Mocks
N/A

## Acceptance Criteria
- Admin, Organizer, and User are all present.

## Definition of Done
- Create a PR and refer this issue.
- Approved by Tapasweni and Mansimar.

## Estimation
?? hours

[2017-11-02 03:20] MeepyMay commented on #258
Do not work on this issue. Thank you.

[2017-11-03 17:06] #51 closed

[2017-11-03 17:06] #54 closed

[2017-11-03 17:06] #118 closed

[2017-11-03 17:06] #146 closed

[2017-11-03 17:06] #159 closed

[2017-11-03 17:06] #163 closed

[2017-11-03 17:06] #171 closed

[2017-11-03 17:06] #177 closed

[2017-11-03 17:06] #193 closed

[2017-11-03 17:06] #197 closed

[2017-11-03 17:06] #250 closed

[2017-11-03 17:08] #181 closed

[2017-11-03 17:27] tonythomas01 commented on #197
@MeepyMay why are you closing these issues ? Are they fixed ?

[2017-11-03 17:27] tonythomas01 commented on #163
@MeepyMay why are you closing these issues ? Are they fixed ?

[2017-11-03 17:29] tonythomas01 commented on #193
I dont think this open-later tag makes any sense at all. That is not a standard workflow.

[2017-11-03 17:34] sonakshisaxena1 commented on #250
@MeepMay I have already made a PR regarding this. Can you please consider it before closing the issue?

[2017-11-04 04:02] tapasweni-pathak commented on #177
*This is not reproducible with develop branch.*

[2017-11-04 04:06] tapasweni-pathak commented on #197
We can have a discussion on this if we should go ahead with this feature and allow users to view each other's profile, memberships e.t.c. Not a bug but something to have a discussion on.

[2017-11-04 04:25] tapasweni-pathak commented on #159
Important issue if this happens even after develop gets deployed.

[2017-11-04 09:20] tonythomas01 commented on #197
@tapasweni-pathak Agreed. But that should've been mentioned before someone close this thing. Probably an issue over handling tickets on  Github - which do not support a workboard of tasks ... :/

[2017-11-23 12:25] tapaswenipathak opened #263 "REST API for Portal meetup data to be accessed internally for vola"
Plan is to expose Portal meetup data within Systers project; currently to vola with auth.
Portal meetup does not track all given [here](https://github.com/systers/volunteers-android/blob/develop/docs/Schema.pdf) -> `starred events`.

As discussed ticketing it out; please let me know if there are any other specific requirements, here.

Requested:

cc/ @HimanshiJain, @pandilladivya, @mansimarkaur, @

[2017-11-28 18:24] sa7i opened #264 "Upcoming meetups on meetup/locations page"
This is an enhancement task. It would be better to have upcoming meetups on meetup/location page in addition to upcoming meetups on meetup location page.
![image](https://user-images.githubusercontent.com/13400691/33336821-2b297f0e-d497-11e7-84fd-bc856dd1dc26.png)

![media-20171128](https://user-images.githubusercontent.com/13400691/33336429-e06fb2a4-d495-11e7-88aa-bfd6ffa50ed7.png)

[2017-11-28 18:47] poojithansl opened #265 "Searching a meetup location"
Currently, 20 meetup locations are possible on the meetup/location page. If there are more than 20, it would be difficult to go through all pages to find the required meetup location, there must either be a search feature or limiting it to 20(pagination) must be removed.
![image](https://user-images.githubusercontent.com/13400691/33337120-fa6bdda2-d497-11e7-9dd6-843d3c63bf16.png)
Searching a meetu

[2017-11-28 18:57] poojithansl opened #266 "Photos of every meetup event on Meetup"
Photos of a meetup can be added to every meetup location page by organizers.

[2017-12-03 05:24] tapasweni-pathak commented on #265
This looks 💯 to me.

[2017-12-03 18:15] sa7i opened #267 "Add a new community by Admin"
Admin must be able to create a community on the frontend.

[2017-12-03 18:21] poojithansl opened #268 "Share buttons on a meetup event and a notify using google calendar button"
Every meetup event can be shared using the following buttons
- Facebook
- Twitter
- Google plus
- Linkedin
Add a google calendar notify button, Purpose of it being the event would be added to the google calendar of the user.

[2017-12-03 18:28] poojithansl opened #269 "Adding Twitter feeds to Communities and Meetups"
Create a Media section in Communities and add a twitter feed to it.
Add twitter feed to every Meetup location.
Add twitter feed to the Meetups Main page.

[2017-12-03 18:41] sa7i opened #270 "Add meetup locations must be on the main MeetupLocation page."
Currently, add meetup locations are on the meetup page.Change it to the main meetup locations page.

[2017-12-03 18:48] sa7i opened #271 "Add a sponsor us page."
Must be similar to [this](http://www.pyladies.com/sponsor/)

[2017-12-03 19:19] poojithansl opened #272 "Authorization Levels on the Portal Application"
Super Users | Community Leaders | Community Moderators | Users
-- | --|--|--
| Overrides the following in Meetups & Community: Activities, Content, Roles/Memberships (Assign/Remove/Revoke Community Leaders) | Manages all of the following in assigned Meetups & Community: Activities, Content, & Roles/Memberships | Approve/Reject Membership: Approve/Disapprove Community & Meetup Location Join Request

[2017-12-06 02:24] tapasweni-pathak commented on #272
👋 @sa7i, are you writing about what we plan to do?

[2017-12-06 05:44] sa7i commented on #272
Forgot about that. I will do it today. :)

[2017-12-06 17:46] anjali-dhanuka opened #277 "Add check on "no of volunteers" field in New community proposal form"
## Description
Negative integers in no of volunteers field in new community proposal form must not be saved.
Error message must be displayed for that.

![screenshot from 2017-12-06 16-36-18](https://user-images.githubusercontent.com/22369767/33676347-877e164e-dadb-11e7-9bf4-31fd48e03fce.png)

[2017-12-06 18:34] anjali-dhanuka commented on #269
Hey @sa7i, are you asking to create  a separate section for twitter feeds of organisations?

[2017-12-08 03:05] tapaswenipathak opened #278 "Check all migration file and see if they can be improved"
- renaming.
- why are they squashed if they are.

@sa7i Please write your observation in this issue.

[2017-12-08 03:55] tapasweni-pathak commented on #269
@anjali-dhanuka A bit late to tag, the issues raised by @sa7i are her ongoing Outreachy work. Please feel free to pick other issues, create new and contribute. 🎉

[2017-12-11 13:47] arunikayadav42 commented on #212
Is this bug still an issue?

[2017-12-11 13:56] arunikayadav42 commented on #212
I want to work on this issue,can somebody please guide me regarding the work that has to be done?

[2017-12-11 13:58] arunikayadav42 commented on #201
I am keen on working on this issue,can somebody help me out?

[2017-12-11 14:01] arunikayadav42 commented on #196
I am interested to work on this issue,can somebody help me out?

[2017-12-11 14:01] arunikayadav42 commented on #196
on how to proceed?

[2017-12-11 15:17] sa7i commented on #201
This is a huge task to work on. I've already worked on this and opened a [PR](https://github.com/systers/portal/pull/257) for it, ready to be merged.

[2017-12-11 15:20] sa7i commented on #212
This bug doesn't exist now

[2017-12-13 06:55] arunikayadav42 commented on #278
Can I please work on this issue?

[2017-12-13 07:00] arunikayadav42 commented on #277
If nobody else is then I am getting started on this issue

[2017-12-13 10:01] sa7i commented on #277
Hi @arunikayadav42, the community proposal form is a Google doc, so there won't be anything from our side to work on this.

[2017-12-13 10:05] sa7i commented on #278
Hi @arunikayadav42, all the issues that are tagged [Program: Outreachy Ongoing](https://github.com/systers/portal/labels/Program%3A%20Outreachy%20Ongoing) are assigned to me to work on as part of my outreachy internship. Please feel free to pick other issues, create new and contribute. :dancer:

[2017-12-13 11:04] arunikayadav42 commented on #263
Can I start working on this issue?

[2017-12-14 09:34] poojithansl opened #286 "Bug- Adding a new meetup without filling time throws an error"
Time field must be required too.
@tapasweni-pathak Currently there's only starting time, but no end time for an event/meetup.
How about adding a new field for end time to the model?

[2017-12-15 13:48] tapaswenipathak opened #287 "Poojitha Nandigam Outreachy Round'15"
👋 Poojitha, keep this as the list of todos for your Outreachy internship and tick the checkboxes as you complete them. Few of these would only be completed when you complete your internship.

- [x] Publish your timeline, blog link on Portal wiki. [Ref](https://github.com/systers/vms/wiki/GSOC-16--Work-:-AUT-VMS-%5Bvatsala%5D).
- [x] Open broad issues for your Outreachy work including how you would

[2017-12-15 14:31] #212 closed

[2017-12-15 15:30] tapasweni-pathak commented on #277
@sa7i We would be going ahead w/ a form instead so that admin can say approve and then enable the addition of new community. Having a Google Document and having a separate form only for admin doesn't sound good in terms of usability.

[2017-12-15 15:35] sa7i commented on #277
@tapasweni-pathak , In that case, I don't think we'd need the add community by admin form or do you think it'd be better to have that one as well?

[2017-12-15 15:37] sa7i opened #288 "Create a new form to add a community."
Currently, users fill a google doc to request a new community, and admin can only add a new community via backend. Even when an admin can add a community via frontend, it'd still be an extra work as the number of communities increase.
Hence, approve/reject requests of new community would be better.
Admin would go through the details of the form filled by users requesting a new community and approv

[2017-12-15 16:07] sa7i opened #289 "Create the same style for meetup tabs as community tabs."
Currently,
Both community and meetups use nav-pills but the tabs aren't similar.
Create the same style for meetup tabs as community tabs.
![image](https://user-images.githubusercontent.com/13400691/34050023-69d87cfa-e1df-11e7-992e-ac1095ef8f8f.png)

![image](https://user-images.githubusercontent.com/13400691/34050003-5967362c-e1df-11e7-9497-4b4034047408.png)

This may be a low priority task; just

[2017-12-15 16:59] tapasweni-pathak commented on #277
There should be one form, admin should be able to approve and edit the details. Once they approve it published as a community.

[2017-12-15 17:00] tapasweni-pathak commented on #288
You can close https://github.com/systers/portal/issues/267 and add more description about the use case in this one.

[2017-12-15 17:06] sa7i commented on #288
@tapasweni-pathak  I will consider this as a high priority task and work on this from today.

[2017-12-15 17:06] #267 closed

[2017-12-15 19:07] sa7i opened #290 "Upgrade psycopg2 to the latest version for travis to work."
As seen in one of my [PR](https://travis-ci.org/systers/portal/builds/317064729?utm_source=github_status&utm_medium=notification), travis is breaking while installing psycopg2.6.
psycopg must be upgraded to the latest version to resolve this issue.

Related issues:
https://github.com/psycopg/psycopg2/issues/594
https://github.com/travis-ci/travis-ci/issues/8897

[2017-12-17 03:26] tapasweni-pathak commented on #290
I included this in https://github.com/systers/portal/issues/201 <=  includes migrating all the used packages to latest and compatible versions, closing this one.

[2017-12-17 03:26] #290 closed

[2018-01-02 20:09] sa7i commented on #287
- [x]  Publish your timeline, blog link on Portal wiki. [Ref.](https://github.com/systers/vms/wiki/GSOC-16--Work-:-AUT-VMS-%5Bvatsala%5D)
- [x] Open broad issues for your Outreachy work including how you would be resolving them discussed w/ @tapasweni-pathak and list them down w/ checkboxes, as a comment on this issue.
- [x] Answer questions on Slack for people who are getting started with contrib

[2018-01-05 09:41] sa7i opened #293 "Requesting a new meetup location, and a meetup"
## Description
As a user, I need to request a meetup location in my city, which the admin can accept.
As a user, I also need to request a meetup event in the meetup location, which can be accepted by organizers/admins.
Only admin is able to add a meetup or a meetup location, but it would be better to have users requesting them rather than manually adding them.

[2018-01-05 10:40] sa7i opened #294 "Add Report, Delete Permissions for comments"
## Description
Currently, user can only edit or delete their own comments. But, user must also be able to report a comment and admin/organiser must be given permissions to delete the comment.

[2018-01-13 10:17] kriti21 opened #295 "WIKI link in navbar should display a proper message instead of 404 Not found"
WIKI link in the navbar shows 404 Not found error message which is not very user-friendly.
It could instead display some meaningful message (as for the link CONTACT)

## Mocks
screenshot of the error
![issue1systers](https://user-images.githubusercontent.com/19872082/34905120-8a03fa9a-f878-11e7-9f02-22838e971f36.png)

[2018-01-13 15:56] tapasweni-pathak commented on #295
This is not reproducible on dev, closing it, thanks for the heads up just as an information the dev would lead to being live on this link.

[2018-01-13 15:56] #295 closed

[2018-01-14 11:30] kriti21 opened #296 "Add option to allow signup with github"
The option for signing in with github is already available while signing up with github is not present.
Add option to allow user to sign up on systers portal using his/her github account.

## Mocks
![portal1](https://user-images.githubusercontent.com/19872082/34915394-ee5e0552-f94b-11e7-813a-ec73fcdfc93d.png)

![portal3](https://user-images.githubusercontent.com/19872082/34915407-23feb396-f94c-11e

[2018-01-14 11:33] kriti21 opened #297 "Error when using the option to signin/login with github"
## Mocks
![portal2](https://user-images.githubusercontent.com/19872082/34915438-c03a9220-f94c-11e7-9159-6cd9408f0a5c.png)

[2018-01-15 11:15] kriti21 opened #298 "Add option to allow sign up with Google Account"
In order to make the already available Sign in option with Google account to work, it is required that a sign up option using Google account is also available.

## Mocks
![portal4](https://user-images.githubusercontent.com/19872082/34939854-5cb9aa48-fa13-11e7-94fc-a94fa26fad65.png)
![portal5](https://user-images.githubusercontent.com/19872082/34939863-6690338e-fa13-11e7-905e-cb1c8aa8d0d9.png)

[2018-01-15 11:18] kriti21 opened #299 "Log in with Google account shows Oauth error"
## Mocks
![portal6](https://user-images.githubusercontent.com/19872082/34939965-d185c348-fa13-11e7-93b3-9d0703c1ba69.png)

[2018-01-22 11:15] kriti21 commented on #294
@sa7i Please tell me what comments are you referring to here? I am unable to find comment section in portal.

[2018-01-22 13:01] kriti21 opened #301 "Implement django form for new community proposal."
## Description
As of now, the form for proposing a new community is based on Google forms. Although it is fully functional but a more relevant approach would be to use django based forms as they are more reliable.

## Acceptance Criteria
All the functionality supported at present should be imported in the form and database connected.

[2018-01-23 02:47] sa7i commented on #301
Hi, @kriti21 You're right!
But there's already a #292 submitted to replace google form with Django forms.
This issue can be closed.

[2018-01-23 13:07] kriti21 commented on #301
Ok @sa7i :)
I am closing this one.

[2018-01-23 13:07] #301 closed

[2018-01-23 15:47] sa7i commented on #294
Hi @kriti21, thank you for showing interest in this.
The issues that I created are assigned to me to finish it as part of my outreachy work.
Anyway, to get to see the comment section, you have to add a meetup location from the admin panel. Once you do it, you'll also have to create a new meetup, after which you can see a discussion area where comments can be added.

[2018-01-24 17:10] kriti21 commented on #294
Thanks for the info @sa7i

[2018-01-28 08:03] kurianbenoy commented on #296
Is the project using the Ouath?
Can I add the option for setting up Signing up with github?

[2018-01-29 11:29] jagmeetsinghalagh commented on #298
Claim

[2018-01-30 04:00] #258 closed

[2018-01-30 15:34] apoorvaagupta commented on #289
Hello, Is this issue available.
May I take it up, if no one else is doing?

[2018-02-14 19:16] jainaman224 opened #305 "Page not found"
To reproduce go to http://systers.org/systers-dev/ or click Wiki from navbar of http://portal.systers.org.
Whereas link is correct in this codebase https://github.com/systers/portal/blob/235cd8ff7a6073402aee648ae18e4d11f8709ece/systers_portal/templates/base.html#L56.

[2018-02-15 13:01] sandeepsajan0 commented on #305
I am working on this issue.

[2018-02-15 20:28] sandeepsajan0 commented on #305
It occurs due to the branching of the repo. As I think this http://portal.systers.org/  site is deployed on the basis of master branch but we all are using develop branch. If you will see the code of master branch then you could understand that.

[2018-02-15 20:52] sa7i commented on #305
Hi, currently we are using develop branch. You needn't worry about the master. Once the develop branch's portal is ready, it will be deployed into production. The issue states that the link in develop branch is working. So I don't think there can be any changes made to the code. This can be closed. Also, there are currently three links where portal is hosted.
http://portal-beta.systers.org
http://

[2018-02-15 21:10] sandeepsajan0 commented on #305
Yeah, I got it thanks @sa7i  it helps.

[2018-02-15 22:51] #305 closed

[2018-02-17 09:53] #201 closed

[2018-02-17 10:28] tapasweni-pathak commented on #268
Closed w/ 57325ea07e063bdd319bac89d922ff7b244db527.

[2018-02-17 12:09] tapasweni-pathak commented on #264
Closed w/ 45dc32a33628af2a2ee0cb459e000ea827e8b041.

[2018-02-17 12:09] #264 closed

[2018-02-17 13:25] vigzmv commented on #196
Claiming this

[2018-02-17 15:29] #196 closed

[2018-02-17 20:35] vigzmv opened #307 "Content slugs should be auto generated from title"
As a User, I should not worry about slugs,
Slugs should be auto-generated from the content title.

- A non-techy user may not understand what a slug is.
- They may have trouble providing a valid slug as it has certain validations.
- Slug generated from title has SEO benefits.

**Solution:**
Hide Slug Field on all forms.
Generate slug from content title
[Optional] Make slug editable in edit forms.

[2018-02-19 05:19] sa7i opened #308 "Update Readme with python 3.6"
Update python version to 3.6 in the Readme.

[2018-02-19 05:39] sa7i opened #309 "Add success,warning messages after a succesful submit or approval/rejection"
Add relevant messages after
- [ ] Adding meetup location, meetup
- [ ] Editing meetup location, meetup
- [ ] Deleting meetup location, meetup
- [ ] Adding a new member to meetup location, Adding a support request
- [ ] Approving, rejecting join requests and support requests

[2018-02-19 05:45] sa7i opened #310 "RSVP/Adding support requests option also available to past meetups."
Currently, a user can RSVP to a past event and can also add a support request.
RSVP'ing and support requests options must be available to only upcoming events/meetups.

[2018-02-19 08:44] poojithansl opened #311 "Updating the RSVP of a meetup second time throws an error."
Steps to reproduce this
RSVP to a meetup.
RSVP to the same meetup again.
Error Thrown
![image](https://user-images.githubusercontent.com/13400691/36368849-254df9ec-157f-11e8-8be5-a042b71738b6.png)

[2018-02-19 08:50] sa7i opened #312 "Users who are already members of a meetup location must not be shown Join MeetupLocation"
Currently, users requests to be a member by clicking "Join Meetup Location" button.
But the users who are members of a meetup location also are able to view the button, which will prompt the users to join again.
Hence, Join Meetup Location button must only be viewed by the users who're not members of the meetup location.

[2018-02-24 14:33] #270 closed

[2018-02-24 14:48] #289 closed

[2018-02-25 14:40] #293 closed

[2018-02-25 14:46] #312 closed

[2018-02-26 05:09] Nik-Khandelwal opened #317 "Members/Organizers of a Meetup Location should have the flexibility to change the extent of their involvement in that meetup"
## Description
As a Member of a meetup,
I need to have a Leave Meetup Location Button,
so that I can have the flexibility of leaving the meetup location if necessary.

Similarly as a Organiser of a meetup,
I need to have a Leave as Organiser and a Leave Meetup Location Button,
so that I can contribute to the meetup according to my convenience.

I can work on this.

## Acceptance Criteria
### Updat

[2018-02-26 05:42] AnkitKhatri55555 commented on #298
@kriti21 , is someone working on this?

[2018-02-26 05:43] AnkitKhatri55555 commented on #297
@kriti21 , someone workin on this?

[2018-02-26 06:15] kriti21 commented on #298
I don't think so @AnkitKhatri55555 Feel free to solve this and submit a PR :)

[2018-02-27 09:31] sa7i opened #322 "Bug - Signals aren't working"
## Description
Signals aren't being called hence groups for authorization aren't created after the migration of portal.

## Mocks
After adding a meetup location or a community, the community/meetup location groups aren't created.
Create a meetup location, add a user to be a member. make the member an organiser. This member won't be having any permissions since the permissions groups aren't created

[2018-02-27 15:51] sammy1997 commented on #311
@sa7i @Janiceilene @prachi1210 Can I please work on this? Please verify that this is a correct error?

[2018-02-28 12:23] imrshu commented on #298
@kriti21 I have already solve this issue could you please assign this task to me, So that i can make a PR.

[2018-02-28 12:51] sa7i commented on #311
Please go ahead.

[2018-02-28 13:08] AnkitKhatri55555 commented on #298
@imrshu , feel free to take another issue

[2018-02-28 13:08] AnkitKhatri55555 commented on #298
iam working on this

[2018-02-28 13:09] imrshu commented on #299
@kriti21 It seems like Systers Portal's Oauth Client & Secret has been changed or deleted in Google developers console

[2018-02-28 14:11] sa7i opened #329 "Adding comments must not redirect to a new page."
## Description
As a user, when I comment on a meetup, it redirects to a new page and the form is shown. This redirection mustn't happen and users must be able to comment without being redirected. Similarly, while editing too.

## Mocks
![image](https://user-images.githubusercontent.com/13400691/36791635-5f01981a-1cbe-11e8-9692-51528c8b680f.png)

![image](https://user-images.githubusercontent.com/1

[2018-02-28 14:29] poojithansl opened #330 "Users must be suggested to Join meetup location instead of showing 403 page while RSVP'ing"
## Description
As a non-meetup location member, when I rsvp to a meetup or perform actions only obtained by being a member - I am shown 403 page. But instead, I must be suggested to join the meetup location to perform those actions.

## Acceptance Criteria
Suggest users to join the meetup location rather than showing 403.
These can be done through a boostrap modal plugin if not a better one you ca

[2018-02-28 14:44] sa7i opened #331 "User re-login after logging out and clicking back button."
## Description
As a user, when I log out and click the back button, I am able to re-login without entering any details, which is a flaw.

## Acceptance Criteria
Once logged out, the user mustn't re-login with a back button.

### Update [Required]
- [ ] Meet the acceptance criteria

### Enhancement to Update [Optional]
- [ ] Go through Portal, and check if there are any more such flaws. If they exi

[2018-03-01 06:17] imrshu commented on #331
claim

[2018-03-01 07:23] imrshu commented on #331
@sa7i i have test this issue on several browsers (Chrome, FireFox, Ubuntu Browser) and found that it is just the browser caching problem. However i found that the problem occurs only with Firefox.

[2018-03-01 07:44] SETIADEEPANSHU commented on #329
Can you assign this issue to me as I want to work on this!

[2018-03-01 07:45] sa7i commented on #329
I can't assign, but go ahead, work on it and submit a PR.

[2018-03-01 07:46] SETIADEEPANSHU commented on #329
Okay , I am working on it ! Will soon submit a PR!

[2018-03-01 08:07] poojithansl opened #332 "Membership must also include Meetup Locations."
## Description
Membership of a user can be shown next to the user's profile. Currently, membership only includes the community membership. But, Meetup membership must also be included.
e.g. If I am a Community Member of Systers and Meetup location member of London Systers. Membership only shows that I am part of Systers.

## Mocks
![image](https://user-images.githubusercontent.com/13400691/3683343

[2018-03-01 08:21] sa7i opened #333 "Cancel Request option must be available to users who requested to join meetup location."
## Description
As a user, when I click the "join meetup location" button I am shown a message that my request is sent.  But, there must also exist an option to cancel the request.

## Mocks
This is already implemented in Communities. Implement it for Meetup locations.
![image](https://user-images.githubusercontent.com/13400691/36833874-e28bf3cc-1d56-11e8-83f4-db9305eb13d6.png)

## Acceptance Crite

[2018-03-01 08:47] ajatprabha commented on #333
@sa7i, I would like to implement this. I'll send a PR when ready.

[2018-03-01 08:48] poojithansl opened #334 "Bug - Date is empty in Join requests for meetup location."
## Description
Date is empty in every join requests for meetup location as seen in the image
## Mocks
![image](https://user-images.githubusercontent.com/13400691/36835068-f967c1f8-1d5a-11e8-975d-848059d90144.png)

## Acceptance Criteria
Join requests for a meetup location doesn't contain any date field. So, for every join request the date shows empty. Remove date.

### Update [Required]
- [ ] Meet

[2018-03-01 09:12] SETIADEEPANSHU commented on #334
Can I take this issue !

[2018-03-01 17:32] abhi20161997 commented on #334
I'll be working on it.

[2018-03-01 17:37] SETIADEEPANSHU commented on #334
I have already done it ! I am just working on PR template, hope you don't mind!

[2018-03-01 18:24] ajatprabha opened #337 "View improvements in users app"
## Description
The `users` app module is concerned with managing and presenting the data of a user within the `systers_portal` project. There are currently two views under `views.py` UserView and UserProfileView. While both of them have rather confusing names in accordance with what they do, one of them inherits from the wrong type of Generic Class Based View and the other uses a wrong Model class

[2018-03-01 18:29] poojithansl opened #338 "Style Discussion Area and add date"
## Description
The comments do not include the date they're created. The comments also seem to occupy more space. Style the Discussion Area and add the date to the comments.

## Mocks
![image](https://user-images.githubusercontent.com/13400691/36861358-a602d8a0-1da9-11e8-8963-6105f5463377.png)

## Acceptance Criteria
Model Comment consists of a field date_created. https://github.com/systers/portal

[2018-03-01 18:30] SETIADEEPANSHU commented on #338
Can I work on this as I am already working on comments!

[2018-03-01 18:33] sa7i commented on #338
@SETIADEEPANSHU This is a first timer task, let others contribute :)

[2018-03-01 18:41] sa7i commented on #337
@ajatprabha Before you start working on this, please get an approval from @tapasweni-pathak

[2018-03-01 21:10] abhi20161997 commented on #338
I am working on this

[2018-03-02 02:14] imrshu commented on #332
@sa7i I will you a PR for this issue.

[2018-03-02 06:43] sa7i commented on #210
[Update] Crispy forms got upgraded and the browse button looks like this. @tapasweni-pathak does this need improvement?
![image](https://user-images.githubusercontent.com/13400691/36886437-659f20ac-1e12-11e8-9f3d-b914dd887a05.png)

[2018-03-02 11:15] sammy1997 opened #339 "Permissions for user not being shown on home screen"
## Description
As a user,
I need to grant permissions to the user(let's say from admin),
and then view your profile. No permissions will be shown.

## Mocks
![portal](https://user-images.githubusercontent.com/24635701/36896464-d085d836-1e38-11e8-8548-9203d35defb3.png)
![portal_error](https://user-images.githubusercontent.com/24635701/36896466-d1047f6a-1e38-11e8-9006-956cd85030f6.png)

## Acceptanc

[2018-03-02 11:16] sammy1997 commented on #339
Please review this. I would like to work on this.

[2018-03-02 11:35] sammy1997 commented on #311
@sa7i When I created a meetup for an event, /rsvp gives errors. I am an organiser for this event. I am getting access denied page. Is this a correct way to go?

[2018-03-02 12:59] sa7i commented on #339
@sammy1997 Yes, they aren't showing up. I opened an issue few days back and worked on it
https ://github.com/systers/portal/issues/322

[2018-03-02 13:01] sa7i commented on #311
No, that's not how it should work. As you stated in the other issue, it's a bug.

[2018-03-02 13:50] sammy1997 commented on #311
So how can I generate this RSVP error if this error isn't solved

[2018-03-02 14:02] sa7i commented on #311
@sammy1997 Two ways- you can accept the join requests by being a super user. Accept them. This way you can work on it without changing code . The other way is to add these lines https://github.com/systers/portal/pull/328/commits/1d23dc876ac5876ba1032e01cf3334bb6ea84e2f

[2018-03-02 21:06] abhi20161997 commented on #334
@SETIADEEPANSHU  it's completely fine with you doing this but please abide by the code of conduct in future cause I'd mentioned I'd be working on that :)

[2018-03-02 21:08] abhi20161997 commented on #330
@sa7i  I would like to work on it . Shall I start off ?

[2018-03-03 04:39] SETIADEEPANSHU commented on #334
@abhi20161997 I think you are mistaken , @sa7i asked me to solve it , may be she might have mistakenly asked you also. Not my fault!

[2018-03-03 06:16] sammy1997 commented on #332
@imrshu R u still working on this?

[2018-03-03 06:17] sammy1997 commented on #329
@SETIADEEPANSHU R u still on this?

[2018-03-03 06:17] SETIADEEPANSHU commented on #329
Yes @sammy1997

[2018-03-04 17:25] prachi1210 commented on #294
Please update with issue template.

[2018-03-04 17:25] #294 closed

[2018-03-04 17:25] prachi1210 commented on #296
Please update with issue template

[2018-03-04 17:25] #296 closed

[2018-03-04 17:26] prachi1210 commented on #297
Please update with issue template

[2018-03-04 17:26] #297 closed

[2018-03-04 17:26] prachi1210 commented on #298
Please update with issue template

[2018-03-04 17:26] #298 closed

[2018-03-04 17:28] prachi1210 commented on #339
If this issue is a duplicate, it should be closed. Has this been fixed @sa7i?

[2018-03-04 17:57] sa7i commented on #339
@prachi1210  This issue is a duplicate of #322  I fixed it, but not merged yet.

[2018-03-05 07:01] abhi20161997 commented on #330
I am working on this.

[2018-03-05 12:20] yashLadha opened #342 "Dev file should be ignored."
## Description
As a new contributor, i need to setup the project for the contribution, but i need to set the database preferences in the dev file, and they started watching from the git, contributor mistakenly push the file and merged from a list of changes might lead to confusion or build failure in later future.

## Mocks
N/A

## Acceptance Criteria
* Code is not changed

## Definition of Done
-

[2018-03-05 13:31] sa7i commented on #342
@yashLadha  I don't see this as an issue to work on. The solution proposed in the PR only makes the code unnecessarily complicated. Carefully doing `git add` could solve this.

[2018-03-07 03:44] Jaemu opened #344 "Bug - github authentication still associated with private github account"
## Description
As a user, I want to know that when I login with my github credentials to access the Systers portal I know that only Systers has access to my information.

*Update*
This issue is observable on portal.systers.org - 3P login is not available locally.

## Mocks
![screen shot 2018-03-06 at 7 39 04 pm](https://user-images.githubusercontent.com/2614791/37072452-8344730c-2176-11e8-9b8a-558

[2018-03-07 03:50] Jaemu opened #345 "Feature - Add Linkedin Authentication"
## Description
As a user,
I would like to be able to authenticate with my linkedin credentials,
so that I can have more options with which to authenticate.

## Documentation
https://developer.linkedin.com/docs/signin-with-linkedin

## Acceptance Criteria
### Update [Required]
- [ ] Linkedin authentication integrated into the systers portal application
- [ ] LInkedin login badge added to sign up pa

[2018-03-07 04:01] SETIADEEPANSHU commented on #345
I will like to work on this issue , as I have done similar work before . @Jaemu . Can I ?

[2018-03-07 05:15] SETIADEEPANSHU commented on #344
@Jaemu I have checked this , ana-balica was the one who created and is also the current owner of this app . the solution is either to transfer the ownership from her to systers or setup new oauth app using systers login credentials . The name of person or organisation who creates this oauth login is displayed there!

[2018-03-08 08:07] aviaryan commented on #342
I feel both ways on this problem. Sure, having a separate `*.py` file for development helps but it also adds unnecessary steps to the "getting started" process.
So I think we should leave it as it is.
Do you have any real-life examples that can help strengthen your proposal?

[2018-03-08 08:50] vishrutkohli opened #346 "Bash file for initial setup to run portal"
## Description
As a user, it would be easier to run just one file instead of a number of commands,
I want to  create a bash file which does all the relevant installations and setup,
so that It is easier for other developers.

## Acceptance Criteria
### Update [Required]
- [ ] Add bash file for intial setup of the project.

## Definition of Done
- [ ] All of the required items are completed.
- [ ]

[2018-03-08 08:52] yashLadha commented on #342
If someone working on a lengthy process and changed in the dev setting for
DB connection and them the PR is pushed. It would be easy to just copy a
single file in installation instruction them to constantly ignore the file
while staging files for commit.

On Mar 8, 2018 1:37 PM, "Avi Aryan" <notifications@github.com> wrote:

[2018-03-08 10:24] AnkurBegining commented on #329
@sammy1997 Please provide the status of work. If you are not currently working on it. I would like to take it further and make real-time commenting system.

[2018-03-08 10:56] sammy1997 commented on #329
@AnkurBegining I wasn't working on this. @SETIADEEPANSHU was. If he doesn't provide the status, I would like to work on this as I had commented. @sa7i @prachi1210 @tapasweni-pathak Please have a look for the status.

[2018-03-08 14:35] SETIADEEPANSHU commented on #329
Let me first send the changes I have made through a PR then you guys both can suggest changes or also work on that as an enhancement .

[2018-03-08 16:18] sammy1997 commented on #344
@Jaemu What's the status of this issue ? What do we need to do ? And is anyone working on this now ?

[2018-03-08 16:27] sammy1997 commented on #339
Closing this issue w.r.t #322 . Thanks .

[2018-03-08 16:27] #339 closed

[2018-03-08 18:06] AnkurBegining opened #347 "Custom Admin Functionality"
## Description
As a admin, I should be able to search and filter in admin page and use  the custom functionality for enhancing admin page. By default, it doesn't support search and filtering of the content in admin. So Admin can enhance the features of admin page and can have more control features.

## Mocks
It's an initial demo of the work.
![screenshot from 2018-03-08 23-16-43](https://user-imag

[2018-03-08 18:07] AnkurBegining commented on #347
@sa7i I would like to work on it. Please suggest your views.

[2018-03-08 19:56] abhi20161997 opened #348 "New lines not being visible in the comments."
## Description
As a [USER],
I need [to comment in the discussion area and hit enter to start off the next piece of text in the second line],
so that I can [].

## Mocks
![screenshot from 2018-03-08 20-54-39](https://user-images.githubusercontent.com/23247839/37172928-43e44c1e-2338-11e8-8506-02c08c79995c.png)

## Acceptance Criteria
### Update [Required]
- [ ] [When I press enter while feeding comm

[2018-03-08 19:57] abhi20161997 commented on #348
@Janiceilene @sa7i @tapasweni-pathak  Please review this so that I could fix it at the earliest.

[2018-03-08 20:55] vigzmv commented on #347
@AnkurBegining the **Issue Description** should be 'As an Admin I should be able to Search....'

[2018-03-08 20:59] vigzmv commented on #346
@vishrutkohli Can you please provide an example of this. (or python/django project currently doing this)

[2018-03-09 04:37] AnkurBegining commented on #347
@vigzmv I accept my mistake of writing user instead of Admin. Would you please review my issue again and assign me this work. I would like to develop this functionality.

[2018-03-09 04:44] vigzmv commented on #347
@ankurbegining It's still not right, the issues are written with User perspective. So like in my last comment it should be like  'As an Admin,  I should be able to Search and filter in the admin page...'

[2018-03-09 04:56] AnkurBegining commented on #347
@vigzmv Now, please look at it and suggest your view.

[2018-03-09 05:44] abhi20161997 commented on #345
@Jaemu is someone working on this ? I would like to work on this.

[2018-03-09 05:48] sammy1997 commented on #346
@jaemu @vishrutkohli what's the status of this issue? I would like to work on this if approved and not being worked on by others

[2018-03-09 06:08] AnkurBegining commented on #307
@vigzmv I would like to work on it.

[2018-03-09 06:20] vigzmv commented on #307
@ankurbegining this has been approved. You can work on this.

[2018-03-09 07:14] AnkurBegining commented on #307
@vigzmv ok

[2018-03-09 16:28] sammy1997 opened #351 "Bootstrap library should be updated for new features and glyphicons to be available"
## Description
As a devloper,
I saw that the Bootstrap library being used is an older version, which is why some of the new features and icons (glyphicons) are not available.

## Mocks
-- N.A. --

## Acceptance Criteria
### Update [Required]
- [ ] Update the bootstrap library

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
15-20 mins

[2018-03-09 16:31] sammy1997 commented on #351
@prachi1210 @ramitsawhney27 @tapasweni-pathak @sa7i Can you have a look at this issue ? If it's valid , I can work on this.

[2018-03-09 16:56] sammy1997 commented on #311
@sa7i I have some problems with this issue. Can you see the discussions on Slack ?

[2018-03-10 09:06] sakshee-19 commented on #263
@tapasweni-pathak  I would like to work on this.

[2018-03-10 11:04] vishrutkohli commented on #346
I want to work on it but waiting for an approval

[2018-03-10 14:18] #308 closed

[2018-03-10 15:04] #309 closed

[2018-03-10 15:12] #331 closed

[2018-03-10 16:33] #288 closed

[2018-03-10 16:51] #231 closed

[2018-03-10 20:03] #310 closed

[2018-03-12 19:07] ajatprabha opened #354 "Refactor UserView in users.views"
## Description
As a developer,
I need to refactor the code in [views.py](https://github.com/systers/portal/blob/3d870165ad0b93e55c084a2e463bede642ec6ff3/systers_portal/users/views.py#L12-L37),
so that I can make use of correct Generic Class Based View and reduce the coupling in the code.

## Current Code Structure
https://github.com/systers/portal/blob/3d870165ad0b93e55c084a2e463bede642ec6ff3/syst

[2018-03-12 19:08] ajatprabha commented on #337
Closing this issue in favour of #354.

[2018-03-12 19:08] #337 closed

[2018-03-13 20:33] ajatprabha opened #355 "NoReverseMatch exception for news_slug with hyphen"
## Description
As a developer,
I need fix the regex that matches against `news_slug` in `blog.urls`,
so that I can resolve `NoReverseMatch` exception.

## Mocks
The existing regex doesn't account for hyphens in a slug which results in regex mismatch and in turn, raises the above-mentioned exception.
![selection_003](https://user-images.githubusercontent.com/11836668/37368071-2273d864-272b-11e8-9ea

[2018-03-16 07:19] yatna commented on #351
@sammy1997 I think we should be using Bootstrap CDN instead of static downloaded bootstrap to keep updated. If done so-
1. It would remove the need of updating bootstrap every time there is a new release.
2. It would decrease the code size of the project.

[2018-03-16 07:26] yatna commented on #355
Is an underscore ( _ ) working? If yes, why not use that instead of hyphen. I think it would be best if a convention is defined as in what is allowed and what is not.

[2018-03-16 07:29] yatna commented on #354
I think code refactoring is a lengthy task and can be reserved for GSoC 18

[2018-03-16 07:34] yatna commented on #348
@abhi20161997 I am not able to replicate your bug. Can you tell which comment area are you talking about.

[2018-03-16 07:38] yatna commented on #346
This is definitely a good idea. How are you planning to set the dbname, username, password etc in a shell script ? Will it be prompted to the user to enter ?

[2018-03-16 07:39] yatna commented on #345
Nice idea, but since this is a new feature, we may want to do this in GSoC phase.

[2018-03-16 07:42] ajatprabha commented on #355
@yatna, `\w` accepts underscore as well, in general, it accepts `[A-Za-z0-9_]`. A `[\w-]` should be sufficient here. Please have a look at core validator used by Django itself.
https://github.com/django/django/blob/master/django/core/validators.py#L235-L241
Thanks for the input.

[2018-03-16 07:44] ajatprabha commented on #354
Sure @yatna, I'm planning to include this in my proposal. Thanks.

[2018-03-17 10:16] aashutoshrathi commented on #286
Is this one fixed? Anyone working on it?

[2018-03-17 11:45] aashutoshrathi opened #356 "Change Pixelated PNG coverage Badge"
## Description
As a contributor/visitor, first glance at coverage badge defines our project, here the coverage Badge is somehow added in PNG format, which is pixelated one, we need to change it to SVG, which is recommended for MD files.

## Mocks
New Badge will be this:

[![Coverage Status](https://coveralls.io/repos/github/systers/portal/badge.svg?branch=master)](https://coveralls.io/github/syste

[2018-03-17 17:57] ajatprabha opened #357 "Upgrade Django to v2.0 release"
## Description
As a developer,
I need to upgrade the version of Django used in the portal to v2.0 so that I can make sure that the portal dependencies are not obsolete. Also, it'll help in the later development of the portal.

## Changes Required
The code should be refactored according to the changes mentioned in Django v2.0 release notes [here](https://docs.djangoproject.com/en/2.0/releases/2.0/)

[2018-03-17 17:59] ajatprabha commented on #357
@tapasweni-pathak @sa7i
We can either change `url()` to `re_path()` or we can completely migrate to `path()`. More info [here](https://docs.djangoproject.com/en/2.0/releases/2.0/#simplified-url-routing-syntax).
I'd like to know opinions on this.

[2018-03-17 20:02] ajatprabha opened #358 "Change related_name on JoinRequest's user attribute"
## Description
As a developer,
I need to call the related manager of a `SystersUser`
so that I can get all the join requests by that systersuser in places like views, templates, APIs, etc. But the current calls have syntax like
[code]
which I think this is a confusing name.

## Mocks
Currently `JoinRequest` model looks like this
https://github.com/systers/portal/blob/3d870165ad0b93e55c084a2e463bed

[2018-03-19 02:19] tapasweni-pathak commented on #210
Yea @sa7i, needed. 👍

[2018-03-19 04:49] sa7i commented on #356
@aashutoshrathi You can work on this.

[2018-03-19 05:09] sa7i commented on #348
@yatna There are discussion areas(Comments) in the meetups and support requests. You can see it after adding a meetup location and a meetup in the meetup location.

[2018-03-19 11:02] aashutoshrathi commented on #356
Thanks :+1: on it.

[2018-03-19 19:17] sammy1997 commented on #351
Agreed @yatna. Do you want me to send a PR making this change?

[2018-03-21 10:37] Fenn-CS opened #360 "ReadTimeoutError : pip install -r requirements/dev.txt"
## Description
During the configuration of systers portal developers may run into the

That's at precisely step six : pip install -r requirements/dev.txt

## Solution

Increase the default timeout for HTTP socket connections.

`sudo pip3 install --default-timeout=100 -r requirements/dev.txt`

_Additionally I think its better to use pip3 during set up, since it is updated and python3 is being used.

[2018-03-21 10:38] Fenn-CS commented on #360
Hopefully the "While Setting up Portal" label is added to this issue.

[2018-03-24 03:18] pavankm commented on #360
Is this a consistently reproducible issue and not dependent on the network or possibly some downtime at pypi?

[2018-03-24 03:45] ajatprabha commented on #357
@pavankm, can you elaborate your question a bit, please? I'm not sure if I understood it properly!

[2018-03-24 04:57] sa7i commented on #355
You can work on this. @ajatprabha

[2018-03-24 07:47] Fenn-CS commented on #360
AFAIK, I think its dependent on the network! It can be reproduced steadily on a network with poor IP configurations or a slow Internet connection. However given the large number of possibilities I believe we should have this  in case anyone gets into it.

[2018-03-28 06:56] #356 closed

[2018-03-28 13:59] sammy1997 commented on #351
@yatna @sa7i Do I go ahead with this?

[2018-03-29 09:51] m-murad commented on #351
@sammy1997
This is a valid issue,
I think this should be fixed. Please send a PR.

[2018-03-29 09:58] sammy1997 commented on #351
Thanks @m-murad . I will send a PR soon.

[2018-03-30 22:45] Fenn-CS opened #362 "No enviroment instructions for windows developers"
## Description
Even though unix systems are best, we have several  developers working on windows. Apart from Docker there are no instructions to help new windows developers get to speed with the project directly on their working environment.

## Mocks
![setup instructions](https://user-images.githubusercontent.com/14317775/38739169-08b10c62-3f2c-11e8-8b64-4f781dce7bd0.png)

## Acceptance Criteria

[2018-04-01 05:43] ShubhamBansal1997 commented on #263
@tapasweni-pathak @sakshee-19 @arunikayadav42 Anyone working on this issue. If not then I would like to work on this.

[2018-04-12 16:31] MeepyMay commented on #362
Please update to the template. Thank you!

[2018-04-13 14:08] Fenn-CS commented on #362
@MeepyMay update done, please review. Thanks for your time.

[2018-04-17 21:26] sa7i opened #366 "Position the "Request a New Meetup Location" into the meetups dropdown."
## Description
As a user, I need to see a "Request a New Meetup Location" on the meetups dropdown and not on the meetup location sidebar, so that it's similar to that of "Request communities" and independent of any meetup location page.

## Mocks

## Acceptance Criteria
### Update [Required]
- [ ] Position the "Request a New Meetup Location" into the meetups dropdown.

## Definition of Done
- [ ]

[2018-04-18 09:37] Fenn-CS commented on #366
@sa7i Can I work on this?

[2018-04-18 10:04] sa7i commented on #366
@Fenn-CS You can work on this.

[2018-04-18 15:07] yatna commented on #358
@ajatprabha  Code refactoring for the entire project is an important task for GSoC 18. I think this task can be taken up there. Thanks for pointing out.

[2018-04-18 15:12] yatna commented on #360
@Fenn-CS This is not a project specific error , hence, I think It should not be included in the main installation part. However, it could be given at the end as a footnote or a "Troubleshooting' section.

[2018-04-18 15:33] Fenn-CS commented on #360
@yatna makes sense! So I will just add a troubleshooting section to the docs reference and reference it here! So we can close the issue, if its not already eligible for closing.

[2018-04-20 00:09] mayburgos opened #368 "Wiki Sidebar Update"
## Description
As a newcomer,
I need to navigate the repo successfully,
so that I can understand where the project is in its development.

## Mocks
![screen shot 2018-04-19 at 3 47 20 pm](https://user-images.githubusercontent.com/2440938/39014663-06dcb230-43e9-11e8-997c-96a89b7c55e8.png)

## Acceptance Criteria
### Update [Required]
- [x] Update to [the template](https://docs.google.com/document/d

[2018-04-25 20:38] Fenn-CS commented on #368
@MeepyMay please assign this to me.

[2018-04-27 17:49] #351 closed

[2018-04-27 17:51] #357 closed

[2018-04-27 17:55] #333 closed

[2018-04-27 18:03] #362 closed

[2018-04-27 18:04] #345 closed

[2018-04-27 19:32] tapasweni-pathak commented on #345
Hey @yatna, got an email and looked at this notification, I would suggest not closing issue like this. This is needed currently in Portal. If you want to push it to some other release you could tag it with some label so that you can remember to come back to reopen it.

Also could be I'm not aware of completely why would it be better to close the issue.

cc @systers/portal @systers/admins.

[2018-04-29 17:47] monajalal opened #369 "Feature Suggestion [Make it compatible with Anaconda Python]"
I suggest adding support and instruction for the people who use Anaconda Python.
Additional support for Jupyter Lab  and Jupyter would be great too.

[2018-04-29 18:33] monajalal opened #370 "File "/usr/local/lib/python2.7/UserDict.py", line 40, in __getitem__ raise KeyError(key) KeyError: 'SECRET_KEY'"
[code]

[2018-04-29 18:39] Monal5031 commented on #370
@monajalal Its not an issue, this is mentioned in the README in point number 9. PTAL there :smile:

[2018-04-29 22:39] Fenn-CS commented on #369
@monajalal great! PS quick reminder you would have to update the issue and use the issue template it comes when you try creating a new issue. Additionally for Anaconda are you thinking of some possible data-science related to stuff we are going to add to portal?

[2018-04-30 09:11] sa7i commented on #370
@monajalal `docker run -e SECRET_KEY=foobarbaz portal_web` from the Readme can be run to solve the SECRET_KEY error

[2018-04-30 09:34] sa7i commented on #369
@monajalal Could you please update this with the issue template?

[2018-04-30 10:03] sa7i commented on #345
@yatna I agree with Tapasweni.

[2018-05-05 01:17] monajalal opened #371 "Add the TODO section to the README.md"
## Description
Please add the TODO section at the end of the portal README.md and once each task in TODO is done, please cross it (but don't remove it from the TODO list). For now, just add 3-4 TODOs either from the features suggested in the git issues that have highest importance or from the feature you would like to see in portal. This will help us not only to be organized and stay on track but

[2018-05-05 01:24] monajalal opened #372 "The portal looks not very responsive to rather wide screen sizes"
## Description
Testing the portal on a rather wide ASUS monitor, I can see that the portal is not very responsive and I see what I have attached below.

Please check some of the guidelines for "responsive Web design" here https://www.smashingmagazine.com/2011/01/guidelines-for-responsive-web-design/ and search further for a solution. Additionally, you could test it with Google Chrome DevTools to t

[2018-05-05 01:34] monajalal opened #373 "Systers logo is missing on Portal's GitHub Page"
## Description
As a newcomer,
I need a proper Systers logo reference,
so that I can know which open source project falls under Systers.

## Mocks
### **Close Up**
![screenshot from 2018-05-04 21-29-40](https://user-images.githubusercontent.com/1892917/39658451-c49a3c66-4fe2-11e8-95ad-28f74aa379e4.png)

### **Full Screen**
![screenshot from 2018-05-04 21-30-17](https://user-images.githubusercontent

[2018-05-05 02:05] monajalal commented on #373
Also logo is missing for Arab Women in Computing
![screenshot from 2018-05-04 22-04-16](https://user-images.githubusercontent.com/1892917/39658741-2f1ee8ee-4fe7-11e8-821d-788d8071a411.png)
In addition to Latina in Computing
![screenshot from 2018-05-04 22-05-04](https://user-images.githubusercontent.com/1892917/39658749-3fbedfb0-4fe7-11e8-9180-7afc339a202c.png)
Here
http://wiki.systers.org/open-so

[2018-05-05 11:36] Fenn-CS commented on #371
@monajalal  I am creating a TODO.md instead because the README.md has too much information already... This can be modified later if you have another idea on how we should do this when I send in the PR

[2018-05-05 16:42] monajalal commented on #203
Actually, we have been thinking of having supports for main OS distros that are OSX, Windows 10, Ubuntu, and CentOS7. Some of these commands won't work in any platform!
Additionally, if the Docker is made for Ubuntu, sometimes it needs tweaking to get it work in CentOS (based on prior experience).

[2018-05-09 18:43] Oishika-Pradhan commented on #373
Is anyone already working on it? Or can I take up the task?

[2018-05-09 22:38] Fenn-CS commented on #373
@Oishika-Pradhan It was assigned to me, but you can work on it as am working on a couple of other issues.

[2018-05-10 05:42] Oishika-Pradhan commented on #373
Yes, I am taking up the issue @Fenn-CS

[2018-05-10 16:32] MeepyMay commented on #373
@monajalal @Oishika-Pradhan @Fenn-CS There are 3 different issues here.

1. Move _old wiki data_ into an archived section in the Portal GitHub Wiki. (i.e. data from [here](http://wiki.systers.org/open-source/doku.php/portal) to our [GitHub Wiki here](https://github.com/systers/portal/wiki) **<<<** We're not using the Wiki anymore. It caused a lot of confusion to keep documentation in 3+ websites.

[2018-05-10 21:28] MeepyMay commented on #373
@Fenn-CS @monajalal @Oishika-Pradhan I updated the issue. Please create new issues that address the documentation migration and two UI updates (1. for the [Portal Web Application](https://portal.systers.org/) and 2. for a template to use across all GitHub web pages for each repo.)

Please label these low priority, category maintenance/enhancement (for UI), and status available for non-GSoC student

[2018-05-11 01:36] monajalal opened #377 "Permission denied (publickey). fatal: Could not read from remote repository. Please make sure you have the correct access rights and the repository exists."
There is a problem in Docker documentation

[code]

However, this other command worked for me:
[code]

[2018-05-11 01:38] monajalal opened #378 "ERROR: Couldn't connect to Docker daemon at http+docker://localunixsocket - is it running?"
If you run step 5, without first running docker you will get the following error. Documents should change so that it reflect the fact that after installing docker you should run a command so that make sure it is running in the background:

[code]

[2018-05-11 01:41] monajalal opened #379 "ERROR: Service 'web' failed to build: oci runtime error: /var/lib/docker/devicemapper/mnt/879bdf2445183285a2fa17278bb316e7bdedbd8c6b97ff0df87728c757d98152/rootfs is not an absolute path or is a symlink"
When running part 5 from the Docker documentation, I get the following error:

[code]

This bug happens in CentOS 7:
[code]

[code]

P.S.: In CentOS7, I have to run docker with sudo (while not necessary in OSX).

For this issue to be considered closed (Done), you should make it work for CentOS 7.

[2018-05-11 05:30] Oishika-Pradhan commented on #373
@MeepyMay @monajalal then this issue is solved right? I have updated the logo (not referenced to some link, but added the logo in the `images` directory in the branch `gh-images`). The mentors and students list has only the first names though.
I'd also like to work on building a new uniform template for each repo.

[2018-05-11 10:43] Fenn-CS opened #380 "Move old wiki data into an archived section in the Portal GitHub Wiki"
## Description
As a user, I need to be able to access all wiki data from one location.

## Acceptance Criteria
### Update [Required]
- [ ] Move data from [wiki.systers.org](http://wiki.systers.org/open-source/doku.php/portal) to our [github wiki here](https://github.com/systers/portal/wiki)

## Definition of Done
- [ ] All of the required updates are completed.
- [ ] Approval by 2 mentors.

## Est

[2018-05-12 04:08] Oishika-Pradhan commented on #380
I can take this up.

[2018-05-12 07:38] Fenn-CS commented on #380
@Oishika-Pradhan ok go ahead

[2018-05-14 13:01] Fenn-CS opened #381 "Create standard template to use all systers github pages"
## Description
As a visitor, developer etc I  need a template to see a consistent design on each of the projects github page. For example, FirstAide Web & Portal should have a consistent branding or template.

## Acceptance Criteria
### Update [Required]
- [ ] A repeatable and simple template created

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-05-14 16:00] #322 closed

[2018-05-14 16:02] #372 closed

[2018-05-14 16:57] abhi20161997 opened #382 "Upgrading UI of Systers and about us page"
## Description
Upgrade the UI of the Systers and About us page

## Mocks
![1 1-screen 1](https://user-images.githubusercontent.com/23247839/40011546-c544182c-57c5-11e8-9b81-e1202eda2240.png)

## Acceptance Criteria
### Update [Required]
- [ ] [UI should abide by the ANITAB.ORG branding guidelines]
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the requi

[2018-05-14 17:09] #355 closed

[2018-05-14 17:11] #348 closed

[2018-05-14 17:12] #366 closed

[2018-05-14 17:28] Fenn-CS opened #383 "Move tests from automated testing repository to portal for meetup app."
## Description
As a developer I should be able to run tests from a single repository. For example all meetup tests in from[ automated testing  here](https://github.com/systers/automated-testing/tree/develop/PortalMeetupTests/Meetup) should be in meetup/test in portal code base.

## Acceptance Criteria
- [ ] All meetup tests moved, tests pass

## Definition of Done
- [ ] All of the required items a

[2018-05-14 17:34] Fenn-CS opened #384 "Write automation scripts for dev-enviroment set up"
## Description
As a (new) developer I should be able to set up the development environment by running  a single (bash) script.
It would also be great to run a command afterward that does sanity checks and tells the above bash script has been ran successfully and environmental variables are set as well as the dev env.

## Mocks
[TO BE ADDED]

## Acceptance Criteria
- [ ] Write a bash script to auto

[2018-05-14 17:40] Fenn-CS opened #385 "Write scripts to automate local testing, runserver and common operations"
## Description
As a developer I should be able to run tests by running a single command, task like runserver should be achieved faster and traditional practices like running flake8 before commits should be automated in scripts.

## Mocks
[TO BE ADDED]

## Acceptance Criteria
- [ ] Write a scripts to accomplish main jobs above
- [ ] Update documentation to cover new update (old method side by side

[2018-05-15 07:36] Oishika-Pradhan commented on #381
I'll be working on this.

[2018-05-15 21:39] Fenn-CS commented on #381
@Oishika-Pradhan go ahead!

[2018-05-16 07:25] abhi20161997 opened #386 "Upgrading UI of communities page"
## Description
As a [USER],
Uprage the UI of communities and meetup page

## Mocks
Here is what the current UI as of 05/18/2018 shows:
![screenshot from 2018-05-19 23-23-55](https://user-images.githubusercontent.com/23247839/40271518-de9897f4-5bbb-11e8-946b-7f4242b678ff.png)
Here is what the UI will look like after the upgrade:
![screenshot from 2018-05-20 23-43-52](https://user-images.githubuserc

[2018-05-16 23:13] monajalal opened #389 "step-by-step guide for setting up Postgresql for portal"
## Description
As a (new) developer/user,
I needto have access to a README.md page that helps me step-by-step to setup postgresql,
so that I can proceed with Portal setup. We cannot rely on third-party Website as they could be down any moment also they might not be very welcoming to new developers. It is better than one of the new GSoC mentees that just started take this task so that they can docu

[2018-05-16 23:23] monajalal opened #390 "Portal Communities should include the list of all communities in drop down menu"
## Description
As a portal user, I need to be able to see an entire list of communities in the drop down menu for easier access. Right now it only shows three communities while the list is much longer.

## Mocks
[
![screenshot from 2018-05-16 19-20-12](https://user-images.githubusercontent.com/1892917/40148888-5e92f4e8-593e-11e8-9456-38ec1d6e4894.png)
]

## Acceptance Criteria
### Update [Required

[2018-05-16 23:27] monajalal commented on #373
@Oishika-Pradhan you might be interested in working on https://github.com/systers/portal/issues/390

[2018-05-16 23:31] monajalal opened #391 "Facebook link is broken in Portal Contact Us page"
## Description
As a portal user, I would need to click on the Facebook page and access it. Right now the following link is broken.
https://www.facebook.com/abi.systers

## Mocks
[
![screenshot from 2018-05-16 19-29-54](https://user-images.githubusercontent.com/1892917/40149089-8cff4a74-593f-11e8-926a-f816d897c4de.png)
]

![screenshot from 2018-05-16 19-31-05](https://user-images.githubusercontent.

[2018-05-16 23:33] lsurasani commented on #390
Hey! New to open source, looking for some easier/beginner friendly issues to tackle -- may I take this one?

[2018-05-16 23:36] monajalal commented on #390
@lsurasani yeah this should be a good one. Go for it and please let us know how it goes. Once you are done please ping me for PR.

[2018-05-18 02:05] ilyasofficial1617 commented on #389
Hi, i want to take this assignment.
But before that,  i want to ask,
Is it okay if i write the most updated postgresql?
Is it will break the program?

[2018-05-18 02:20] monajalal commented on #389
@MeepyMay What is your thought about using the most updated version of Postgresql?
@ilyasofficial1617 can you please let us know which Operating System(s) are you interested to write the step-by-step guide for?

[2018-05-18 05:36] ilyasofficial1617 commented on #389
I have zorin os based on ubuntu xenial
And windows 7

[2018-05-18 18:31] Fenn-CS opened #394 "Add yml config file for Codacy"
## Description
As a developer, I need to the the right reviews on my PR by Codacy according to general good practices and our own definition of good.

## Acceptance Criteria
- [ ] Add codacy.yml config file, with accepted settings

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentor.

## Estimation
1 hour

[2018-05-18 18:36] Fenn-CS opened #395 "Configure travis.yml to permit staging enviroment run selenium tests"
## Description
All tests have to be run in the staging environment currently selenium test cannot be run, hence the skip flag is used on selenium tests.... _Devs may remove to flags to run test locally_

## Acceptance Criteria
- [x] Update travis.yml to permit selenium tests run
- [x]  Install required tools (Webdrivers)

## Definition of Done
- [x] All of the required items are completed.
- [x] A

[2018-05-20 01:34] ilyasofficial1617 commented on #389
Is this enough?

[2018-05-20 13:36] poojithansl opened #399 "Change the link in the readme"
## Description
In the readme, the link to clone portal is incorrect, as seen in issue #377
## Acceptance Criteria
Convert `git clone git@github.com:systers/portal.git`
into
 `git clone https://github.com/systers/portal.git` in the Readme.md for Docker, Windows and Linux installation steps.
### Update
- [ ] Update the Readme with the correct command.
## Definition of Done
- [ ] All of the required

[2018-05-20 13:38] sa7i commented on #377
@monajalal I created a new issue to solve the error.

[2018-05-20 13:38] #377 closed

[2018-05-20 13:42] sa7i commented on #360
I am closing this issue as discussed.

[2018-05-20 13:42] #360 closed

[2018-05-20 13:46] sa7i commented on #346
This is a duplicate of # 384, hence closing this issue.

[2018-05-20 13:46] #346 closed

[2018-05-20 23:14] Fenn-CS opened #400 "Location dropdown freezing browser on add meetup page"
## Description
As a user location dropdown should not freeze my browser when clicked. The expected behavior  (opening drop) should not misalign with the actual behavior (freezing browser)

## Enviroment
OS Spec : Ubuntu 16.04, 64bit
Firefox 60.0.1
Chrome Version 66.0.3359.170

## Mocks

![add-meetup-location-dropdown](https://user-images.githubusercontent.com/14317775/40284770-d8b6e89c-5c8b-11e8-9

[2018-05-21 18:05] #391 closed

[2018-05-21 18:34] monajalal commented on #390
list of all communities is available from here https://anitab.org/systers/systers-communities/

[2018-05-21 18:45] abhi20161997 opened #402 "Replacing the favicon"
## Description
The old favicon needs to be replaced with the new one

## Mocks
The old favicon :
![favicon1](https://user-images.githubusercontent.com/23247839/40324083-0a7dfe3c-5d55-11e8-86f4-a61449c6ec9c.png)

needs to be replaced by the new one:
![favicon](https://user-images.githubusercontent.com/23247839/40323980-b234f0c8-5d54-11e8-9b5d-207c11e65b5c.png)

## Acceptance Criteria
### Update [Re

[2018-05-21 19:47] #386 closed

[2018-05-21 20:05] abhi20161997 opened #404 "Upgrading UI of contact page"
## Description
Upgrade the UI of Contact page as per the branding

## Mocks
Before upgradation it looks like:
![screenshot from 2018-05-22 01-33-00](https://user-images.githubusercontent.com/23247839/40327366-3d587bd8-5d60-11e8-99f9-5daf0ea7c455.png)

After upgradation it should look like:
![screenshot from 2018-05-22 01-26-04](https://user-images.githubusercontent.com/23247839/40327387-512fb428-5

[2018-05-21 20:10] #402 closed

[2018-05-22 10:10] devshiva619 commented on #399
@sa7i Hey I would like to work on this issue 😃

[2018-05-22 10:17] sara-02 commented on #399
@devshiva619 @sa7i This is not a valid issue IHMO.

[2018-05-22 10:18] sara-02 commented on #399
You can clone the repo either way. It should work.

[2018-05-22 10:26] sara-02 commented on #399
Ways to resolve it
1. Change the link in the readme.
To test the solution
2. Create a docker container using the updated readme.

[2018-05-22 10:30] devshiva619 commented on #399
@sara-02 so I can start working this. But I dont have any experience with docker. 😥

[2018-05-22 11:07] sara-02 commented on #399
@devshiva619 That is ok. You just have to follow the commands, no experience with docker is needed to solve this issue.

[2018-05-22 11:39] devshiva619 commented on #399
@sara-02 I ran this command `docker-compose run web python systers_portal/manage.py migrate` and I am geeting this error
[code]

[2018-05-22 12:10] sara-02 commented on #399
@devshiva619 Point 9 in the readme should help. Please go through it once.
[code]

[2018-05-22 12:13] sara-02 commented on #399
You can also create a .env file and add `SECRET_KEY=foobar` and then run `source .env`.
But make sure to never push your .env. So better to add it to `.gitignore`.
That way you won't have to run the export command everytime you run docker-compose from a new terminal.

[2018-05-22 18:13] Fenn-CS opened #406 "Move base tests, login tests and admin tests from automated testing repo to portal"
## Description
As a developer I should be able to run base tests, login tests and admin in the main repo along with other tests. The specified tests should be moved from the [automated testing repo](https://github.com/systers/automated-testing/tree/develop/PortalMeetupTests/Portal/PortalTests/src) to portal.

## Acceptance Criteria
- [x] Copy all tests and rewrite them.

## Definition of Done
- [x

[2018-05-22 18:15] Fenn-CS commented on #406
@MehaKaushik @prachi1210 @nida please review week two milestone

[2018-05-23 05:29] devshiva619 commented on #399
@sara-02 Hey I am not yet assigned to this issue, so should I wait for it or I can make a PR directly?

[2018-05-23 05:34] devshiva619 commented on #399
@sara-02 I tried made a file named .env and then re-executed the command but same error 😥

[2018-05-23 08:50] sara-02 commented on #399
@sa7i @monajalal Can one of you assign the issue to @devshiva619

[2018-05-23 08:50] sara-02 commented on #399
Are you still facing the issue?

[2018-05-23 09:46] devshiva619 commented on #399
@sa7i I did that but no luck

[2018-05-23 19:29] sara-02 commented on #399
@devshiva619 Can you perform this command `sudo useradd -U -s /bin/bash postgres` and then start with STEP 7 again.
It is a known issue, while installing postgres it may not add default postgres users to your OS's user account. Thus, the unkown user error when using sudo.

[2018-05-23 19:50] monajalal commented on #399
It doesn't allow me to assign it
![screenshot from 2018-05-23 15-49-01](https://user-images.githubusercontent.com/1892917/40447540-e9aa3f52-5ea0-11e8-8df7-ae50e2aefa30.png)
also tried without @ and the same!

[2018-05-24 08:51] sara-02 commented on #399
@monajalal no issues.

[2018-05-25 14:28] #383 closed

[2018-05-27 16:26] #404 closed

[2018-05-30 07:46] Fenn-CS opened #408 "Write automated tests for community app just like with meetup app"
## Description
As a developer one should be able to run automated tests for all apps in Portal including community app.

## Definition of Done
- [ ] Tests testing basic and intermediate actions for community app added.
- [ ] Approval by 2 mentor.

## Estimation
6-8 hours

[2018-05-30 18:20] monajalal opened #409 "Clicking on Asian Women in Computing dropdown menu in communities tab gives error"
## Description
As a user,
I need to be able to click on any of the dropdown items in the communities menu,
so that I can access their content. For now clicking on Asian Women in Computing gives error. And the other pages don't have full content.

## Mocks
When I click on the communities in the communities dropdown, I get the error shown in the screenshot.

![screenshot from 2018-05-30 14-17-06](ht

[2018-05-30 18:37] monajalal commented on #311
@sa7i can you please edit this issue so that it follows the pattern of other issues and clearly states the number of mentors who should review it as well as the guideline to accept the changes? Thanks

[2018-05-30 18:39] #394 closed

[2018-05-30 18:45] monajalal opened #410 "Upgrading meetup UI scroll down/up button"
## Description
As a user,
I need to see at least 3-5 upcoming meetups,
so that I can schedule accordingly.

## Mocks
Looking at the upcoming meetup, right now we only see the one pertaining to Pune. Somehow the rest are not shown. Additionally, there is big part for this and has a scroll down button when there is no need for it. Like if there is a 3 upcoming meetup there is no need for a scroll bu

[2018-05-31 07:00] abhi20161997 opened #411 "API to communicate with VMS"
## Description
Create an API to send data of meetups like event name, date and venue to VMS.

## Mocks

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
[8-9] hours

[2018-06-02 16:09] SaravananOffl commented on #390
Hi, Can I work on this issue?

[2018-06-15 09:06] devshiva619 commented on #390
@monajalal Hey I am a newbie and would like to work on this

[2018-06-19 13:43] Fenn-CS opened #418 "Add continues integration automation scripts"
## Description
As a developer, my PR's should be tested automatically delivering appropriate reports in multiples formats (HTML including graphs, tables, images, XML etc). This will enable this will permit the project to be easily setup for continues deployment.

## Acceptance Criteria
- [x] Add test `.sh` scripts (that will be used in jenkins' jobs)
- [x] Modify documentation (AUTOMATION.md) to s

[2018-06-19 13:50] Fenn-CS opened #419 "Update travis configurations to point to updated notification locations."
## Description
As a developer, I should be able to get the results (notifications) of Travis test in the right location. This is a problem because the former communication channels have been changed but not updated in the Travis configuration file.

## Acceptance Criteria
- [x] Add correct notification locations in `.travis.yml`

## Definition of Done
- [x] All of the required items are completed.

[2018-06-26 09:58] abhi20161997 opened #422 "Upgrade the navigation bar according to the Branding Guidelines"
## Description
Upgrade the navigation bar according to the Branding Guidelines. Presently, all other UI elements have been upgraded according to the branding except navbar.

## Mocks
Present Navbar:
![screenshot from 2018-06-26 15-26-30](https://user-images.githubusercontent.com/23247839/41904165-543b36c2-7955-11e8-9f30-a22b8f1bd31e.png)

After upgrade should look like:
![screenshot from 2018-06-2

[2018-06-26 12:30] #210 closed

[2018-06-26 16:26] #411 closed

[2018-06-26 16:33] sa7i commented on #411
Requirements of the API - [link](https://docs.google.com/document/d/1QPkIEXXg8iS4m7miAbt6Qt17CeSnqyYCrDDq0g__ngY/edit?usp=sharing)

[2018-06-27 22:00] Fenn-CS opened #425 "Add configurations in .codacy.yml"
## Description
Codacy has to be properly configured for the project to ensure the reviews reflects our standards.

## Acceptance Criteria
- [x] Add python engines to configuration
- [x] Exclude folder not required in reviews

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
1 hour

[2018-06-28 16:25] abhi20161997 opened #427 "Include the API_FOR_VMS documentation in the portal docs."
## Description
Include the API_FOR_VMS documentation in the portal docs so that users can get a fair idea of the feature added.

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
[2] hours

[2018-07-11 18:22] abhi20161997 opened #429 "Add Upcoming meetups page along with search options and filters"
## Description
Add Upcoming meetups page along with search options and filters. The search options should enable users to search by date, meetup location or keyword and filter by date or distance.

## Mocks
![screenshot from 2018-07-10 13-19-43](https://user-images.githubusercontent.com/23247839/42591888-a35b84b6-8565-11e8-9ea7-9120a7ad1896.png)

## Acceptance Criteria
### Update [Required]
- [ ]

[2018-07-20 21:59] ExactlyMay opened #432 "Creating an end time and multi-day meetups"
## Description
As an organizer,
I need to create meetups,
so that I can organize multi-day hackathons or day long workshops.

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [ ] Meetups need a start time and an end time.
- [ ] Meetups need a start day and end day.

### Enhancement to Update [Optional]
- [ ] Multiple times for different days.

## Definition of Done
- [ ] All of the req

[2018-07-21 08:33] #422 closed

[2018-07-21 09:13] #427 closed

[2018-07-21 21:42] abhi20161997 opened #433 "Enable Signup and Login via Facebook, Google, Github, Twitter"
## Description
The users should be able to login through social accounts like facebook, google, github and twitter

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
[12-13] hours

[2018-07-25 14:37] rahulii commented on #373
Can i take up the task?

[2018-07-25 14:53] abhi20161997 commented on #373
@rahulii ya you can.

[2018-07-25 15:02] rahulii commented on #373
Okay,Will take up tha task!

[2018-07-25 15:05] rahulii commented on #373
All i have to do is fix the logo?Right?

[2018-07-25 15:12] abhi20161997 commented on #373
@rahulii Please refer to the comments before working on it

[2018-07-28 20:30] abhi20161997 opened #435 "Username not being displayed on rightmost top corner after login"
## Description
After a user is loggen in, username needs to be displayed on rightmost top corner.

## Mocks
![screenshot from 2018-07-29 01-42-33](https://user-images.githubusercontent.com/23247839/43360445-0e5876aa-92d3-11e8-8f04-a7a1543966d1.png)

## Acceptance Criteria

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
[1] hour

[2018-07-28 22:10] abhi20161997 opened #437 "Add End Date field to meetups"
## Description
An End Date needs to be decided for each meetup to help participants plan their attendance.

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
[2-3] hours

[2018-07-30 04:04] SubbulakshmiRS commented on #381
Is work still being done ? If no, Can I be assigned to this issue ?

[2018-07-31 23:02] abhi20161997 opened #439 "Add e-mail Notifications"
## Description
Email notifications need to be sent for certain actions to the concerned people

## Mocks
![screenshot from 2018-08-01 04-27-54](https://user-images.githubusercontent.com/23247839/43491754-734b00ba-9543-11e8-8219-ca19240eb41b.png)

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All

[2018-08-01 17:30] abhi20161997 commented on #432
@ExactlyMay  Can I take up this issue ?

[2018-08-08 21:25] #433 closed

[2018-08-09 11:36] #429 closed

[2018-08-09 21:14] manigedit commented on #373
As mentioned earlier, the logo is added to the img folder. If you want me to update the link instead of the static link, I expect this code to edit..
![screenshot from 2018-08-10 02-36-58](https://user-images.githubusercontent.com/37980499/43926204-25da5b5e-9c47-11e8-94bd-ec97577af1fb.png)

[2018-08-11 16:10] manigedit commented on #373
Can I take up the task,if yes allot me.

[2018-08-15 06:33] aganjali10 commented on #399
@sa7i I would like to work on this issue. Can you assign it to me?

[2018-08-15 06:42] aganjali10 commented on #373
Is the issue still open? Can you assign it to me?

[2018-08-15 08:45] Fenn-CS commented on #373
Just proceed working on it. and send in a PR.

On 15 Aug 2018 7:42 a.m., "aganjali10" <notifications@github.com> wrote:

[2018-08-18 16:12] anshulahuja98 commented on #390
Hey can i work on this issue?

[2018-08-21 11:55] Vishnupriya1507 commented on #384
HI, can i take up this issue

[2018-08-21 11:58] Vishnupriya1507 commented on #390
Hi, can i take up this issue.

[2018-08-21 12:56] Fenn-CS commented on #384
Hello @Vishnupriya1507  this issue has been completed... I don't know what is delaying its merge.

[2018-08-23 08:12] Vishnupriya1507 commented on #265
Hi , can i take up this issue.

[2018-08-23 08:47] Vishnupriya1507 commented on #299
Hi, can i take this issue.

[2018-09-03 16:08] swatisingh45 commented on #389
Hey! @monajalal  I would like to write the documentation for macOS.

[2018-09-03 16:17] swatisingh45 commented on #410
Hey! can i take up the issue, please. @monajalal @ExactlyMay

[2018-09-06 11:54] abhi20161997 commented on #410
@swatisingh45 You can take up the issue .

[2018-09-09 07:38] swatisingh45 commented on #410
Thanks, @abhi20161997 , I shall be working on this.

[2018-10-03 17:06] jfflisikowski commented on #373
hello, I would gladly fix this, I'll just send a PR

[2018-11-06 10:50] Tlazypanda opened #449 "Migrating from Bootstrap3 to Bootstrap4"
## Description
As a developer,
I need to make sure that the bootstrap version is updated from bootstrap 3 to 4,
so that I can easily make changes in the files following the latest documentation.

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [ ] Bootstrap css and js files need to be updated.
## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 men

[2018-11-06 14:36] abhi20161997 commented on #449
@Tlazypanda  you can work on this issue and send a PR for the same.

[2018-11-06 18:11] Tlazypanda opened #450 "Remove testing error in test_views.py"
## Description
The following  command throws assertion error when run in the meetup/test_views.py file.
`python systers_portal/manage.py test --settings=systers_portal.settings.testing`.

## MOCKS
![screenshot from 2018-11-08 05-44-57](https://user-images.githubusercontent.com/33183263/48153087-6e44e180-e2eb-11e8-8a50-f883778fddc5.png)

### Update [Required]
- [ ] Remove assertion error.

## Defin

[2018-11-07 17:19] abhi20161997 commented on #450
@Tlazypanda  Please include mocks of the error you are getting in the issue description. Also, browse through other issues to get an idea of how issues are created omitting words like I and as a developer.

[2018-11-09 15:00] #450 closed

[2018-11-09 18:22] Tlazypanda opened #453 "Add image field to meetup"
## Description
Users should be allowed to upload picture for their meetup inorder to improve the overall look and feel of the portal.

### Update [Required]
- [ ] Add image field to meetup form.
- [ ] Image should be displayed in upcoming meetup tab and meetup tab.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hours

[2018-11-12 15:40] abhi20161997 commented on #286
@Tlazypanda please comment and seek permission on issues before starting to work on them

[2018-12-09 09:44] khatryshikha commented on #410
Hello, may I take this issue, if nobody is working on it? @monajalal

[2018-12-09 11:08] arunikayadav42 commented on #453
Is anybody working on this or can I get started with this :)

[2018-12-09 11:11] arunikayadav42 commented on #409
Is anybody still working on this?

[2018-12-09 12:16] swatisingh45 commented on #410
Hi, @khatryshikha I am working on the issue, and I'll submit the PR soon. Please feel free to explore other issues which are yet to be taken.

-signed off by @swatisingh45

[2018-12-16 10:05] Phoenix0009 commented on #390
Id like to take this issue.

[2018-12-20 22:50] sarnava1 opened #457 "The link of the site http://portal.systers.org/ is not working"
## Description
As a USER,
I need to visit the portal website,
so that I can see what the features are so that I can contribute.

The link http://portal.systers.org/ is not working.

[2018-12-21 06:50] abhishekspeer commented on #457
@sarnava1 I think it’s not working for now because the portal is being shifted and it’ll work as soon as shifting gets over.

[2018-12-22 19:02] abhishekspeer opened #458 "Remove design glitches at different screen sizes"
## Description
As a developer,
I need to ensure that the portal has a layout free of glitches at all screen sizes while retaining the basic design of portal at the same time. This will accomplish a responsive design for every screen size and an experience tailored to handheld devices as well.

## Mocks
![screenshot from 2018-12-22 19-49-29](https://user-images.githubusercontent.com/33948877/503777

[2018-12-22 19:18] abhishekspeer commented on #458
@abhi20161997
I have created an issue, please have a look and and assign it to me so that I can start working on it.

[2018-12-26 11:51] abhi20161997 commented on #458
@abhishekspeer You can start working on this issue.

[2019-01-13 09:48] divya7shahi commented on #399
may I work on this issues,if nobody is working on it

[2019-01-13 09:54] divya7shahi commented on #449
Hey! there may anyone tell me how I can proceed next to solve this issue

[2019-01-16 12:33] sara-02 commented on #399
@divya7shahi We already have one PR pertaining to this issue, waiting to be merged.

[2019-02-13 06:44] SunitiJain commented on #399
is this issue still open ?? can i work on it?

[2019-02-18 07:16] NidhiKJha commented on #449
There has no response in a while so can I work on this issue now?

[2019-02-18 07:38] abhi20161997 commented on #449
ya @NidhiKJha  You can proceed with this. if its the first issue you're taking up, please ensure all norms of contribution are followed while submitting the PR for it.

[2019-02-20 11:23] abhishekspeer commented on #453
Hi @abhi20161997
If it's still available, Can I start working on this? :)

[2019-02-24 18:24] abhi20161997 commented on #453
ya @abhishekspeer  . Please go ahead.

[2019-02-25 06:02] abhishekspeer opened #460 "Messages overlapping with Headings/Text"
## Description
As a Developer,
I need make some changes in the styling of the portal
so that the messages being displayed above the heading/text are easily readable.

## Mocks
![overwriting issue](https://user-images.githubusercontent.com/33948877/53317109-689df680-38f0-11e9-9510-bebaab96e172.png)
![overwriting_issue2](https://user-images.githubusercontent.com/33948877/53317114-6b98e700-38f0-11e9-

[2019-02-26 17:48] abhishekspeer opened #462 "Hitting UPLOAD PICTURE button redirects back to view_profile page"
## Description
As a Developer,
I need to make some changes in the edit profile page to resolve the issue that users face when they hit the Upload Picture button.
so that I can ensure that users are able provide/edit their personal details without any issues.

Right now, as a user, when we hit the UPLOAD PICTURE button to edit personal details, the edit profile page is redirected back to the view p

[2019-02-26 18:57] abhishekspeer commented on #462
@abhi20161997 I've referenced a PR that can close this issue. Please have a look.

[2019-04-21 19:19] anshima1 commented on #453
Has this issue been done yet?
If not, I'd like to contribute.

[2019-07-07 20:13] Sharma-palak commented on #453
Hi @Tlazypanda ,can I work on this issue??

[2019-10-17 08:13] bv-hcr opened #465 "Pillow version"
[code]
https://pillow.readthedocs.io/en/latest/installation.html

[2019-10-17 08:15] bv-hcr commented on #465
stderr~
[code]

[2019-12-12 20:55] isabelcosta commented on #368
Updated here https://github.com/systers/portal/wiki
I used every page that existed in this wiki, they're all linkable from the sidebar
@systers/maintainers-portal

![image](https://user-images.githubusercontent.com/11148726/70748301-ace47100-1d21-11ea-80f7-5e57c41a96c3.png)

[2019-12-14 01:37] isabelcosta opened #467 "Links on Homepage redirects to 400 Bad Request page"
## Description
As a user,
I need the links on the homepage to be correct,
so that I can learn more about AnitaB.org communities.

When clicking some buttons on the homepage, I get redirected to `400 Bad Request`, because old website - http://anitaborg.org/ - does not redirect to the current AnitaB official website - https://anitab.org/.

E.g.: http://anitaborg.org/get-involved/systers/systers-init

[2019-12-14 04:08] cervantez07 commented on #467
I'm not sure if I did this correctly or not, but I tried to propose changes on the file. I told me that the files were the same?

I clicked edit on your file, copied it to notepad++, made changes, pasted it back in and clicked propose changes after writing notes.

[2019-12-14 12:20] isabelcosta commented on #467
Did you create a Pull Request as a result of your proposed changes? Did you do this on your fork or on this repository? @cervantez07 Can you link here the changes you did?

What you would do here would be:
1. forking the project
2. change on your forked repository cervantez07/portal , the file you would have to change
3. submit the Pull Request

But before submitting the pull request, it would be

[2019-12-15 18:49] pianeta051 commented on #467
Hi Isabel,

Would you like me to help you with this?.
Is anyone working on this?

[2019-12-15 20:32] sayashraaj commented on #467
Can I work on this please? This is my domain of interest and I would love to work on this

[2019-12-17 00:00] isabelcosta commented on #467
@pianeta051 @sayashraaj you're welcome to contribute to this project :) Although I'm not a maintainer for this specific project so I won't be able to merge and such.

[2020-02-10 15:59] aayush-05 opened #470 "Update Django Crispy Forms"
## Description
It is always wise to use the updated packages as they contains a lot of bug fixes. Therefore I would suggest updating the django-crispy-forms package to 1.8.1 and alongwith make the requiredchange in the settings to use Bootstrap 4 (crispy-forms moved to bootstrap4 from 1.7.1 onwards).

## Acceptance Criteria
### Update [Required]
- [ ] Update the required packages

## Definition of

[2020-02-10 16:01] aayush-05 opened #471 "Outdated database settings"
## Description
The postgres database settings are a bit outdated with respect to the current Django version 1.11. Fix them to work fine with the current django version

## Acceptance Criteria
### Update [Required]
- [ ] Change the settings as required

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
0.5 hours

[2020-02-10 16:10] aayush-05 opened #472 "Oauth service not working on current deployment"
## Description
Login/Signup via third party apps including Google, Twitter, GitHub, Facebook isn't working on the current deployment and returns the given error.

## Mocks
![image](https://user-images.githubusercontent.com/47032027/74167172-da7c6680-4c4d-11ea-934c-35d810280886.png)

## Acceptance Criteria
### Update [Required]
- [ ] Fix the Oauth app/service to enable third party login

## Definit

[2020-02-19 16:21] ritwickraj78 commented on #449
Can i take up this Issue?

[2020-02-24 18:05] Mallik813 commented on #390
Can I work on this issue if it is still open?

[2020-02-24 18:55] ninjakx opened #476 "confirmation email not received."
## Description
When a user signs up a confirmation mail is sent but have not received it. More over the msg is getting overlaid by heading.

## Mocks
![Screenshot from 2020-02-25 00-23-18](https://user-images.githubusercontent.com/29797787/75181803-0bd45680-5765-11ea-9133-c3568d05ed00.png)

### Update [Required]
- [ ] [Fixing the UI]
- [ ] [Fixing the backend for mailing and verification]

## Defi

[2020-02-25 16:48] abhishekspeer commented on #476
Hi @ninjakx! This overlapping issue has already been  reported and solved which is referenced via a separate pull request already. Regarding the conformation Email, please go through the documentation once, you'll find that a confirmation mail is not actually triggered but the contents are printed in the terminal itself. With that being said, I'm afraid to mention that this issue needs to be close

[2020-02-25 17:24] #476 closed

[2020-02-26 19:46] arunikayadav42 commented on #467
Hi! I am a newbie to open source and pretty well-versed with python and django. Can I contribute to this issue :). Also which slack/irc channels should I join for updates?

[2020-02-26 23:29] ritwickraj78 commented on #467
@isabelcosta May I take up this issue?

[2020-02-26 23:31] ritwickraj78 commented on #460
@abhishekspeer Could I please take up this issue?

[2020-02-26 23:34] ritwickraj78 commented on #460
Is this issue still open? Can I take this up?

[2020-02-26 23:41] abhishekspeer commented on #460
Hi @ritwickraj78! Sorry, but this issue has been solved already and a PR is also referenced for the same. You can have a look at the submitted patch and suggest improvements if you find any or you can also look up for some other issue to work on. Hope it helps, Thanks!

[2020-02-27 02:44] arunikayadav42 commented on #467
Already working on it :)

[2020-02-27 03:20] arunikayadav42 commented on #467
Awaiting the maintainers to assign it to me. Please take up some other issue. Thanks :)

[2020-02-27 03:21] arunikayadav42 commented on #467
@isabelcosta Please assign the issue to me. Thanks

[2020-02-28 17:08] anmolcool007 opened #477 "Responsiveness of homepage"
## Description
The homepage is not responsive, there is a horizontal overflow scroll.
Need to make the site responsive by changing HTML, CSS, and javascript

## Mocks
![Responsive](https://user-images.githubusercontent.com/43794036/75569381-f6b83a00-5a7a-11ea-8a81-fb07060e4dbc.png)

## Acceptance Criteria
### Update [Required]
- [ ] Fix responsiveness

## Definition of Done
- [ ] All of the requir

[2020-02-28 17:09] anmolcool007 commented on #477
Found this issue with the responsiveness of the website.

Can I take this up??

[2020-02-28 18:33] abhishekspeer commented on #477
Hi @anmolcool007, Sorry to say but this issue has already been reported, solved and referenced via a pull request which is yet to be reviewed and merged. I'm afraid to mention that this issue needs to be closed. If you want you can go through the pull request and suggest changes if you find any or you can find other issues to work on. Also, feel free to report other issues if you find any. Thanks!

[2020-02-29 09:49] arunikayadav42 opened #478 "Error while setting up portal"
I had an error with the version of psycopg version 2.6

Fix: change the version to >= 2.7
![psycopg-2 6_error](https://user-images.githubusercontent.com/28708494/75605215-d33ad100-5b06-11ea-8961-1859e6e98df4.png)

[2020-03-01 10:36] anmolcool007 commented on #477
Sure.
Thank you

[2020-03-01 10:36] #477 closed

[2020-03-01 11:31] abhishekspeer commented on #478
Hi @arunikayadav42, I'm not sure why version 2.6 is being installed in your case. Psycopg2 is already at version 2.7 as specified in the requirements.

Please find the requirements here for your reference:
https://github.com/anitab-org/portal/tree/develop/requirements

[2020-03-04 04:24] mayburgos commented on #478
@arunikayadav42 Abhishek has tried to help. Please respond.

Also, please use the issue templates we provide.

[2020-03-04 04:42] arunikayadav42 commented on #478
I am not sure why is it happening. Is there any work around?

[2020-03-04 19:02] abhishekspeer commented on #478
No worries @arunikayadav42. I’d recommend  you to go through README once. You’ll find all the steps to be followed in order successfully setup the development/production environment there. While following those steps, let us know in case you’re stuck. Here’s the link:
https://github.com/anitab-org/portal/blob/develop/README.md

[2020-03-04 20:51] ritwickraj78 opened #479 "Bracket missing on the request community page"
## Description
The request community form has a bracket in the Types of Community option.

## Estimation
[0.2] hours
![Screenshot from 2020-03-05 02-20-55](https://user-images.githubusercontent.com/43514828/75921891-f90a0200-5e87-11ea-997b-6231ef0f7d58.png)

[2020-03-04 20:55] ritwickraj78 commented on #479
@abhi20161997 The constants.py file in the community has a typo. I would like to fix it. Could you please assign this to me? Thank you

[2020-03-04 21:36] abhi20161997 commented on #479
@ritwickraj78 Ya thanks for detecting this minor yet critical bug. Please go on to work on this.

[2020-03-05 05:15] satya7289 commented on #263
@tapaswenipathak @isabelcosta  I want to work on this issue.

[2020-03-06 21:05] isabelcosta commented on #368
I am closing as this is done already @anitab-org/admins

[2020-03-06 21:05] #368 closed

[2020-03-07 12:49] isabelcosta commented on #467
Ok so now I can help more here with this issue. I was focused on maintaining mentorship-backend and mentorship-android, now I help more here. Going of first come and first serve. Since there are no updates from @cervantez07 , @pianeta051 do you want to work on this issue? Feel free to send a PR for it if that's the case, or let me know you will not work on this, so I can assign this to someone els

[2020-03-07 12:56] isabelcosta opened #482 "Add section on README to redirect contributors to Zulip channel regarding portal"
## Description

As a contributor,
I need to know where I can reach out the community,
so that I can discuss or see discussions of this project.

I would suggest adding a section such as "Contact us" or "How to reach us" to the README.
An example is what is on [mentorship-backend README](https://github.com/anitab-org/mentorship-backend/).

## Acceptance Criteria
### Update [Required]
- [ ] Add cont

[2020-03-08 02:43] arunikayadav42 commented on #482
Hi @isabelcosta can I work on this issue please?

[2020-03-08 02:45] arunikayadav42 commented on #478
Thanks a lot for helping out. I have been able to run it locally :)

[2020-03-08 02:45] #478 closed

[2020-03-08 07:48] sayashraaj commented on #482
Hey, I have updated the Readme.md file according to #482 description of issue.
I have opened a PR with all the necessary changes completed
Thank You

[2020-03-08 07:55] sayashraaj commented on #467
Done, I have updated the links.
Updated "anitaborg.org" to "anitab.org" on all links so it does not redirect to 400 Bad Request Page

[2020-03-08 08:53] sayashraaj commented on #482
Can I be assigned to work on this issue? I had opened a PR without being assigned by mistake. But I have done the work as requested in the issue #482

[2020-03-08 10:48] arunikayadav42 commented on #482
@isabelcosta I asked before to work on the issue. I could have also opened a pull request but awaited for you to assign the issue to me. Please assign the issue to me so that I can rightfully work on it. Thanks

[2020-03-09 10:21] arunikayadav42 opened #485 "Empty password not allowed during setting up locally"
## Description
As a contributor,
I should be able to setup the local database with an empty password too,
so that I can finish up setting up the project locally without any errors.

## Acceptance Criteria
### Update [Required]
- [ ] Add support for such functionality

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
[1] hours

[2020-03-09 12:22] arunikayadav42 opened #486 "Verify Email-Address message not displayed properly"
## Description
As a user,
I should be able to to see the verify email address  properly but it appears as shown in the mock below
#
## Mocks
![Screenshot from 2020-03-09 17-50-21](https://user-images.githubusercontent.com/28708494/76212489-97061f80-622e-11ea-8f37-eeb4c96a1fd7.png)

## Acceptance Criteria
### Update [Required]
- [ ] [Add support for such functionality]
### Enhancement to Update [Op

[2020-03-09 19:01] abhishekspeer commented on #486
Hi @arunikayadav42 , Sorry to say but this issue has already been reported, solved and referenced via a pull request which is yet to be reviewed and merged. I'm afraid to mention that this issue needs to be closed. If you want you can go through the pull request and suggest changes if you find any or you can find other issues to work on. Also, feel free to report other issues if you find any. Than

[2020-03-09 21:14] abhishekspeer commented on #462
@abhi20161997 could you please review it and merge if it works? Thanks! :)

[2020-03-09 21:15] abhishekspeer commented on #460
@abhi20161997 could you please review it and merge it if it works? Thanks!

[2020-03-09 21:16] abhishekspeer commented on #458
@abhi20161997 Could you please review the changes and merge this patch if no changes are needed? Thanks!

[2020-03-09 21:43] #486 closed

[2020-03-10 14:47] sammy1997 commented on #485
Hey @arunikayadav42 ! Why do you want to add this feature? Can you explain it a bit?

[2020-03-10 14:52] sammy1997 opened #487 "Fix Travis CI build which is failing for psql dependency"
## Description
As a developer,
I need update the travis yml file,
so that the PR builds fail.

## Mocks
![PSQL Error](https://user-images.githubusercontent.com/24635701/76324808-89bf6280-630c-11ea-88fd-9f925fcdcc56.png)

## Acceptance Criteria
### Update [Required]
- [ ] Travis should not fail for postgres or other setup errors

## Definition of Done
- [ ] All of the required items are completed.

[2020-03-10 14:57] ritwickraj78 commented on #487
@sammy1997 I would like to give it a try

[2020-03-10 14:58] sammy1997 commented on #487
@ritwickraj78 Go ahead. Please do this on a priority!

[2020-03-10 14:59] ritwickraj78 commented on #487
Yaa sure

[2020-03-10 22:15] arunikayadav42 commented on #485
Just because I was trying to set it up locally and I did not initially enter any passwords for the user. I got an error. Tried to remove the Password field from the database settings but still it did not work, so I had to move on to make another user without an empty password. So, just thought it could be good to allow empty passwords. or if we are not allowing for empty passwords, maybe it can be

[2020-03-10 22:16] arunikayadav42 commented on #482
@sammy1997 please assign this issue to me. Thanks.

[2020-03-10 22:38] isabelcosta commented on #482
@arunikayadav42 I will assign this to you :)

[2020-03-11 02:37] ritwickraj78 commented on #487
@sammy1997 While squashing commits I made a few errors so I have opened a new pull request all over again. The test which I have changed was causing an assertion error. The values posted did not match so had to make this change. Thank you and sorry for the inconvenience.

[2020-03-11 07:15] sammy1997 commented on #485
I think the readme update would be a better issue. Allowing an empty password doesn't seem like a good option. Please create a new issue for the readme update. I am closing this issue for now.

[2020-03-11 07:15] #485 closed

[2020-03-11 12:11] arunikayadav42 opened #491 "Add in readme file that empty password not allowed in database settings"
## Description
As a contributor,
I should be able to setup the local database with an empty password too,
but there are errors when so done. We can add in the readme file that such password must not be empty.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] Add this warning in the readme file

## Definition of Done
- [ ] All of the required items are complet

[2020-03-12 10:13] bismitaguha commented on #472
I am working on this issue

[2020-03-12 11:06] bismitaguha commented on #491
Hey @arunikayadav42 , I am working on this issue.

[2020-03-12 11:19] arunikayadav42 commented on #491
Hi I am a contributor too :). I am waiting for some maintained to add the necessary labels to it so that I can start working on it. Thanks

[2020-03-12 11:19] arunikayadav42 commented on #491
@sammy1997 @isabelcosta please add the necessary labels to it . thanks

[2020-03-12 23:15] bismitaguha commented on #471
Hey @aayush-05 , I would like to work on this issue. Please could you assign it to me.

[2020-03-13 07:08] anchalg00 commented on #470
Hi @aayush-05 , I would like to work on this issue , i would love if you could assign it to me

[2020-03-13 07:18] anchalg00 commented on #472
Hi , I would like to work on this issue , Please assign it to me

[2020-03-15 12:02] isabelcosta commented on #482
@arunikayadav42 do you need any help with this issue? Do you have any updates?

[2020-03-15 12:05] isabelcosta commented on #467
@sayashraaj can you link this issue on your PR? Have you submitted one PR?

[2020-03-15 12:10] isabelcosta opened #494 "Update references on CONTRIBUTING.md from slack to zulip"
## Description

As a contributor,
I need updated references to communication channels used by the community,
so that I can reach out to the community in the correct channels.

Contributing guidelines has still a reference to Slack channels. It should have link to Zulip and the appropriate stream. This should minimize confusion from newcomers

## Acceptance Criteria
### Update [Required]
- [ ] Upda

[2020-03-15 12:16] isabelcosta opened #495 "Remove broken links from README"
## Description

As a contributor,
I need up to date information on README,
so that I can understand the current state of the project.

Some links on README are out of date. Some of these are links at the beginning of the wiki that lead nowhere.

## Acceptance Criteria
### Update [Required]
- [ ] Update/Remove broken links on README

## Definition of Done
- [ ] All of the required items are complet

[2020-03-15 12:44] aayush-05 commented on #471
I am not a maintainer for this project, try asking on zulip

[2020-03-15 12:56] bismitaguha commented on #494
@isabelcosta Please could you assign this issue to me.

[2020-03-15 13:12] bismitaguha commented on #495
@isabelcosta I would like to work on this issue. I have checked the working and not working links for the purpose.

[2020-03-15 13:44] bismitaguha opened #497 "Add .vscode/ to .gitignore"
## Description
As a developer,
I need usually push updated code, and `.vscode/` is not added in the `.gitignore`. All the users using VSCode IDE for contributing are facing the same issue.

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [x] `.gitignore` file

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
0.25 hours

[2020-03-15 13:44] bismitaguha commented on #497
@isabelcosta I would like to work on this issue.

[2020-03-15 17:55] isabelcosta commented on #495
@bismitaguha I see you already are working on a first timers only issue, because of that can you please look for other issues? Feel free to share your findings here, if you want.

[2020-03-15 19:41] sayashraaj commented on #467
I have submitted a PR referencing this issue. I always fulfil my commitments as contributing to Open Source is what I genuinely like doing
The PR is referenced by #498

[2020-03-15 19:57] arunikayadav42 commented on #482
Yeah! I had some issues with my PC. will create a pull request.

[2020-03-16 06:03] #487 closed

[2020-03-16 06:26] BeKingsman commented on #472
Hii @isabelcosta , I would love to work on this issue. Can i proceed ?

[2020-03-16 07:23] BeKingsman commented on #409
Hii @mayburgos , i would love to work on this issue. Can i proceed ?

[2020-03-16 07:26] ritwickraj78 commented on #453
@abhi20161997 If no one is working on this issue could I please proceed?

[2020-03-16 08:39] sammy1997 commented on #471
@aayush-05 What kind of changes do you want to be implemented? Can you explain a bit?

[2020-03-16 08:50] sammy1997 commented on #470
Seems valid. But I think we should do all the package updates together than one by one. @abhi20161997 any views on that?

[2020-03-16 09:03] sammy1997 opened #502 "Update test_post_view for Travis CI build to pass"
## Description
As a developer,
I need to update a test,
so that the Travis build passes.

## Mocks

![Screenshot from 2020-03-16 14-29-59](https://user-images.githubusercontent.com/24635701/76739837-d1257300-6792-11ea-88ea-ea83a4836b7f.png)

## Acceptance Criteria
### Update [Required]
- [ ] Travis build should pass

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approv

[2020-03-16 09:03] sammy1997 commented on #502
@ritwickraj78 You can work on this as discussed!

[2020-03-16 09:19] ritwickraj78 commented on #502
Yes working on it!

[2020-03-16 09:49] abhi20161997 commented on #453
Yes @ritwickraj78  Please go ahead!

[2020-03-16 10:35] annabauza commented on #497
makes sense! approved.

[2020-03-16 10:56] ritwickraj78 commented on #502
@sammy1997  Shall I make the required changes in .gitignore file as well as mentioned in issue #497 ?

[2020-03-16 11:48] #502 closed

[2020-03-16 12:22] #497 closed

[2020-03-16 12:33] sammy1997 commented on #491
Hi @bismitaguha ! Please don't send PRs without getting assigned or without the issue getting approved!

[2020-03-16 12:55] bismitaguha commented on #491
@sammy1997 Will surely follow the rules!

[2020-03-16 17:24] sammy1997 commented on #491
Approving this issue. But as it is a minor change in the documentation and no one has been assigned yet, I am keeping this as a first-timer issue

[2020-03-16 17:26] sammy1997 commented on #479
@ritwickraj78 I see you were assigned this issue. Please send a PR or let us know if you are working on a different issue

[2020-03-16 17:29] sammy1997 commented on #472
@aayush-05 I think the URL has to be added to the Google developers console. How do you propose to resolve this? @abhi20161997 who has access to that currently?

[2020-03-16 17:35] sammy1997 commented on #465
Couldn't reproduce this error. I think we will open a dependency upload issue and update all dependencies than doing this separately for each dependency. Closing the issue for now
![Pillow version](https://user-images.githubusercontent.com/24635701/76784886-7adc2280-67da-11ea-9b1f-8347c86d323e.png)

[2020-03-16 17:35] #465 closed

[2020-03-16 17:43] sammy1997 commented on #457
@mayburgos @abhi20161997 The link still seems broken. Has the domain been configured properly?

[2020-03-16 17:53] bismitaguha opened #505 "Add jobs of pylint, docs, formatting in .travis.yml"
## Description
As a contributor,
I need to make respective tests for each contribution,
so that I can ensure proper code-checks

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [x] `.travis.yml`
### Enhancement to Update [Optional]
- [x] Travis CI tests

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
1.5 hours

[2020-03-16 17:55] sammy1997 commented on #425
@Fenn-CS @mayburgos What's the status of this? It seems to be from the last GSoC program! There seems to be some discussion on the PR, but no update after that

[2020-03-16 17:55] bismitaguha commented on #505
@sammy1997 @isabelcosta I would like to work on this issue. Please add the respective labels and assign it to me.

[2020-03-16 17:56] sammy1997 commented on #410
@swatisingh45 The last status shows that you were working on it. Should I mark this available?

[2020-03-16 18:01] ritwickraj78 commented on #479
@sammy1997 if you could please review and merge my PR #506 . I will submit a PR for this issue as well.

[2020-03-16 18:15] sammy1997 commented on #505
Can you explain a bit about the changes you want to make?

[2020-03-16 18:15] ritwickraj78 commented on #479
@sammy1997 I have linked a PR which fixes #453 and #479

[2020-03-16 18:26] bismitaguha commented on #505
@sammy1997 I wish to add jobs for python testing. No jobs are currently added in the `.travis.yml`. Adding jobs of `pylint`, 'docs' and 'formatting' will check all the formatting and pylint errors in the code before the build. This will maintain the code quality and check linting of every PR.

[2020-03-17 05:48] sammy1997 commented on #505
Ok. Seems valid. Approving this

[2020-03-17 05:53] sammy1997 commented on #505
Adding a Pylint might cause the build to fail though. Don't send a PR yet. We need to discuss whether we want that in travis or do we want to add codacy for separate linting checks like VMS. We already have a flake test

[2020-03-17 05:57] #494 closed

[2020-03-17 08:21] Fenn-CS commented on #425
@sammy1997 ummm, I wonder if the cards such as the coverage on 99% percent on the readme reflects what actually exists, that's what would determine the state of this.

[2020-03-17 09:46] bismitaguha commented on #505
Codacy is a better option as its only purpose is checking code quality. Travis CI can be kept separate only for the build purpose. Flake test is a part of `pytest`. We can use the complete features of `pytest`, not staying just limited to `flake test`.
@sammy1997 What are your suggestions on this?

[2020-03-17 10:15] BeKingsman commented on #390
@mayburgos  is this issue still available ? can i work on this ?

[2020-03-17 12:29] BeKingsman commented on #495
@isabelcosta  Can i work on this issue ?

[2020-03-17 15:21] rsharvill commented on #495
@isabelcosta I would be happy to work on this issue if still available!

[2020-03-18 11:05] #462 closed

[2020-03-18 13:45] #399 closed

[2020-03-18 19:15] BeKingsman commented on #491
can i take this issue ?

[2020-03-19 09:24] freyamehta99 commented on #385
Hi @Fenn-CS @mayburgos  I would like to work on this issue. Could you assign it to me?

[2020-03-19 09:27] freyamehta99 commented on #432
Hi @mayburgos  I would like to work on this issue. If this issue is still available, could you assign it to me?

[2020-03-19 09:33] freyamehta99 commented on #449
Hi @abhi20161997  I would like to work on this issue. Could you assign it to me?

[2020-03-19 15:02] #460 closed

[2020-03-19 15:06] abhi20161997 commented on #449
Hi @freyamehta99 . Ya please go on to work on this. if it's your first issue, please ensure all norms of organization are followed while submitting PR for the same.

[2020-03-19 15:39] anchalg00 commented on #495
@isabelcosta Please can you assign this issue to me

[2020-03-19 18:55] kashishmadan opened #509 "Project link broken"
## Description
As a [USER],
I need [TO DO THIS],
so that I can [ACCOMPLISH THAT].

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
[INSERT NUMBER HERE] hours

[2020-03-19 18:56] kashishmadan commented on #509
For the root URL, the index.html is not provided

[2020-03-20 06:25] BeKingsman opened #510 "Change "Sign up" to "Sign in""
## Description
As a user, i need to see "Sign in using ...." instead of "Sign up using ..." at the login page.

# Mocks
<img width="1440" alt="login page" src="https://user-images.githubusercontent.com/53928332/77140933-2a4a1b00-6aa1-11ea-8a8b-e82fd4b24012.png">

## Acceptance Criteria
### Update [Required]
- Code has to be updated

## Definition of Done
- [ ] All of the required items are complet

[2020-03-20 06:26] BeKingsman commented on #510
@sammy1997 Can fix this issue now ?

[2020-03-20 08:09] aayush-05 commented on #472
@sammy1997 I am not sure but looks like this hasn't been developed on the backend yet. I couldn't find any authentication backends for these services in the settings file.

[2020-03-20 08:14] aayush-05 commented on #471
It is just a small syntax bug @sammy1997 . With django 1.11, we are not required to mention the database driver in the settings file. It is not a problem right now, but can be deprecated with the coming versions.
![image](https://user-images.githubusercontent.com/47032027/77146353-dfd09a80-6ab0-11ea-85e9-11741cb1ab64.png)

[2020-03-20 16:12] anchalg00 opened #511 "Updating "Setup for developers (Windows)" section of the README"
## Description
As a user,
I need to be able to build the application on windows as smoothly as I can on linux, but there are a few errors encountered even when the steps of the README are exactly followed .

The "Setup for developers (Windows)" section of the README needs to be updated so that these errors can be avoided.

## Mocks
The following error is encountered after running "python manage.py

[2020-03-20 19:26] sammy1997 commented on #495
@BeKingsman As your's is the first comment, I am assigning this to you!

[2020-03-20 19:31] sammy1997 commented on #510
Yeah go ahead

[2020-03-20 19:45] sammy1997 commented on #389
@ilyasofficial1617 will you be working on this? Or should I make it available for others?

[2020-03-20 19:45] sammy1997 commented on #509
Please follow issue template

[2020-03-20 19:45] #509 closed

[2020-03-20 19:47] sammy1997 commented on #511
Hey @anchalg00 ! Approved the issue! Please comment if you want to work on it, or if I should open it up for others

[2020-03-20 20:06] anchalg00 commented on #511
@sammy1997 Please assign this issue to me , thank you !

[2020-03-20 20:19] sammy1997 commented on #511
Go ahead @anchalg00 !

[2020-03-21 01:08] ilyasofficial1617 commented on #389
Sure, make it open

[2020-03-21 04:58] BeKingsman commented on #495
@sammy1997  Working on it.

[2020-03-21 05:14] BeKingsman commented on #510
@sammy1997 working on it. will link the PR soon. Thanks for assigning.

[2020-03-21 17:47] ritwickraj78 commented on #385
@abhi20161997  @sammy1997 Is this still available? May I work on it?

[2020-03-22 20:34] #495 closed

[2020-03-22 20:36] #510 closed

[2020-03-23 05:08] arunikayadav42 commented on #491
@sammy1997 can I take up this issue next?

[2020-03-23 18:21] isabelcosta commented on #425
oh I was trying to clean the repo and did not notice you were still involved with this issue. I will undo my actions @Fenn-CS

[2020-03-24 09:54] #511 closed

[2020-03-24 10:16] #458 closed

[2020-03-30 21:53] pratyushchry opened #516 "Virtual Meetup on a Zoom/Hangouts/WebEx Call with a CTA"
## Description
Users should also be allowed to organize virtual meetups using video conferencing applications like Zoom/Hangouts/WebEx calls. This is very vital now that most parts of the world are under lockdown and amidst COVID 19, we must follow and encourage social distancing.

### Update [Required]
- [ ] Add option for members to RSVP themselves with a Zoom/Hangouts Call Link
- [ ] Also have

[2020-04-02 09:00] ritwickraj78 commented on #449
@abhi20161997 If no one is working on this issue can I go for it?

[2020-04-02 09:20] abhi20161997 commented on #449
@ritwickraj78 ya I see no PRs for this. Please go on.

[2020-04-03 18:49] #479 closed

[2020-04-04 05:15] arunikayadav42 commented on #491
@sammy1997 @isabelcosta @abhi20161997 can I take this issue up?

[2020-04-04 08:36] ritwickraj78 commented on #471
@sammy1997 @abhi20161997 I would like to take up this issue. May I start working on it?

[2020-04-04 19:52] abhi20161997 commented on #491
@arunikayadav42 ya please go on to work on this.

[2020-04-04 19:54] abhi20161997 commented on #471
@ritwickraj78 Ya you can work on this !

[2020-04-05 08:57] #471 closed

[2020-04-05 08:58] #482 closed

[2020-04-05 09:24] sammy1997 commented on #311
Making this issue available to students. Have closed the linked PR.

[2020-04-05 09:54] ritwickraj78 commented on #311
@sammy1997  I would like to work on this issue. May I proceed?

[2020-04-05 10:47] sammy1997 commented on #311
Yeah go ahead